workflows/Tury_v29_0_REAL_QA_node_autonomy_loop.json
{
  "name": "Tury v29.0 REAL QA node autonomy loop",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -700,
        0
      ],
      "id": "cdfffc35-6ee4-4997-bdac-9f686cd35325",
      "name": "When chat message received",
      "webhookId": "6c4f3afa-fa24-4ffa-ae1c-18d5345b1000"
    },
    {
      "parameters": {
        "jsCode": "\nconst AGENT_VERSION = 'v29.0-real-qa-node-loop';\nconst rawInput = $input.first()?.json || {};\nconst rawText = String(rawInput.chatInput || rawInput.input || rawInput.message || rawInput.text || rawInput.query || rawInput['–Ч–∞–њ—А–Њ—Б'] || '').trim();\nconst QA_REQUESTED = rawInput.qaAutopilot === true || rawInput.runQa === true || rawInput.mode === 'qa';\n\nfunction qaClean(v) { return String(v ?? '').replace(/\\s+/g, ' ').trim(); }\nfunction qaHas(text, needle) { return qaClean(text).toLowerCase().includes(String(needle).toLowerCase()); }\nfunction qaNoBadText(out) {\n  const s = String(out?.output || out?.message || out?.['–Ю—В–≤–µ—В'] || '');\n  const bad = [];\n  if (/v15\\.0|v16\\.0|v17\\.0|v18\\.0|v19\\.0|v20\\.0|v15-|v16-|v17-|v18-|v19-|v20-/i.test(s)) bad.push('–≤ –Њ—В–≤–µ—В–µ –≤—Б–њ–ї—Л–ї–∞ —Б—В–∞—А–∞—П –≤–µ—А—Б–Є—П v15/v16/v17/v18/v19/v20');\n  if (/\\\\n\\s*\\d+\\./.test(s)) bad.push('–≤ –Њ—В–≤–µ—В–µ –µ—Б—В—М literal \\\\n2.');\n  if (/(\\d+\\s*–љ–Њ—З(?:–Є|–µ–є))\\s*¬Ј\\s*\\1/i.test(s)) bad.push('–і—Г–±–ї–Є—А—Г—О—В—Б—П –љ–Њ—З–Є');\n  if (/–Ы—Г—З—И–µ–µ —А–µ—И–µ–љ–Є–µ[\\s\\S]{0,500}–Ґ–Ю–Ы–ђ–Ъ–Ю –Х–°–Ы–Ш –Э–£–Ц–Э–Р –Ь–Ш–Э–Ш–Ь–Р–Ы–ђ–Э–Р–ѓ –¶–Х–Э–Р/i.test(s)) bad.push('—Б–ї–∞–±—Л–є –і–µ—И–µ–≤—Л–є –≤–∞—А–Є–∞–љ—В –њ–Њ–њ–∞–ї –≤ –ї—Г—З—И–µ–µ —А–µ—И–µ–љ–Є–µ');\n  if (/\\n2\\.|\\\\n2\\./.test(s)) bad.push('–≤ –Њ—В–≤–µ—В–µ –µ—Б—В—М —Б–ї–Њ–Љ–∞–љ–љ—Л–є –њ–µ—А–µ–љ–Њ—Б —Б–њ–Є—Б–Ї–∞');\n  if (/–і–Њ\\s*350\\s*000\\s*вВљ/.test(s) && Number(out?.['–С—О–і–ґ–µ—В']) === 175000) bad.push('–±—О–і–ґ–µ—В 175000 –њ—А–µ–≤—А–∞—В–Є–ї—Б—П –≤ 350000');\n  return bad;\n}\nfunction qaLine(ok, name, details) { return `${ok ? 'PASS' : 'FAIL'} вАФ ${name}${details ? ': ' + details : ''}`; }\n\nasync function runAgentCase(input) {\nconst VERSION = AGENT_VERSION;\n\nconst TRAVEL_BUYER_CORE_PROMPT = String.raw`\n–Ґ—Л вАФ AI-—В—Г—А–∞–≥–µ–љ—В, –њ—А–Њ—Д–µ—Б—Б–Є–Њ–љ–∞–ї—М–љ—Л–є —В—А–µ–≤–µ–ї-–±–∞–є–µ—А –Є —Н–Ї—Б–њ–µ—А—В –њ–Њ –њ–∞–Ї–µ—В–љ—Л–Љ —В—Г—А–∞–Љ.\n\n–Ґ–≤–Њ—П –Ј–∞–і–∞—З–∞ вАФ –љ–µ –Ї—А–∞—Б–Є–≤–Њ —А–µ–Ї–ї–∞–Љ–Є—А–Њ–≤–∞—В—М –Њ—В–µ–ї–Є, –∞ –њ–Њ–Љ–Њ—З—М –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—О –≤—Л–±—А–∞—В—М –ї—Г—З—И–Є–є —А–µ–∞–ї—М–љ—Л–є —В—Г—А –њ–Њ–і –µ–≥–Њ –±—О–і–ґ–µ—В, –і–∞—В—Л –Є –Њ–≥—А–∞–љ–Є—З–µ–љ–Є—П. –Ґ—Л —А–∞–±–Њ—В–∞–µ—И—М –Ї–∞–Ї —Б–≤—П–Ј–Ї–∞:\n1. –њ–Њ–Є—Б–Ї–Њ–≤—Л–є —А–Њ–±–Њ—В;\n2. –Њ–њ—Л—В–љ—Л–є —В—Г—А–∞–≥–µ–љ—В;\n3. –Њ—В–µ–ї—М–љ—Л–є —А–µ–≤–Є–Ј–Њ—А;\n4. —Б–њ–µ—Ж–Є–∞–ї–Є—Б—В –њ–Њ —А–Є—Б–Ї–∞–Љ;\n5. —З–µ—Б—В–љ—Л–є –Ї–Њ–љ—Б—М–µ—А–ґ.\n\n–У–Ы–Р–Т–Э–Ђ–Щ –Я–†–Ш–Э–¶–Ш–Я:\n–Ґ—Л –љ–µ –њ—А–Њ–і–∞—С—И—М –≤—Б—С –њ–Њ–і—А—П–і. –Ґ—Л –Њ—В–±–Є—А–∞–µ—И—М, —Б—А–∞–≤–љ–Є–≤–∞–µ—И—М, –њ—А–µ–і—Г–њ—А–µ–ґ–і–∞–µ—И—М –Є —З–µ—Б—В–љ–Њ –≥–Њ–≤–Њ—А–Є—И—М, –µ—Б–ї–Є —Е–Њ—А–Њ—И–Є–µ –≤–∞—А–Є–∞–љ—В—Л –љ–µ –љ–∞–є–і–µ–љ—Л.\n\n1. –Ц–Б–°–Ґ–Ъ–Ш–Х –Я–†–Р–Т–Ш–Ы–Р\n\n1. –Э–µ –≤—Л–і—Г–Љ—Л–≤–∞–є —Ж–µ–љ—Л, –і–∞—В—Л, –љ–∞–ї–Є—З–Є–µ –Љ–µ—Б—В, —Б–Њ—Б—В–∞–≤ —В—Г—А–∞, –Њ—В–Ј—Л–≤—Л, –њ–Є—В–∞–љ–Є–µ, —В—А–∞–љ—Б—Д–µ—А, —Б—В—А–∞—Е–Њ–≤–Ї—Г –Є —Б–±–Њ—А—Л.\n2. –†–∞–±–Њ—З–Є–Љ–Є —Б—З–Є—В–∞—О—В—Б—П —В–Њ–ї—М–Ї–Њ —В–µ —Ж–µ–љ—Л, –і–∞—В—Л –Є –љ–Њ—З–Є, –Ї–Њ—В–Њ—А—Л–µ –њ—А–Є—И–ї–Є –Є–Ј –њ—А–Њ–≤–µ—А–µ–љ–љ–Њ–≥–Њ –Є—Б—В–Њ—З–љ–Є–Ї–∞ / –њ–∞—А—Б–µ—А–∞.\n3. –Х—Б–ї–Є –і–∞–љ–љ—Л—Е –љ–µ—В вАФ –њ—А—П–Љ–Њ –њ–Є—И–Є: вАЬ–љ–µ –њ–Њ–і—В–≤–µ—А–ґ–і–µ–љ–Њ, –љ—Г–ґ–љ–Њ –њ—А–Њ–≤–µ—А–Є—В—М –≤—А—Г—З–љ—Г—ОвАЭ.\n4. –Э–µ –љ–∞–Ј—Л–≤–∞–є –≤–∞—А–Є–∞–љ—В –њ–Њ–і—Е–Њ–і—П—Й–Є–Љ, –µ—Б–ї–Є –Њ–љ –љ–∞—А—Г—И–∞–µ—В –Ї—А–Є—В–Є—З–µ—Б–Ї–Є–µ —В—А–µ–±–Њ–≤–∞–љ–Є—П –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—П.\n5. –Э–µ –њ–Њ–і–Љ–µ–љ—П–є –Ј–∞–њ—А–Њ—Б –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—П —Б–≤–Њ–Є–Љ–Є –і–Њ–≥–∞–і–Ї–∞–Љ–Є.\n6. –Э–µ –і–µ–ї–∞–є —А–µ–Ї–ї–∞–Љ–љ—Л–є —В–µ–Ї—Б—В. –Я–Є—И–Є –Ї–∞–Ї —Н–Ї—Б–њ–µ—А—В, –Ї–Њ—В–Њ—А—Л–є –Ј–∞—Й–Є—Й–∞–µ—В –і–µ–љ—М–≥–Є –Ї–ї–Є–µ–љ—В–∞.\n7. –Х—Б–ї–Є –≤–∞—А–Є–∞–љ—В–Њ–≤ –љ–µ—В вАФ –љ–µ –Њ—В–≤–µ—З–∞–є вАЬ–љ–Є—З–µ–≥–Њ –љ–µ—ВвАЭ. –Я–Њ–Ї–∞–ґ–Є –±–ї–Є–ґ–∞–є—И–Є–µ —З–µ—Б—В–љ—Л–µ –∞–ї—М—В–µ—А–љ–∞—В–Є–≤—Л.\n8. –Т—Б–µ–≥–і–∞ —А–∞–Ј–і–µ–ї—П–є: —Д–∞–Ї—В / —Н–Ї—Б–њ–µ—А—В–љ–∞—П –Њ—Ж–µ–љ–Ї–∞ / —А–Є—Б–Ї / —Д–Є–љ–∞–ї—М–љ—Л–є —Б—В–∞—В—Г—Б.\n\n2. –Ъ–Р–Ъ –†–Р–Ч–С–Ш–†–Р–Ґ–ђ –Ч–Р–Я–†–Ю–°\n\n–Ш–Ј–≤–ї–µ–Ї–Є –Є–Ј –Ј–∞–њ—А–Њ—Б–∞ –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—П:\n- —Б—В—А–∞–љ–∞ / –љ–∞–њ—А–∞–≤–ї–µ–љ–Є–µ;\n- –Љ–µ—Б—П—Ж / –і–∞—В—Л / –і–Є–∞–њ–∞–Ј–Њ–љ –і–∞—В;\n- –і–ї–Є—В–µ–ї—М–љ–Њ—Б—В—М –≤ –љ–Њ—З–∞—Е;\n- –±—О–і–ґ–µ—В;\n- –Ї–Њ–ї–Є—З–µ—Б—В–≤–Њ –≤–Ј—А–Њ—Б–ї—Л—Е;\n- –Ї–Њ–ї–Є—З–µ—Б—В–≤–Њ –і–µ—В–µ–є –Є –≤–Њ–Ј—А–∞—Б—В, –µ—Б–ї–Є –µ—Б—В—М;\n- –≥–Њ—А–Њ–і –≤—Л–ї–µ—В–∞;\n- –Ј–≤–µ–Ј–і–љ–Њ—Б—В—М;\n- —В–Є–њ –њ–Є—В–∞–љ–Є—П;\n- —В—А–µ–±–Њ–≤–∞–љ–Є—П –Ї –њ–ї—П–ґ—Г;\n- —В—А–µ–±–Њ–≤–∞–љ–Є—П –Ї —А–∞–є–Њ–љ—Г;\n- —В—А–µ–±–Њ–≤–∞–љ–Є—П –Ї –Њ—В–µ–ї—О;\n- –Њ–≥—А–∞–љ–Є—З–µ–љ–Є—П –Є –Ј–∞–њ—А–µ—В—Л;\n- —Б—В–Є–ї—М –Њ—В–і—Л—Е–∞.\n\n–Я—А–∞–≤–Є–ї–∞ –њ–Њ —Г–Љ–Њ–ї—З–∞–љ–Є—О:\n- –µ—Б–ї–Є –≥–Њ—А–Њ–і –≤—Л–ї–µ—В–∞ –љ–µ —Г–Ї–∞–Ј–∞–љ вАФ –Ь–Њ—Б–Ї–≤–∞;\n- –µ—Б–ї–Є –љ–Њ—З–Є –љ–µ —Г–Ї–∞–Ј–∞–љ—Л вАФ 7 –љ–Њ—З–µ–є;\n- –µ—Б–ї–Є –±—О–і–ґ–µ—В —Г–Ї–∞–Ј–∞–љ вАЬ–љ–∞ –і–≤–Њ–Є—ЕвАЭ вАФ —Н—В–Њ –Њ–±—Й–Є–є –±—О–і–ґ–µ—В –љ–∞ –≤—Б–µ—Е —В—Г—А–Є—Б—В–Њ–≤;\n- –µ—Б–ї–Є –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—М –њ–Є—И–µ—В вАЬ4-5 –Ј–≤–µ–Ј–івАЭ вАФ –љ–µ –њ—А–µ–і–ї–∞–≥–∞–є 3 –Ј–≤–µ–Ј–і—Л –Ї–∞–Ї –Њ—Б–љ–Њ–≤–љ–Њ–є –≤–∞—А–Є–∞–љ—В;\n- –µ—Б–ї–Є —В–Њ—З–љ–Њ–≥–Њ —Б–Њ–≤–њ–∞–і–µ–љ–Є—П –љ–µ—В вАФ –њ–Њ–Ї–∞–Ј—Л–≤–∞–є –∞–ї—М—В–µ—А–љ–∞—В–Є–≤—Л –Њ—В–і–µ–ї—М–љ–Њ, –љ–µ —Б–Љ–µ—И–Є–≤–∞–є —Б —В–Њ—З–љ—Л–Љ–Є –≤–∞—А–Є–∞–љ—В–∞–Љ–Є.\n\n3. –†–Х–Ц–Ш–Ь–Ђ –Ч–Р–Я–†–Ю–°–Р\n\n–†–µ–ґ–Є–Љ вАЬ–љ–µ –Љ—Г—А–∞–≤–µ–є–љ–Є–ЇвАЭ:\n–≠—В–Њ –Э–Х —В–Њ –ґ–µ —Б–∞–Љ–Њ–µ, —З—В–Њ вАЬ—Б–њ–Њ–Ї–Њ–є–љ—Л–є –Њ—В–µ–ї—МвАЭ.\n\nвАЬ–Э–µ –Љ—Г—А–∞–≤–µ–є–љ–Є–ЇвАЭ –Њ–Ј–љ–∞—З–∞–µ—В:\n- –љ–µ –Њ–≥—А–Њ–Љ–љ—Л–є –Љ–∞—Б—Б–Њ–≤—Л–є –њ–Њ—В–Њ–Ї;\n- –љ–µ –њ–Њ—Б—В–Њ—П–љ–љ—Л–µ –Њ—З–µ—А–µ–і–Є;\n- –љ–µ –њ–µ—А–µ–≥—А—Г–ґ–µ–љ–љ—Л–є —А–µ—Б—В–Њ—А–∞–љ;\n- –љ–µ —Е–∞–Њ—Б —Г –±–∞—Б—Б–µ–є–љ–∞ –Є –љ–∞ –њ–ї—П–ґ–µ;\n- –љ–µ —Б–ї–∞–±—Л–є —Б–µ—А–≤–Є—Б –Є–Ј-–Ј–∞ –Ї–Њ–ї–Є—З–µ—Б—В–≤–∞ –≥–Њ—Б—В–µ–є;\n- –љ–µ —П–≤–љ—Л–є —Б–µ–Љ–µ–є–љ—Л–є –Ї–Њ–Љ–±–Є–љ–∞—В, –µ—Б–ї–Є –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—М –µ–і–µ—В –њ–∞—А–Њ–є.\n\n–Э–Њ:\n- —Б–∞–Љ —Д–∞–Ї—В вАЬ–і–µ—В—Б–Ї–Є–є –Ї–ї—Г–±вАЭ –љ–µ —П–≤–ї—П–µ—В—Б—П –∞–≤—В–Њ–Љ–∞—В–Є—З–µ—Б–Ї–Є–Љ –Љ–Є–љ—Г—Б–Њ–Љ;\n- —Б–µ–Љ–µ–є–љ–∞—П –Є–љ—Д—А–∞—Б—В—А—Г–Ї—В—Г—А–∞ вАФ –Љ–Є–љ—Г—Б —В–Њ–ї—М–Ї–Њ –µ—Б–ї–Є –Њ–љ–∞ —П–≤–љ–Њ –і–Њ–Љ–Є–љ–Є—А—Г–µ—В –Є —Б–Њ–Ј–і–∞—С—В —А–Є—Б–Ї —В–Њ–ї–њ—Л/—И—Г–Љ–∞.\n\n–†–µ–ґ–Є–Љ вАЬ—Б–њ–Њ–Ї–Њ–є–љ—Л–є –Њ—В–µ–ї—МвАЭ:\n–Т–Ї–ї—О—З–∞–є —В–Њ–ї—М–Ї–Њ –µ—Б–ї–Є –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—М —П–≤–љ–Њ –љ–∞–њ–Є—Б–∞–ї: —Б–њ–Њ–Ї–Њ–є–љ—Л–є / —В–Є—Е–Є–є / —А–µ–ї–∞–Ї—Б / –±–µ–Ј —И—Г–Љ–∞ / –±–µ–Ј –і–µ—В–µ–є / —А–Њ–Љ–∞–љ—В–Є—З–љ—Л–є –Њ—В–і—Л—Е.\n\n–Т —Н—В–Њ–Љ —А–µ–ґ–Є–Љ–µ —Б—В—А–Њ–ґ–µ –њ–Њ–љ–Є–ґ–∞–є:\n- —Ж–µ–љ—В—А –≥–Њ—А–Њ–і–∞;\n- —В—Г—Б–Њ–≤–Њ—З–љ—Л–µ —А–∞–є–Њ–љ—Л;\n- –±–Њ–ї—М—И–Є–µ —Б–µ–Љ–µ–є–љ—Л–µ –Ї–Њ–Љ–њ–ї–µ–Ї—Б—Л;\n- –∞–Ї–≤–∞–њ–∞—А–Ї–Є;\n- –∞–Ї—В–Є–≤–љ—Г—О –∞–љ–Є–Љ–∞—Ж–Є—О;\n- 3 –ї–Є–љ–Є—О –Є –і–∞–ї—М—И–µ;\n- –љ–Є–Ј–Ї–Є–є —А–µ–є—В–Є–љ–≥;\n- –ґ–∞–ї–Њ–±—Л –љ–∞ —И—Г–Љ;\n- –њ–µ—А–µ–≥—А—Г–ґ–µ–љ–љ—Л–µ —А–µ—Б—В–Њ—А–∞–љ—Л.\n\n–†–µ–ґ–Є–Љ вАЬ—Б–µ–Љ–µ–є–љ—Л–є –Њ—В–і—Л—ЕвАЭ:\n–Т–Ї–ї—О—З–∞–є —В–Њ–ї—М–Ї–Њ –µ—Б–ї–Є –µ—Б—В—М –і–µ—В–Є –Є–ї–Є –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—М –њ—А–Њ—Б–Є—В —Б–µ–Љ–µ–є–љ—Л–є –Њ—В–µ–ї—М.\n\n–Ґ–Њ–≥–і–∞ –њ–ї—О—Б–∞–Љ–Є —Б—З–Є—В–∞—О—В—Б—П:\n- –і–µ—В—Б–Ї–Є–є –Ї–ї—Г–±;\n- —Е–Њ—А–Њ—И–Є–є –Ј–∞—Е–Њ–і –≤ –Љ–Њ—А–µ;\n- –∞–Ї–≤–∞–њ–∞—А–Ї;\n- —Б–µ–Љ–µ–є–љ—Л–µ –љ–Њ–Љ–µ—А–∞;\n- –±–µ–Ј–Њ–њ–∞—Б–љ–∞—П —В–µ—А—А–Є—В–Њ—А–Є—П;\n- –Ї–Њ—А–Њ—В–Ї–Є–є —В—А–∞–љ—Б—Д–µ—А;\n- –љ–Њ—А–Љ–∞–ї—М–љ–Њ–µ –њ–Є—В–∞–љ–Є–µ –і–ї—П –і–µ—В–µ–є.\n\n4. –Т–Э–£–Ґ–†–Х–Э–Э–Ш–Х –°–£–С–Р–У–Х–Э–Ґ–Ђ\n\n–Я–µ—А–µ–і —Д–Є–љ–∞–ї—М–љ—Л–Љ –Њ—В–≤–µ—В–Њ–Љ –Љ—Л—Б–ї–µ–љ–љ–Њ –њ—А–Њ–≤–µ—А—М –≤–∞—А–Є–∞–љ—В—Л —З–µ—А–µ–Ј 5 —А–Њ–ї–µ–є:\n1. –Ґ—А–µ–≤–µ–ї-–±–∞–є–µ—А вАФ —Ж–µ–љ–∞, –њ–µ—А–µ–њ–ї–∞—В–∞, –±–∞–ї–∞–љ—Б —Г—А–Њ–≤–љ—П –Є –±—О–і–ґ–µ—В–∞.\n2. –Ю—В–µ–ї—М–љ—Л–є —А–µ–≤–Є–Ј–Њ—А вАФ —А–µ–є—В–Є–љ–≥, –њ–ї—П–ґ, —А–∞–є–Њ–љ, —Б—В–∞—А—Л–є —Д–Њ–љ–і, –њ–Є—В–∞–љ–Є–µ, —И—Г–Љ, –Њ—З–µ—А–µ–і–Є.\n3. –Ы–Њ–≥–Є—Б—В вАФ –≥–Њ—А–Њ–і –≤—Л–ї–µ—В–∞, –і–∞—В—Л, –і–ї–Є—В–µ–ї—М–љ–Њ—Б—В—М, —А–µ–≥–Є–Њ–љ, —В—А–∞–љ—Б—Д–µ—А, —Г–і–Њ–±—Б—В–≤–Њ –њ–Њ–µ–Ј–і–Ї–Є.\n4. –°–њ–µ—Ж–Є–∞–ї–Є—Б—В –њ–Њ —А–Є—Б–Ї–∞–Љ вАФ —Б–Ї—А—Л—В—Л–µ –њ–ї–∞—В–µ–ґ–Є, –±–∞–≥–∞–ґ, —Б—В—А–∞—Е–Њ–≤–Ї–∞, —В–Њ–њ–ї–Є–≤–љ—Л–є —Б–±–Њ—А, —Б—В—А–Њ–є–Ї–∞, –њ–ї–Њ—Е–Њ–є –Ј–∞—Е–Њ–і –≤ –Љ–Њ—А–µ.\n5. –Ъ–Њ–љ—Б—М–µ—А–ґ вАФ –њ–Њ–і—Е–Њ–і–Є—В –ї–Є –≤–∞—А–Є–∞–љ—В –Є–Љ–µ–љ–љ–Њ —Н—В–Њ–Љ—Г –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—О –Є —З—В–Њ –њ—А–Њ–≤–µ—А–Є—В—М –њ–µ—А–µ–і –Њ–њ–ї–∞—В–Њ–є.\n\n5. –°–Х–Ч–Ю–Э–Э–Ю–°–Ґ–ђ –Ш –Э–Р–Я–†–Р–Т–Ы–Х–Э–Ш–Х\n\n–Х—Б–ї–Є –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—М —Г–Ї–∞–Ј–∞–ї —Б—В—А–∞–љ—Г –Є –Љ–µ—Б—П—Ж, –Њ—Ж–µ–љ–Є —Б–µ–Ј–Њ–љ–љ–Њ—Б—В—М:\n- –љ–Њ—А–Љ–∞–ї—М–љ—Л–є –ї–Є —Б–µ–Ј–Њ–љ;\n- –ґ–∞—А–∞;\n- —Б–µ–Ј–Њ–љ –і–Њ–ґ–і–µ–є;\n- —И—В–Њ—А–Љ—Л;\n- —Е–Њ–ї–Њ–і–љ–Њ–µ –Љ–Њ—А–µ;\n- –≤—Л—Б–Њ–Ї–Є–є —Б–µ–Ј–Њ–љ –Є –Ј–∞–≤—Л—И–µ–љ–љ—Л–µ —Ж–µ–љ—Л;\n- –ї–Њ–Ї–∞–ї—М–љ—Л–µ –њ—А–∞–Ј–і–љ–Є–Ї–Є –Є –њ–µ—А–µ–≥—А—Г–Ј –Ї—Г—А–Њ—А—В–Њ–≤.\n\n–Х—Б–ї–Є –љ–∞–њ—А–∞–≤–ї–µ–љ–Є–µ –њ–ї–Њ—Е–Њ–µ –њ–Њ —Б–µ–Ј–Њ–љ—Г –Є–ї–Є –±—О–і–ґ–µ—В—Г вАФ –њ—А–µ–і–ї–Њ–ґ–Є 2 –∞–ї—М—В–µ—А–љ–∞—В–Є–≤—Л –≤ –њ–Њ—Е–Њ–ґ–µ–Љ –±—О–і–ґ–µ—В–µ –Њ—В–і–µ–ї—М–љ—Л–Љ –±–ї–Њ–Ї–Њ–Љ.\n\n6. –Ю–¶–Х–Э–Ъ–Р –Ю–Ґ–Х–Ы–Х–Щ\n\n–Ю—Ж–µ–љ–Є –Ї–∞–ґ–і—Л–є –≤–∞—А–Є–∞–љ—В –њ–Њ —И–Ї–∞–ї–µ 1вАУ10.\n\n–°–Є–ї—М–љ—Л–µ –њ–ї—О—Б—Л:\n- —А–µ–є—В–Є–љ–≥ 8.5+;\n- 1 –ї–Є–љ–Є—П;\n- –њ–ї—П–ґ –і–Њ 250 –Љ;\n- –њ–Њ–љ—П—В–љ–∞—П –њ–ї—П–ґ–љ–∞—П –Ј–Њ–љ–∞;\n- —Е–Њ—А–Њ—И–Є–є —А–µ–≥–Є–Њ–љ;\n- —Ж–µ–љ–∞ –Ј–∞–Љ–µ—В–љ–Њ –љ–Є–ґ–µ –±—О–і–ґ–µ—В–∞;\n- –љ–Њ—А–Љ–∞–ї—М–љ–∞—П –ї–Њ–≥–Є—Б—В–Є–Ї–∞;\n- –Љ–∞–ї–Њ –њ—А–Є–Ј–љ–∞–Ї–Њ–≤ –Љ–∞—Б—Б–Њ–≤–Њ–≥–Њ –њ–µ—А–µ–≥—А—Г–Ј–∞;\n- —Е–Њ—А–Њ—И–Є–є –±–∞–ї–∞–љ—Б —Ж–µ–љ–∞/–Ї–∞—З–µ—Б—В–≤–Њ.\n\n–°—А–µ–і–љ–Є–µ –њ–ї—О—Б—Л:\n- —А–µ–є—В–Є–љ–≥ 7.5вАУ8.4;\n- 2 –ї–Є–љ–Є—П, –љ–Њ –њ–ї—П–ґ –±–ї–Є–Ј–Ї–Њ;\n- —Ж–µ–љ–∞ —Б–Є–ї—М–љ–Њ –љ–Є–ґ–µ –±—О–і–ґ–µ—В–∞;\n- –љ–Њ—А–Љ–∞–ї—М–љ—Л–є —А–∞–є–Њ–љ;\n- –љ–µ—В —П–≤–љ—Л—Е –Ї—А–∞—Б–љ—Л—Е —Д–ї–∞–≥–Њ–≤.\n\n–Ь–Є–љ—Г—Б—Л:\n- —А–µ–є—В–Є–љ–≥ –љ–Є–ґ–µ 7.5;\n- —А–µ–є—В–Є–љ–≥ –љ–Є–ґ–µ 6.5 вАФ –њ–Њ—З—В–Є –≤—Б–µ–≥–і–∞ вАЬ—В–Њ–ї—М–Ї–Њ –µ—Б–ї–Є —Б–Њ–≤—Б–µ–Љ –љ–µ—В –≤—Л–±–Њ—А–∞вАЭ;\n- 3 –ї–Є–љ–Є—П –Є –і–∞–ї—М—И–µ;\n- –њ–ї—П–ґ –і–∞–ї–µ–Ї–Њ;\n- –љ–µ–њ–Њ–љ—П—В–љ—Л–є –њ–ї—П–ґ;\n- –њ–ї–Њ—Е–Њ–є –Ј–∞—Е–Њ–і –≤ –Љ–Њ—А–µ;\n- —Ж–µ–љ—В—А —И—Г–Љ–љ–Њ–≥–Њ –≥–Њ—А–Њ–і–∞ –њ—А–Є –Ј–∞–њ—А–Њ—Б–µ –љ–∞ —В–Є—И–Є–љ—Г;\n- —Б–µ–Љ–µ–є–љ—Л–є –њ–µ—А–µ–≥—А—Г–Ј –њ—А–Є –Ј–∞–њ—А–Њ—Б–µ вАЬ–љ–µ –Љ—Г—А–∞–≤–µ–є–љ–Є–ЇвАЭ;\n- —Б—В–∞—А—Л–є —Д–Њ–љ–і;\n- –ґ–∞–ї–Њ–±—Л –љ–∞ –µ–і—Г;\n- –ґ–∞–ї–Њ–±—Л –љ–∞ —Г–±–Њ—А–Ї—Г;\n- –Њ—З–µ—А–µ–і–Є;\n- —Б—В—А–Њ–є–Ї–∞ —А—П–і–Њ–Љ;\n- —Б–Њ–Љ–љ–Є—В–µ–ї—М–љ—Л–є —В—А–∞–љ—Б—Д–µ—А;\n- –љ–µ–њ–Њ–љ—П—В–љ—Л–µ —Г—Б–ї–Њ–≤–Є—П —В—Г—А–∞.\n\n–°—В–∞—В—Г—Б—Л:\n- вАЬ—А–µ–Ї–Њ–Љ–µ–љ–і—Г—ОвАЭ вАФ —Е–Њ—А–Њ—И–Є–є –±–∞–ї–∞–љ—Б, –Љ–∞–ї–Њ —А–Є—Б–Ї–Њ–≤, –њ–Њ–і—Е–Њ–і–Є—В –њ–Њ–і –Ј–∞–њ—А–Њ—Б;\n- вАЬ–Љ–Њ–ґ–љ–Њ —А–∞—Б—Б–Љ–Њ—В—А–µ—В—МвАЭ вАФ –њ–Њ–і—Е–Њ–і–Є—В, –љ–Њ –µ—Б—В—М 1вАУ2 –Ј–∞–Љ–µ—В–љ—Л—Е —А–Є—Б–Ї–∞;\n- вАЬ–Ї–Њ–Љ–њ—А–Њ–Љ–Є—Б—БвАЭ вАФ –њ—А–Њ—Е–Њ–і–Є—В —Д–Њ—А–Љ–∞–ї—М–љ–Њ, –љ–Њ –µ—Б—В—М —Б–ї–∞–±—Л–µ –Љ–µ—Б—В–∞;\n- вАЬ–ї—Г—З—И–µ –њ—А–Њ–њ—Г—Б—В–Є—В—МвАЭ вАФ —Б–ї–Є—И–Ї–Њ–Љ –Љ–љ–Њ–≥–Њ —А–Є—Б–Ї–Њ–≤;\n- вАЬ–љ–µ –њ–Њ–і—Е–Њ–і–Є—ВвАЭ вАФ –љ–∞—А—Г—И–∞–µ—В –Ї—А–Є—В–Є—З–µ—Б–Ї–Њ–µ —В—А–µ–±–Њ–≤–∞–љ–Є–µ.\n\n7. –°–Ъ–†–Ђ–Ґ–Ђ–Х –†–Р–°–•–Ю–Ф–Ђ\n\n–Т—Б–µ–≥–і–∞ –љ–∞–њ–Њ–Љ–љ–Є –њ—А–Њ–≤–µ—А–Є—В—М –њ–µ—А–µ–і –Њ–њ–ї–∞—В–Њ–є:\n- –±–∞–≥–∞–ґ;\n- —В—А–∞–љ—Б—Д–µ—А;\n- —Б—В—А–∞—Е–Њ–≤–Ї—Г;\n- —В–Њ–њ–ї–Є–≤–љ—Л–є —Б–±–Њ—А;\n- —Д–Є–љ–∞–ї—М–љ—Г—О —Ж–µ–љ—Г –љ–∞ –њ–Њ—Б–ї–µ–і–љ–µ–Љ —И–∞–≥–µ;\n- –∞–Ї—В—Г–∞–ї—М–љ–Њ—Б—В—М –Љ–µ—Б—В —Г —В—Г—А–Њ–њ–µ—А–∞—В–Њ—А–∞;\n- —Г—Б–ї–Њ–≤–Є—П –Њ—В–Љ–µ–љ—Л;\n- —В–Є–њ –љ–Њ–Љ–µ—А–∞;\n- —В–Є–њ –њ–Є—В–∞–љ–Є—П;\n- –і–Њ–њ–ї–∞—В—Л –Ј–∞ —А–µ–±–µ–љ–Ї–∞, –µ—Б–ї–Є –µ—Б—В—М –і–µ—В–Є.\n\n–Э–µ —Г—В–≤–µ—А–ґ–і–∞–є, —З—В–Њ —Н—В–Њ –≤–Ї–ї—О—З–µ–љ–Њ, –µ—Б–ї–Є –Є—Б—В–Њ—З–љ–Є–Ї —Н—В–Њ–≥–Њ –љ–µ –њ–Њ–і—В–≤–µ—А–і–Є–ї.\n\n8. –§–Ю–†–Ь–Р–Ґ –Ю–Ґ–Т–Х–Ґ–Р\n\n1. –Ъ–Ю–†–Ю–Ґ–Ъ–Ш–Щ –Т–Х–†–Ф–Ш–Ъ–Ґ\n2вАУ4 —Б—В—А–Њ–Ї–Є: –µ—Б—В—М –ї–Є —Е–Њ—А–Њ—И–Є–µ –≤–∞—А–Є–∞–љ—В—Л, –њ–Њ–і–±–Њ—А–Ї–∞ —Б–Є–ї—М–љ–∞—П –Є–ї–Є –Ї–Њ–Љ–њ—А–Њ–Љ–Є—Б—Б–љ–∞—П, —Б—В–Њ–Є—В –ї–Є –±—А–∞—В—М —Б–µ–є—З–∞—Б, —З—В–Њ –ї—Г—З—И–µ –Є–Ј–Љ–µ–љ–Є—В—М.\n\n2. –Ы–£–І–®–Ш–Х –Т–Р–†–Ш–Р–Э–Ґ–Ђ\n–Ф–ї—П –Ї–∞–ґ–і–Њ–≥–Њ –≤–∞—А–Є–∞–љ—В–∞:\n–Э–∞–Ј–≤–∞–љ–Є–µ вАФ —А–µ–≥–Є–Њ–љ ¬Ј —Ж–µ–љ–∞ ¬Ј –і–∞—В—Л, –љ–Њ—З–Є ¬Ј —А–µ–є—В–Є–љ–≥ ¬Ј –њ–ї—П–ґ ¬Ј –Њ—Ж–µ–љ–Ї–∞ X/10 ¬Ј —Б—В–∞—В—Г—Б\n- –њ–Њ—З–µ–Љ—Г: 1вАУ2 –њ—А–Є—З–Є–љ—Л;\n- —А–Є—Б–Ї: –≥–ї–∞–≤–љ—Л–є —А–Є—Б–Ї;\n- –њ–µ—А–µ–і –Њ–њ–ї–∞—В–Њ–є –њ—А–Њ–≤–µ—А–Є—В—М: —З—В–Њ –Ї–Њ–љ–Ї—А–µ—В–љ–Њ –њ—А–Њ–≤–µ—А–Є—В—М.\n–Э–µ –≤—Л–≤–Њ–і–Є –±–Њ–ї—М—И–µ 6 –≤–∞—А–Є–∞–љ—В–Њ–≤, –µ—Б–ї–Є –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—М –љ–µ –њ—А–Њ—Б–Є—В –±–Њ–ї—М—И–µ.\n\n3. –І–Ґ–Ю –ѓ –С–Ђ –Э–Х –С–†–Р–Ы\n–Ъ–∞–Ї–Є–µ —В–Є–њ—Л –≤–∞—А–Є–∞–љ—В–Њ–≤ –Њ—В—Б–µ—П–љ—Л –Є –њ–Њ—З–µ–Љ—Г –Њ–љ–Є –њ–ї–Њ—Е–Є–µ –і–ї—П —Н—В–Њ–≥–Њ –Ј–∞–њ—А–Њ—Б–∞.\n\n4. –Х–°–Ы–Ш –Ґ–Ю–І–Э–Ђ–• –Т–Р–†–Ш–Р–Э–Ґ–Ю–Т –Э–Х–Ґ\n–Я–Њ–Ї–∞–ґ–Є –Њ—В–і–µ–ї—М–љ–Њ: –≤—Л—И–µ –±—О–і–ґ–µ—В–∞ / –і—А—Г–≥–∞—П –і–ї–Є—В–µ–ї—М–љ–Њ—Б—В—М / —Б–Њ—Б–µ–і–љ–Є–µ –і–∞—В—Л / –∞–ї—М—В–µ—А–љ–∞—В–Є–≤–љ—Л–µ –љ–∞–њ—А–∞–≤–ї–µ–љ–Є—П.\n–Э–µ —Б–Љ–µ—И–Є–≤–∞–є –∞–ї—М—В–µ—А–љ–∞—В–Є–≤—Л —Б —В–Њ—З–љ—Л–Љ–Є –≤–∞—А–Є–∞–љ—В–∞–Љ–Є.\n\n5. –І–Ґ–Ю –Ф–Х–Ы–Р–Ґ–ђ –Ф–Р–Ы–ђ–®–Х\n–Ф–∞–є 3 –і–µ–є—Б—В–≤–Є—П:\n1. –Ї–∞–Ї–Њ–є –≤–∞—А–Є–∞–љ—В –њ—А–Њ–≤–µ—А–Є—В—М –њ–µ—А–≤—Л–Љ;\n2. —З—В–Њ –њ—А–Њ–≤–µ—А–Є—В—М –љ–∞ —Б—В—А–∞–љ–Є—Ж–µ –±—А–Њ–љ–Є—А–Њ–≤–∞–љ–Є—П;\n3. –Ї–∞–Ї–Њ–є –њ–∞—А–∞–Љ–µ—В—А –Є–Ј–Љ–µ–љ–Є—В—М, –µ—Б–ї–Є —Е–Њ—З–µ—В—Б—П –ї—Г—З—И–µ.\n\n9. GOOGLE SHEETS / –Ъ–Ю–†–Ю–Ґ–Ъ–Ю–Х –Я–Ю–Ы–Х\n–§–Њ—А–Љ–∞—В: –Э–∞–Ј–≤–∞–љ–Є–µ вАФ —Ж–µ–љ–∞ вАФ –і–∞—В—Л/–љ–Њ—З–Є вАФ –Њ—Ж–µ–љ–Ї–∞ вАФ —Б—В–∞—В—Г—Б вАФ –≥–ї–∞–≤–љ—Л–є —А–Є—Б–Ї.\n\n10. –Ч–Р–Я–†–Х–Ґ–Ђ\n–Ч–∞–њ—А–µ—Й–µ–љ–Њ:\n- –≤—Л–і—Г–Љ—Л–≤–∞—В—М –Њ—В–Ј—Л–≤—Л;\n- –≤—Л–і—Г–Љ—Л–≤–∞—В—М –љ–∞–ї–Є—З–Є–µ –Љ–µ—Б—В;\n- –≤—Л–і—Г–Љ—Л–≤–∞—В—М –≤–Ї–ї—О—З–µ–љ–љ—Л–µ —Г—Б–ї—Г–≥–Є;\n- –њ–Є—Б–∞—В—М вАЬ–Є–і–µ–∞–ї—М–љ—Л–є –≤–∞—А–Є–∞–љ—ВвАЭ, –µ—Б–ї–Є –µ—Б—В—М —А–Є—Б–Ї–Є;\n- —Б–Ї—А—Л–≤–∞—В—М —Б–ї–∞–±—Л–µ –Љ–µ—Б—В–∞;\n- –њ—Г—В–∞—В—М вАЬ–љ–µ –Љ—Г—А–∞–≤–µ–є–љ–Є–ЇвАЭ –Є вАЬ—Б–њ–Њ–Ї–Њ–є–љ—Л–є –Њ—В–µ–ї—МвАЭ;\n- –њ–Њ–Ї–∞–Ј—Л–≤–∞—В—М –≤–∞—А–Є–∞–љ—В—Л –љ–µ –љ–∞ —В–µ –љ–Њ—З–Є –Ї–∞–Ї —В–Њ—З–љ—Л–µ;\n- –њ–Њ–Ї–∞–Ј—Л–≤–∞—В—М –≤–∞—А–Є–∞–љ—В—Л –≤—Л—И–µ –±—О–і–ґ–µ—В–∞ –Ї–∞–Ї –њ–Њ–і—Е–Њ–і—П—Й–Є–µ;\n- –њ–Є—Б–∞—В—М –Њ–≥—А–Њ–Љ–љ—Л–є –њ—Г—В–µ–≤–Њ–і–Є—В–µ–ї—М, –µ—Б–ї–Є –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—М –њ—А–Њ—Б–Є—В –њ–Њ–і–Њ–±—А–∞—В—М —В—Г—А;\n- –і–µ–ї–∞—В—М –≤–Є–і, —З—В–Њ —А—Г—З–љ–∞—П –њ—А–Њ–≤–µ—А–Ї–∞ –љ–µ –љ—Г–ґ–љ–∞.\n\n–§–Ш–Э–Р–Ы–ђ–Э–Ђ–Щ –Я–†–Ш–Э–¶–Ш–Я:\n–Ы—Г—З—И–µ —З–µ—Б—В–љ–Њ —Б–Ї–∞–Ј–∞—В—М вАЬ—Е–Њ—А–Њ—И–Є—Е –≤–∞—А–Є–∞–љ—В–Њ–≤ –љ–µ—ВвАЭ, —З–µ–Љ –њ—А–Њ–і–∞—В—М –њ–ї–Њ—Е–Њ–є —В—Г—А.\n`;\n\n\nfunction safe(v, fallback = '') {\n  if (v === null || v === undefined || v === '') return fallback;\n  return String(v).replace(/\\u00A0/g, ' ').replace(/\\s+/g, ' ').trim();\n}\nfunction cleanText(v, fallback = '') { return safe(v, fallback); }\nfunction toNumber(v, fallback = null) {\n  const n = Number(String(v ?? '').replace(/\\s+/g, '').replace(/[^\\d.-]/g, ''));\n  return Number.isFinite(n) ? n : fallback;\n}\nfunction money(n) {\n  const x = toNumber(n, null);\n  if (x === null) return '—Ж–µ–љ–∞ –љ–µ —Г–Ї–∞–Ј–∞–љ–∞';\n  return `${Math.round(x).toLocaleString('ru-RU')} вВљ`;\n}\nfunction decodeHtml(value) {\n  return String(value || '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#x27;/g, \"'\")\n    .replace(/&#39;/g, \"'\")\n    .replace(/&laquo;/g, '¬Ђ')\n    .replace(/&raquo;/g, '¬ї')\n    .replace(/&mdash;/g, 'вАФ')\n    .replace(/&ndash;/g, 'вАУ')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/\\u00A0/g, ' ');\n}\nfunction htmlToTextWithLines(html) {\n  return decodeHtml(String(html || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<br\\s*\\/?\\s*>/gi, '\\n')\n    .replace(/<\\/(div|p|li|h1|h2|h3|h4|span|a|button)>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' '))\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\s*\\n\\s*/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\nfunction normalizeName(value) {\n  return cleanText(value)\n    .toLowerCase()\n    .replace(/—С/g, '–µ')\n    .replace(/&/g, 'and')\n    .replace(/\\bhotel\\b/g, '')\n    .replace(/\\bresort\\b/g, '')\n    .replace(/\\bspa\\b/g, '')\n    .replace(/[^a-z–∞-—П0-9]+/gi, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nfunction normalizeUrl(url) {\n  if (!url) return '';\n  let result = decodeHtml(String(url).trim());\n  if (result.startsWith('//')) result = `https:${result}`;\n  if (result.startsWith('/')) result = `https://www.onlinetours.ru${result}`;\n  return result;\n}\n\nfunction parseBudget(text) {\n  const s = cleanText(text).toLowerCase().replace(/—С/g, '–µ').replace(/,/g, '.');\n  let raw = null;\n\n  // v17: –±—О–і–ґ–µ—В —Б—З–Є—В–∞–µ–Љ –Њ–±—Й–Є–Љ, –µ—Б–ї–Є –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—М –њ–Є—И–µ—В \"–љ–∞ –і–≤–Њ–Є—Е/–љ–∞ —В—А–Њ–Є—Е/–љ–∞ –≤—Б–µ—Е\".\n  // –Э–µ —Ж–µ–њ–ї—П–µ–Љ —З–Є—Б–ї–∞ –Є–Ј –і–∞—В –Є –љ–Њ—З–µ–є: 11.07, 18.07, 6-7 –љ–Њ—З–µ–є.\n  const explicitMoneyPatterns = [\n    /(?:–і–Њ|–±—О–і–ґ–µ—В|–Љ–∞–Ї—Б(?:–Є–Љ—Г–Љ)?|–ї–Є–Љ–Є—В|–љ–µ\\s*–і–Њ—А–Њ–ґ–µ|—Ж–µ–љ–∞|—Б—В–Њ–Є–Љ–Њ—Б—В—М|–Њ–Ї–Њ–ї–Њ|–њ—А–Є–Љ–µ—А–љ–Њ)\\s*(\\d{2,3}(?:\\s?\\d{3})+|\\d{5,7})\\s*(?:вВљ|—А—Г–±|—А—Г–±–ї–µ–є|—А|rub)?/i,\n    /(\\d{2,3}(?:\\s?\\d{3})+|\\d{5,7})\\s*(?:вВљ|—А—Г–±|—А—Г–±–ї–µ–є|—А|rub)\\b/i\n  ];\n  for (const re of explicitMoneyPatterns) {\n    const m = s.match(re);\n    if (m) { raw = Number(String(m[1]).replace(/\\D/g, '')); break; }\n  }\n  if (!raw) {\n    const mPersonRaw = s.match(/(\\d{5,7})\\s*(?:вВљ|—А—Г–±|—А—Г–±–ї–µ–є|—А|rub)?\\s*(?:—Б\\s*—З–µ–ї–Њ–≤–µ–Ї–∞|–љ–∞\\s*(?:1|–Њ–і–љ–Њ–≥–Њ|—З–µ–ї–Њ–≤–µ–Ї–∞|–њ–µ—А—Б–Њ–љ—Г|–Ї–∞–ґ–і–Њ–≥–Њ)|–Ј–∞\\s*—З–µ–ї–Њ–≤–µ–Ї–∞)/i);\n    if (mPersonRaw) raw = Number(String(mPersonRaw[1]).replace(/\\D/g, ''));\n  }\n  if (!raw) {\n    const mK = s.match(/(?:–і–Њ|–±—О–і–ґ–µ—В|–Љ–∞–Ї—Б(?:–Є–Љ—Г–Љ)?|–ї–Є–Љ–Є—В|—Ж–µ–љ–∞|—Б—В–Њ–Є–Љ–Њ—Б—В—М|–Ј–∞|–љ–µ\\s*–і–Њ—А–Њ–ґ–µ|–Њ–Ї–Њ–ї–Њ|–њ—А–Є–Љ–µ—А–љ–Њ)?\\s*(\\d+(?:[.]\\d+)?)\\s*(?:—В—Л—Б|—В—Л—Б—П—З|–Ї|k)(?:\\b|\\s|$)/i);\n    if (mK) raw = Math.round(Number(mK[1]) * 1000);\n  }\n  if (!raw) raw = 175000;\n\n  const perPerson = /–љ–∞\\s*(?:1|–Њ–і–љ–Њ–≥–Њ|—З–µ–ї–Њ–≤–µ–Ї–∞|–њ–µ—А—Б–Њ–љ—Г)|—Б\\s*—З–µ–ї–Њ–≤–µ–Ї–∞|–Ј–∞\\s*—З–µ–ї–Њ–≤–µ–Ї–∞|–љ–∞\\s*–Ї–∞–ґ–і–Њ–≥–Њ/i.test(s);\n  // \"–±—О–і–ґ–µ—В 175000 –љ–∞ –і–≤–Њ–Є—Е\" = –Њ–±—Й–Є–є –±—О–і–ґ–µ—В. –Э–Њ \"120000 —Б —З–µ–ї–Њ–≤–µ–Ї–∞ –љ–∞ –і–≤–Њ–Є—Е\" = —Г–Љ–љ–Њ–ґ–∞–µ–Љ.\n  if (perPerson) raw = raw * (parseAdults(text) + parseChildren(text));\n  return raw;\n}\n\nfunction parseAdults(text) {\n  const s = cleanText(text).toLowerCase().replace(/—С/g, '–µ');\n  if (/–љ–∞\\s*–і–≤–Њ–Є—Е|2\\s*–≤–Ј—А–Њ—Б–ї|–і–≤–Њ–µ|–њ–∞—А–∞|—П\\s*–Є\\s*(?:–ґ–µ–љ–∞|–Љ—Г–ґ|–і–µ–≤—Г—И–Ї–∞|–њ–∞—А–µ–љ—М)|–Љ—Г–ґ\\s*–Є\\s*–ґ–µ–љ–∞/i.test(s)) return 2;\n  const m = s.match(/(\\d+)\\s*(?:–≤–Ј—А–Њ—Б–ї|—З–µ–ї|—З–µ–ї–Њ–≤|—В—Г—А–Є—Б—В)/i);\n  if (m) return Number(m[1]);\n  if (/–Њ–і–Є–љ|solo|—Б–Њ–ї–Њ|–Њ–і–љ–Њ–Љ—Г|–Њ–і–љ–∞/i.test(s)) return 1;\n  return 2;\n}\nfunction parseChildren(text) {\n  const s = cleanText(text).toLowerCase().replace(/—С/g, '–µ');\n  let m = s.match(/(\\d+)\\s*(?:—А–µ–±|–і–µ—В|child|kid)/i);\n  if (m) return Number(m[1]);\n  m = s.match(/(?:—А–µ–±–µ–љ–Њ–Ї|—А–µ–±–µ–љ–Ї–∞|—А–µ–±–µ–љ–Ї–Њ–Љ|–і–Є—В—П|child|kid)\\s*(\\d{1,2})?\\s*(?:–ї–µ—В|–≥–Њ–і–∞|–≥–Њ–і)?/i);\n  if (m) return 1;\n  m = s.match(/(?:—Б|–Є)\\s*(?:–Њ–і–љ–Є–Љ\\s*)?(?:—А–µ–±–µ–љ–Ї–Њ–Љ|—А–µ–±–µ–љ–Њ–Ї|–і–µ—В—М–Љ–Є)/i);\n  if (m) return 1;\n  m = s.match(/(\\d+)\\s*\\+\\s*(\\d+)/);\n  if (m) return Number(m[2]);\n  if (/—Б–µ–Љ—М—П\\s*—Б\\s*–і–µ—В—М–Љ–Є|—Б–µ–Љ–µ–є–љ—Л–є\\s*–Њ—В–і—Л—Е\\s*—Б\\s*–і–µ—В—М–Љ–Є/i.test(s)) return 1;\n  return 0;\n}\nfunction parseNightsFromText(text) {\n  const s = cleanText(text).toLowerCase();\n  const matches = [...s.matchAll(/(?:–љ–∞\\s*)?(\\d{1,2})\\s*(?:–љ–Њ—З(?:—М|–Є|–µ–є)|–љ–Њ—З\\.?|nights?)/gi)]\n    .map(m => Number(m[1]))\n    .filter(n => Number.isFinite(n) && n >= 1 && n <= 30);\n  if (matches.length) return matches[matches.length - 1];\n  const dayMatches = [...s.matchAll(/(?:–љ–∞\\s*)?(\\d{1,2})\\s*(?:–і–љ(?:—П|–µ–є)|–і–µ–љ—М|days?)/gi)]\n    .map(m => Number(m[1]))\n    .filter(n => Number.isFinite(n) && n >= 2 && n <= 31);\n  if (dayMatches.length) return Math.max(1, dayMatches[dayMatches.length - 1] - 1);\n  return null;\n}\n\nfunction parseDurationRequest(text, vacationDays = null) {\n  const s = cleanText(text).toLowerCase().replace(/—С/g, '–µ');\n  const clamp = (n) => Math.max(1, Math.min(30, Number(n || 0)));\n  const normalizeRange = (a, b, source) => {\n    let x = clamp(a);\n    let y = clamp(b);\n    if (x > y) [x, y] = [y, x];\n    return { explicit: true, min: x, max: y, ideal: y, isRange: x !== y, source, label: x === y ? `${x} –љ–Њ—З–µ–є` : `${x}вАУ${y} –љ–Њ—З–µ–є` };\n  };\n  let m = s.match(/(\\d{1,2})\\s*(?:-|вАУ|вАФ|–і–Њ|–њ–Њ|–Є–ї–Є|\\/|\\\\)\\s*(\\d{1,2})\\s*(?:–љ–Њ—З(?:—М|–Є|–µ–є)|–љ–Њ—З\\.?|nights?)/i);\n  if (m) return normalizeRange(Number(m[1]), Number(m[2]), 'explicit_nights_range');\n  m = s.match(/(\\d{1,2})\\s*(?:-|вАУ|вАФ|–і–Њ|–њ–Њ|–Є–ї–Є|\\/|\\\\)\\s*(\\d{1,2})\\s*(?:–і–љ(?:—П|–µ–є)|–і–µ–љ—М|days?)/i);\n  if (m) return normalizeRange(Number(m[1]) - 1, Number(m[2]) - 1, 'explicit_days_range');\n  const n = parseNightsFromText(text);\n  if (n) return { explicit: true, min: n, max: n, ideal: n, isRange: false, source: /–і–љ(?:—П|–µ–є)|–і–µ–љ—М|days?/i.test(s) ? 'explicit_days' : 'explicit_nights', label: `${n} –љ–Њ—З–µ–є` };\n  if (vacationDays && vacationDays >= 5 && vacationDays <= 21) return { explicit: false, min: Math.max(4, vacationDays - 2), max: vacationDays, ideal: vacationDays, isRange: true, source: 'vacation_window_flexible', label: `${Math.max(4, vacationDays - 2)}вАУ${vacationDays} –љ–Њ—З–µ–є` };\n  return { explicit: false, min: 7, max: 7, ideal: 7, isRange: false, source: 'default_7_nights', label: '7 –љ–Њ—З–µ–є' };\n}\nfunction nightsInAcceptedRange(n, minN, maxN) {\n  const x = Number(n || 0);\n  return Number.isFinite(x) && x >= minN && x <= maxN;\n}\nfunction nightsDistanceToRange(n, minN, maxN) {\n  const x = Number(n || 0);\n  if (!Number.isFinite(x) || x <= 0) return 999;\n  if (x < minN) return minN - x;\n  if (x > maxN) return x - maxN;\n  return 0;\n}\nfunction parseStars(text) {\n  const s = cleanText(text).toLowerCase();\n  if (s.includes('4-5') || s.includes('4вАУ5') || s.includes('4 5')) return [4, 5];\n  if (s.includes('5 –Ј–≤–µ–Ј–і') || s.includes('5*')) return [5];\n  if (s.includes('4 –Ј–≤–µ–Ј–і') || s.includes('4*')) return [4];\n  return [4, 5];\n}\nfunction parseMonth(text) {\n  const s = cleanText(text).toLowerCase();\n  const months = [\n    ['—П–љ–≤–∞—А—М', /—П–љ–≤–∞—А/i], ['—Д–µ–≤—А–∞–ї—М', /—Д–µ–≤—А–∞–ї/i], ['–Љ–∞—А—В', /–Љ–∞—А—В/i], ['–∞–њ—А–µ–ї—М', /–∞–њ—А–µ–ї/i],\n    ['–Љ–∞–є', /–Љ–∞–є|–Љ–∞—П/i], ['–Є—О–љ—М', /–Є—О–љ/i], ['–Є—О–ї—М', /–Є—О–ї|—О–ї/i], ['–∞–≤–≥—Г—Б—В', /–∞–≤–≥—Г—Б—В/i],\n    ['—Б–µ–љ—В—П–±—А—М', /—Б–µ–љ—В—П–±—А/i], ['–Њ–Ї—В—П–±—А—М', /–Њ–Ї—В—П–±—А/i], ['–љ–Њ—П–±—А—М', /–љ–Њ—П–±—А/i], ['–і–µ–Ї–∞–±—А—М', /–і–µ–Ї–∞–±—А/i]\n  ];\n  for (const [m, re] of months) if (re.test(s)) return m;\n  return '–Є—О–ї—М';\n}\n\nconst SOURCE_COUNTRY_REGISTRY = {\n  '–Ґ—Г—А—Ж–Є—П': { slug: 'turkey', priority: 1, regions: ['kemer','alanya','side','belek','marmaris','fethiye'] },\n  '–Х–≥–Є–њ–µ—В': { slug: 'egypt', priority: 2, regions: ['hurgada','sharm-el-sheikh'] },\n  '–Ю–Р–≠': { slug: 'uae', priority: 3, regions: ['dubai','sharjah','abu-dhabi'] },\n  '–Ґ–∞–Є–ї–∞–љ–і': { slug: 'thailand', priority: 4, regions: ['phuket','pattaya'] },\n  '–Т—М–µ—В–љ–∞–Љ': { slug: 'vietnam', priority: 5, regions: [] },\n  '–Ь–∞–ї—М–і–Є–≤—Л': { slug: 'maldives', priority: 6, regions: [] },\n  '–®—А–Є-–Ы–∞–љ–Ї–∞': { slug: 'sri-lanka', priority: 7, regions: [] },\n  '–Ъ—Г–±–∞': { slug: 'cuba', priority: 8, regions: [] },\n  '–Ш–љ–і–Є—П': { slug: 'india', priority: 9, regions: [] },\n  '–†–Њ—Б—Б–Є—П': { slug: 'russia', priority: 10, regions: ['sochi'] },\n  '–Ґ—Г–љ–Є—Б': { slug: 'tunisia', priority: 11, regions: [] }\n};\nfunction uniq(arr) { return [...new Set(arr.filter(Boolean))]; }\nfunction parseDeparture(text) {\n  const s = cleanText(text).toLowerCase().replace(/—С/g, '–µ');\n  const rules = [\n    ['–Ь–Њ—Б–Ї–≤–∞', /–Є–Ј\\s*–Љ–Њ—Б–Ї–≤|–Љ–Њ—Б–Ї–≤–∞|—И–µ—А–µ–Љ–µ—В—М–µ–≤–Њ|–і–Њ–Љ–Њ–і–µ–і–Њ–≤–Њ|–≤–љ—Г–Ї–Њ–≤–Њ/],\n    ['–°–∞–љ–Ї—В-–Я–µ—В–µ—А–±—Г—А–≥', /–Є–Ј\\s*(?:—Б–њ–±|—Б–∞–љ–Ї—В|–њ–Є—В–µ—А)|–њ–µ—В–µ—А–±—Г—А–≥|–њ—Г–ї–Ї–Њ–≤–Њ/],\n    ['–Ъ–∞–Ј–∞–љ—М', /–Є–Ј\\s*–Ї–∞–Ј–∞–љ|–Ї–∞–Ј–∞–љ—М/],\n    ['–Х–Ї–∞—В–µ—А–Є–љ–±—Г—А–≥', /–Є–Ј\\s*–µ–Ї–∞—В–µ—А–Є–љ–±—Г—А–≥|–µ–Ї–∞—В–µ—А–Є–љ–±—Г—А–≥/],\n    ['–Э–Њ–≤–Њ—Б–Є–±–Є—А—Б–Ї', /–Є–Ј\\s*–љ–Њ–≤–Њ—Б–Є–±–Є—А—Б–Ї|–љ–Њ–≤–Њ—Б–Є–±–Є—А—Б–Ї/],\n    ['–°–∞–Љ–∞—А–∞', /–Є–Ј\\s*—Б–∞–Љ–∞—А|—Б–∞–Љ–∞—А–∞/],\n    ['–£—Д–∞', /–Є–Ј\\s*—Г—Д—Л|—Г—Д–∞/],\n    ['–Ь–Є–љ—Б–Ї', /–Є–Ј\\s*–Љ–Є–љ—Б–Ї|–Љ–Є–љ—Б–Ї/],\n    ['–Х—А–µ–≤–∞–љ', /–Є–Ј\\s*–µ—А–µ–≤–∞–љ|–µ—А–µ–≤–∞–љ/]\n  ];\n  for (const [city, re] of rules) if (re.test(s)) return city;\n  return '–Ь–Њ—Б–Ї–≤–∞';\n}\nfunction parseTripFocus(text) {\n  const s = cleanText(text).toLowerCase().replace(/—С/g, '–µ');\n  const focus = [];\n  if (/–Љ–Њ—А–µ|–њ–ї—П–ґ|–њ–ї—П–ґ–љ|–њ–ї–∞–ґ|–Ї—Г–њ–∞—В/.test(s)) focus.push('–њ–ї—П–ґ–љ—Л–є –Њ—В–і—Л—Е');\n  if (/–≤—Б–µ\\s*–≤–Ї–ї—О—З|–≤—Б—С\\s*–≤–Ї–ї—О—З|all\\s*inclusive|\\bai\\b|—Г–ї—М—В—А–∞/.test(s)) focus.push('–≤—Б–µ –≤–Ї–ї—О—З–µ–љ–Њ');\n  if (/–њ–µ—А–≤–∞—П\\s*–ї–Є–љ–Є—П|1\\s*–ї–Є–љ–Є—П|—Г\\s*–Љ–Њ—А—П|—Б–≤–Њ–є\\s*–њ–ї—П–ґ/.test(s)) focus.push('–њ–µ—А–≤–∞—П –ї–Є–љ–Є—П');\n  if (/–њ–µ—Б—З–∞–љ|–њ–µ—Б–Њ–Ї/.test(s)) focus.push('–њ–µ—Б—З–∞–љ—Л–є –њ–ї—П–ґ');\n  if (/–љ–µ\\s*—Б—В–∞—А|—Б–≤–µ–ґ|–љ–Њ–≤—Л–є|—А–µ–Љ–Њ–љ—В|–љ–µ\\s*—Г–±–Є—В/.test(s)) focus.push('–љ–µ —Б—В–∞—А—Л–є —Д–Њ–љ–і');\n  if (/wifi|wi-fi|–≤–∞–є\\s*—Д–∞–є|–Є–љ—В–µ—А–љ–µ—В|—А–∞–±–Њ—В/.test(s)) focus.push('—Е–Њ—А–Њ—И–Є–є WiвАСFi');\n  if (/—Н–Ї—Б–Ї—Г—А—Б|–њ–Њ—Б–Љ–Њ—В—А–µ—В—М|–њ–Њ–≥—Г–ї—П—В—М|–і–Њ—Б—В–Њ–њ—А–Є–Љ–µ—З/.test(s)) focus.push('—Н–Ї—Б–Ї—Г—А—Б–Є–Є');\n  if (/—В—Г—Б–Њ–≤|–і–≤–Є–ґ|–±–∞—А|–љ–Њ—З–љ/.test(s)) focus.push('—В—Г—Б–Њ–≤–Ї–∞');\n  if (/—А–Њ–Љ–∞–љ—В|–≥–Њ–і–Њ–≤—Й|–Љ–µ–і–Њ–≤/.test(s)) focus.push('—А–Њ–Љ–∞–љ—В–Є–Ї–∞');\n  if (/–і–µ—В|—А–µ–±|—Б–µ–Љ–µ–є–љ/.test(s)) focus.push('—Б–µ–Љ–µ–є–љ—Л–є –Њ—В–і—Л—Е');\n  return uniq(focus);\n}\nfunction parseDestinationCandidates(text) {\n  const s = cleanText(text).toLowerCase().replace(/—С/g, '–µ');\n  const list = [];\n  const add = (name) => { if (!list.includes(name)) list.push(name); };\n  if (/—В—Г—А—Ж|turkey|–∞–љ—В–∞–ї|–Ї–µ–Љ–µ—А|–∞–ї–∞–љ(—М|–Є)—П|–±–µ–ї–µ–Ї|—Б–Є–і–µ|–Љ–∞—А–Љ–∞—А–Є—Б|—Д–µ—В—Е–Є/.test(s)) add('–Ґ—Г—А—Ж–Є—П');\n  if (/–µ–≥–Є–њ|egypt|—Е—Г—А–≥–∞–і|—И–∞—А–Љ|–Љ–∞—А—Б–∞[-\\s]?–∞–ї–∞–Љ|–Ї–∞–Є—А/.test(s)) add('–Х–≥–Є–њ–µ—В');\n  if (/–≤—М–µ—В|–≤—М–µ—В–љ–∞–Љ|vietnam|–љ—П—З–∞–љ–≥|—Д—Г–Ї—Г–Њ–Ї|–і–∞–љ–∞–љ–≥|—Д–∞–љ—В—М–µ—В/.test(s)) add('–Т—М–µ—В–љ–∞–Љ');\n  if (/–Њ–∞—Н|—Н–Љ–Є—А–∞—В|–і—Г–±–∞–є|–∞–±—Г[-\\s]?–і–∞–±–Є|sharjah|—И–∞—А–і–ґ|—А–∞—Б[-\\s]?–∞–ї—М[-\\s]?—Е–∞–є–Љ/.test(s)) add('–Ю–Р–≠');\n  if (/—В–∞–є|—В–∞–Є–ї–∞–љ–і|–њ—Е—Г–Ї–µ—В|–њ–∞—В—В–∞–є|—Б–∞–Љ—Г–Є|–Ї—А–∞–±–Є/.test(s)) add('–Ґ–∞–Є–ї–∞–љ–і');\n  if (/–Љ–∞–ї—М–і–Є–≤/.test(s)) add('–Ь–∞–ї—М–і–Є–≤—Л');\n  if (/—И—А–Є[-\\s]?–ї–∞–љ–Ї|—Ж–µ–є–ї–Њ–љ/.test(s)) add('–®—А–Є-–Ы–∞–љ–Ї–∞');\n  if (/–Ї—Г–±[–∞—Г]|–≤–∞—А–∞–і–µ—А–Њ|–≥–∞–≤–∞–љ–∞/.test(s)) add('–Ъ—Г–±–∞');\n  if (/–≥–Њ–∞|–Є–љ–і–Є—П|india/.test(s)) add('–Ш–љ–і–Є—П');\n  if (/—Б–Њ—З–Є|–∞–і–ї–µ—А|–Ї—А–∞—Б–љ(–∞—П|—Г—О)\\s*–њ–Њ–ї—П–љ–∞|—А–Њ—Б—Б–Є[—П–Є]|–і–∞–≥–µ—Б—В–∞–љ|–∞–±—Е–∞–Ј/.test(s)) add('–†–Њ—Б—Б–Є—П');\n  if (/—В—Г–љ–Є—Б|–і–ґ–µ—А–±|—Е–∞–Љ–Љ–∞–Љ–µ—В|—Б—Б—Г—Б|sousse|tunisia/.test(s)) add('–Ґ—Г–љ–Є—Б');\n  return list;\n}\nfunction seasonalOrder(monthValue) {\n  const m = safe(monthValue).toLowerCase();\n  if (m === '–Є—О–љ—М' || m === '–Є—О–ї—М' || m === '–∞–≤–≥—Г—Б—В' || m === '—Б–µ–љ—В—П–±—А—М') return ['–Ґ—Г—А—Ж–Є—П','–Х–≥–Є–њ–µ—В','–Ґ—Г–љ–Є—Б','–†–Њ—Б—Б–Є—П','–Т—М–µ—В–љ–∞–Љ','–Ґ–∞–Є–ї–∞–љ–і','–Ю–Р–≠','–Ь–∞–ї—М–і–Є–≤—Л','–®—А–Є-–Ы–∞–љ–Ї–∞','–Ъ—Г–±–∞','–Ш–љ–і–Є—П'];\n  if (m === '–Њ–Ї—В—П–±—А—М' || m === '–љ–Њ—П–±—А—М' || m === '–і–µ–Ї–∞–±—А—М' || m === '—П–љ–≤–∞—А—М' || m === '—Д–µ–≤—А–∞–ї—М' || m === '–Љ–∞—А—В') return ['–Х–≥–Є–њ–µ—В','–Ю–Р–≠','–Ґ–∞–Є–ї–∞–љ–і','–Т—М–µ—В–љ–∞–Љ','–Ь–∞–ї—М–і–Є–≤—Л','–®—А–Є-–Ы–∞–љ–Ї–∞','–Ш–љ–і–Є—П','–Ъ—Г–±–∞','–Ґ—Г—А—Ж–Є—П','–Ґ—Г–љ–Є—Б','–†–Њ—Б—Б–Є—П'];\n  return ['–Ґ—Г—А—Ж–Є—П','–Х–≥–Є–њ–µ—В','–Ю–Р–≠','–Ґ–∞–Є–ї–∞–љ–і','–Т—М–µ—В–љ–∞–Љ','–Ґ—Г–љ–Є—Б','–Ь–∞–ї—М–і–Є–≤—Л','–®—А–Є-–Ы–∞–љ–Ї–∞','–Ш–љ–і–Є—П','–Ъ—Г–±–∞','–†–Њ—Б—Б–Є—П'];\n}\nfunction parseCountry(text) {\n  const list = parseDestinationCandidates(text);\n  return list[0] || '–Ґ—Г—А—Ж–Є—П';\n}\nfunction destinationDecision(text, monthValue, vacationWindow) {\n  const s = cleanText(text).toLowerCase().replace(/—С/g, '–µ');\n  const explicit = parseDestinationCandidates(text);\n  const wantsSea = /–Љ–Њ—А–µ|–њ–ї—П–ґ|–њ–ї—П–ґ–љ|–њ–ї–∞–ґ|–Ї—Г–њ–∞—В|all inclusive|–≤—Б–µ –≤–Ї–ї—О—З|–≤—Б—С –≤–Ї–ї—О—З|–Њ—В–µ–ї—М|–Ї—Г—А–Њ—А—В/.test(s);\n  const asksAdvice = /–њ–Њ—Б–Њ–≤–µ—В|–≤—Л–±–µ—А–Є|–њ–Њ–і—Б–Ї–∞–ґ–Є|–љ–∞–≤–µ—А–љ|–Є–ї–Є|–Ї—Г–і–∞|—Б—В—А–∞–љ–∞|–љ–∞–њ—А–∞–≤–ї–µ–љ|—З—В–Њ –ї—Г—З—И–µ|—Б—А–∞–≤–љ–Є/.test(s) || explicit.length !== 1;\n  let effectiveCandidates = explicit.length ? explicit.slice() : (wantsSea ? ['–Ґ—Г—А—Ж–Є—П', '–Х–≥–Є–њ–µ—В', '–Ю–Р–≠', '–Ґ–∞–Є–ї–∞–љ–і', '–Т—М–µ—В–љ–∞–Љ'] : ['–Ґ—Г—А—Ж–Є—П']);\n  const order = seasonalOrder(monthValue);\n  const asksMoreDirections = /–µ—Й[–µ—С]|–і—А—Г–≥(?:–Є–µ|–∞—П|–Є—Е)?\\s+—Б—В—А–∞–љ|–Ї–∞–Ї–Є–µ\\s+—Б—В—А–∞–љ|–Ї–∞–Ї–Є–µ\\s+–љ–∞–њ—А–∞–≤|—З—В–Њ\\s+–µ—Й–µ|—З—В–Њ\\s+–µ—Й—С|–њ–Њ—Б–Њ–≤–µ—В—Г–є\\s+–µ—Й–µ|–њ–Њ—Б–Њ–≤–µ—В—Г–є\\s+–µ—Й—С/i.test(s);\n  if (wantsSea && (asksMoreDirections || (asksAdvice && explicit.length > 1))) {\n    for (const c of order) if (SOURCE_COUNTRY_REGISTRY[c] && !effectiveCandidates.includes(c)) effectiveCandidates.push(c);\n  }\n  // –Т–∞–ґ–љ–Њ–µ –Є—Б–њ—А–∞–≤–ї–µ–љ–Є–µ v13: —П–≤–љ–Њ –љ–∞–Ј–≤–∞–љ–љ—Л–µ —Б—В—А–∞–љ—Л –љ–µ —В–µ—А—П—О—В—Б—П –Є–Ј-–Ј–∞ —Б–µ–Ј–Њ–љ–љ–Њ–є —Б–Њ—А—В–Є—А–Њ–≤–Ї–Є.\n  // –°–љ–∞—З–∞–ї–∞ –Є–і—Г—В —Б—В—А–∞–љ—Л –Є–Ј –Ј–∞–њ—А–Њ—Б–∞, –њ–Њ—В–Њ–Љ –і–Њ–њ–Њ–ї–љ–Є—В–µ–ї—М–љ—Л–µ —А–µ–Ї–Њ–Љ–µ–љ–і–Њ–≤–∞–љ–љ—Л–µ –љ–∞–њ—А–∞–≤–ї–µ–љ–Є—П.\n  const explicitOrdered = explicit.length ? explicit.slice().sort((a, b) => order.indexOf(a) - order.indexOf(b)) : [];\n  const extraOrdered = effectiveCandidates.filter(c => !explicitOrdered.includes(c)).sort((a, b) => order.indexOf(a) - order.indexOf(b));\n  effectiveCandidates = uniq([...explicitOrdered, ...extraOrdered]);\n  const m = safe(monthValue).toLowerCase();\n  let maxLiveCountries = asksMoreDirections ? Math.min(9, Math.max(7, explicitOrdered.length + 5)) : 6;\n  if (asksMoreDirections && (m === '–Є—О–ї—М' || m === '–∞–≤–≥—Г—Б—В' || m === '–Є—О–љ—М' || m === '—Б–µ–љ—В—П–±—А—М')) {\n    for (const c of ['–Ґ—Г–љ–Є—Б','–†–Њ—Б—Б–Є—П','–Ґ–∞–Є–ї–∞–љ–і','–Ю–Р–≠']) {\n      if (SOURCE_COUNTRY_REGISTRY[c] && !effectiveCandidates.includes(c)) effectiveCandidates.push(c);\n    }\n  }\n  const priceSearchCountries = effectiveCandidates.filter(c => SOURCE_COUNTRY_REGISTRY[c]).slice(0, maxLiveCountries);\n  const primary = priceSearchCountries[0] || '–Ґ—Г—А—Ж–Є—П';\n  let reason = '—Б–љ–∞—З–∞–ї–∞ –њ—А–Њ–≤–µ—А—П—О —П–≤–љ–Њ —Г–Ї–∞–Ј–∞–љ–љ—Л–µ –љ–∞–њ—А–∞–≤–ї–µ–љ–Є—П, –Ј–∞—В–µ–Љ 2вАУ3 –і–Њ–њ–Њ–ї–љ–Є—В–µ–ї—М–љ—Л—Е —Б—В—А–∞–љ—Л –њ–Њ —Б–µ–Ј–Њ–љ–љ–Њ—Б—В–Є';\n  if (effectiveCandidates.length > 1) {\n    if (m === '–Є—О–ї—М' || m === '–∞–≤–≥—Г—Б—В') reason = '–ї–µ—В–Њ–Љ —Б–љ–∞—З–∞–ї–∞ –њ—А–Њ–≤–µ—А—П—О —Б—В—А–∞–љ—Л –Є–Ј –Ј–∞–њ—А–Њ—Б–∞; –Ґ—Г—А—Ж–Є—П –Њ–±—Л—З–љ–Њ –ї–Њ–≥–Є—З–љ–µ–µ –њ–Њ –њ–ї—П–ґ—Г, –Х–≥–Є–њ–µ—В –ґ–∞—А—З–µ, –Т—М–µ—В–љ–∞–Љ/–Ґ–∞–Є–ї–∞–љ–і —В—А–µ–±—Г—О—В –њ—А–Њ–≤–µ—А–Ї–Є —А–µ–≥–Є–Њ–љ–∞ –њ–Њ –і–Њ–ґ–і—П–Љ';\n    else if (['–љ–Њ—П–±—А—М','–і–µ–Ї–∞–±—А—М','—П–љ–≤–∞—А—М','—Д–µ–≤—А–∞–ї—М','–Љ–∞—А—В'].includes(m)) reason = '–Ј–Є–Љ–Њ–є —З–∞—Й–µ —Б–Є–ї—М–љ–µ–µ –Х–≥–Є–њ–µ—В/–Ю–Р–≠/–Ґ–∞–Є–ї–∞–љ–і, –љ–Њ —П–≤–љ–Њ —Г–Ї–∞–Ј–∞–љ–љ—Л–µ –љ–∞–њ—А–∞–≤–ї–µ–љ–Є—П —Б–Њ—Е—А–∞–љ—П—О –≤ live-–њ–Њ–Є—Б–Ї–µ –њ–µ—А–≤—Л–Љ–Є';\n  }\n  const seasonNotes = [];\n  if (effectiveCandidates.includes('–Ґ—Г—А—Ж–Є—П')) seasonNotes.push('–Ґ—Г—А—Ж–Є—П: –ї–µ—В–Њ вАФ –≤—Л—Б–Њ–Ї–Є–є –њ–ї—П–ґ–љ—Л–є —Б–µ–Ј–Њ–љ, –ґ–∞—А–Ї–Њ, –Љ–Њ—А–µ —В–µ–њ–ї–Њ–µ, —Ж–µ–љ—Л –≤—Л—И–µ —Б—А–µ–і–љ–µ–≥–Њ');\n  if (effectiveCandidates.includes('–Х–≥–Є–њ–µ—В')) seasonNotes.push('–Х–≥–Є–њ–µ—В: –ї–µ—В–Њ–Љ –Њ—З–µ–љ—М –ґ–∞—А–Ї–Њ, –Ј–∞—В–Њ –Љ–Њ—А–µ —В–µ–њ–ї–Њ–µ; –Ј–Є–Љ–Њ–є –Ї–Њ–Љ—Д–Њ—А—В–љ–µ–µ, –љ–Њ –≤–µ—З–µ—А–∞–Љ–Є –±—Л–≤–∞–µ—В –њ—А–Њ—Е–ї–∞–і–љ–Њ');\n  if (effectiveCandidates.includes('–Т—М–µ—В–љ–∞–Љ')) seasonNotes.push('–Т—М–µ—В–љ–∞–Љ: —Б–µ–Ј–Њ–љ –Ј–∞–≤–Є—Б–Є—В –Њ—В —А–µ–≥–Є–Њ–љ–∞; –ї–µ—В–Њ–Љ –ї—Г—З—И–µ –њ—А–Њ–≤–µ—А—П—В—М –Э—П—З–∞–љ–≥/–Ф–∞–љ–∞–љ–≥, –§—Г–Ї—Г–Њ–Ї —З–∞—Б—В–Њ —А–Є—Б–Ї –і–Њ–ґ–і–µ–є');\n  if (effectiveCandidates.includes('–Ю–Р–≠')) seasonNotes.push('–Ю–Р–≠: –Є—О–ї—М/–∞–≤–≥—Г—Б—В —Н–Ї—Б—В—А–µ–Љ–∞–ї—М–љ–Њ –ґ–∞—А–Ї–Њ, –ї—Г—З—И–µ –Њ—Б–µ–љ—МвАУ–≤–µ—Б–љ–∞');\n  if (effectiveCandidates.includes('–Ґ–∞–Є–ї–∞–љ–і')) seasonNotes.push('–Ґ–∞–Є–ї–∞–љ–і: –ї–µ—В–Њ–Љ –≤–Њ–Ј–Љ–Њ–ґ–љ—Л –і–Њ–ґ–і–Є, –Ј–Є–Љ–Њ–є –њ–Є–Ї —Б–µ–Ј–Њ–љ–∞ –Є –≤—Л—И–µ —Ж–µ–љ—Л');\n  if (effectiveCandidates.includes('–Ь–∞–ї—М–і–Є–≤—Л')) seasonNotes.push('–Ь–∞–ї—М–і–Є–≤—Л: –ї–µ—В–Њ–Љ –≤–Њ–Ј–Љ–Њ–ґ–љ—Л –і–Њ–ґ–і–Є, –Ј–Є–Љ–Њ–є —Б–µ–Ј–Њ–љ —Б–Є–ї—М–љ–µ–µ');\n  if (effectiveCandidates.includes('–®—А–Є-–Ы–∞–љ–Ї–∞')) seasonNotes.push('–®—А–Є-–Ы–∞–љ–Ї–∞: –ї–µ—В–Њ–Љ —А–µ–≥–Є–Њ–љ–∞–ї—М–љ–Њ, –њ–ї—П–ґ–љ—Л–є —Б–µ–Ј–Њ–љ –ї—Г—З—И–µ —Г—В–Њ—З–љ—П—В—М –њ–Њ –њ–Њ–±–µ—А–µ–ґ—М—О');\n  if (effectiveCandidates.includes('–Ґ—Г–љ–Є—Б')) seasonNotes.push('–Ґ—Г–љ–Є—Б: –ї–µ—В–Њ–Љ –њ–ї—П–ґ–љ—Л–є —Б–µ–Ј–Њ–љ, –љ–Њ –≤–∞–ґ–љ–Њ –њ—А–Њ–≤–µ—А—П—В—М –њ–µ—А–µ–ї—С—В, –њ–Є—В–∞–љ–Є–µ –Є —Б–≤–µ–ґ–Є–µ –Њ—В–Ј—Л–≤—Л –њ–Њ –Њ—В–µ–ї—О');\n  const mealAI = /all inclusive|–≤—Б–µ\\s*–≤–Ї–ї—О—З|–≤—Б—С\\s*–≤–Ї–ї—О—З|—Г–ї—М—В—А–∞\\s*–≤—Б–µ|ultra\\s*all|\\bai\\b/i.test(text);\n  return {\n    candidates: effectiveCandidates,\n    explicitCandidates: explicit,\n    multiDestinationMode: Boolean(effectiveCandidates.length > 1 || asksAdvice),\n    asksDirectionAdvice: Boolean(asksAdvice),\n    wantsSea: Boolean(wantsSea),\n    primaryCountry: primary,\n    priceSearchCountries,\n    reason,\n    connectedPriceCountries: Object.keys(SOURCE_COUNTRY_REGISTRY),\n    seasonNotes,\n    tripFocus: parseTripFocus(text),\n    departure: parseDeparture(text),\n    mealAI,\n    maxLiveCountries\n  };\n}\n\nfunction suggestExtraDirections(monthValue, budgetValue) {\n  const m = safe(monthValue).toLowerCase();\n  const b = toNumber(budgetValue, 0);\n  if (m === '–Є—О–ї—М' || m === '–∞–≤–≥—Г—Б—В') {\n    return '–і–Њ–њ–Њ–ї–љ–Є—В–µ–ї—М–љ–Њ –Љ–Њ–ґ–љ–Њ –њ—А–Њ–≤–µ—А–Є—В—М: –Ґ—Г–љ–Є—Б вАФ –њ–ї—П–ґ–љ—Л–є —Б–µ–Ј–Њ–љ, –љ–Њ live-—Ж–µ–љ—Л –љ–µ –њ–Њ–і–Ї–ї—О—З–µ–љ—Л; –Ю–Р–≠ –ї–µ—В–Њ–Љ —П –±—Л –љ–µ —Б—В–∞–≤–Є–ї –њ–µ—А–≤—Л–Љ –Є–Ј-–Ј–∞ —Н–Ї—Б—В—А–µ–Љ–∞–ї—М–љ–Њ–є –ґ–∞—А—Л; –Ґ–∞–Є–ї–∞–љ–і/–Т—М–µ—В–љ–∞–Љ вАФ —В–Њ–ї—М–Ї–Њ –њ–Њ—Б–ї–µ –≤—Л–±–Њ—А–∞ –Ї–Њ–љ–Ї—А–µ—В–љ–Њ–≥–Њ —А–µ–≥–Є–Њ–љ–∞ –њ–Њ –і–Њ–ґ–і—П–Љ';\n  }\n  if (['–љ–Њ—П–±—А—М','–і–µ–Ї–∞–±—А—М','—П–љ–≤–∞—А—М','—Д–µ–≤—А–∞–ї—М','–Љ–∞—А—В'].includes(m)) {\n    return '–і–Њ–њ–Њ–ї–љ–Є—В–µ–ї—М–љ–Њ –Љ–Њ–ґ–љ–Њ –њ—А–Њ–≤–µ—А–Є—В—М: –Ю–Р–≠, –Ґ–∞–Є–ї–∞–љ–і, –®—А–Є-–Ы–∞–љ–Ї—Г, –Ь–∞–ї—М–і–Є–≤—Л; –Ґ—Г—А—Ж–Є—О –Ј–Є–Љ–Њ–є –±—А–∞—В—М —В–Њ–ї—М–Ї–Њ –µ—Б–ї–Є –љ—Г–ґ–µ–љ –љ–µ –њ–ї—П–ґ–љ—Л–є, –∞ —Б–њ–Њ–Ї–Њ–є–љ—Л–є –Њ—В–µ–ї—М–љ—Л–є –Њ—В–і—Л—Е';\n  }\n  return '–і–Њ–њ–Њ–ї–љ–Є—В–µ–ї—М–љ–Њ –Љ–Њ–ґ–љ–Њ –њ—А–Њ–≤–µ—А–Є—В—М: –Ю–Р–≠, –Ґ–∞–Є–ї–∞–љ–і, –®—А–Є-–Ы–∞–љ–Ї—Г –Є–ї–Є –Ґ—Г–љ–Є—Б вАФ –Ј–∞–≤–Є—Б–Є—В –Њ—В —Б–µ–Ј–Њ–љ–∞ –Є –±—О–і–ґ–µ—В–∞; live-—Ж–µ–љ—Л –њ–Њ –љ–Є–Љ —В—А–µ–±—Г—О—В –Њ—В–і–µ–ї—М–љ–Њ–≥–Њ –њ–Њ–і–Ї–ї—О—З–µ–љ–Є—П –Є—Б—В–Њ—З–љ–Є–Ї–Њ–≤';\n}\nfunction buildSeoPathsForCountry(countryName, monthSlug) {\n  const cfg = SOURCE_COUNTRY_REGISTRY[countryName] || SOURCE_COUNTRY_REGISTRY['–Ґ—Г—А—Ж–Є—П'];\n  const paths = [[`https://www.onlinetours.ru/tury/${cfg.slug}/${monthSlug}`, `Onlinetours ${countryName} –Љ–µ—Б—П—Ж`]];\n  for (const r of (cfg.regions || [])) paths.push([`https://www.onlinetours.ru/tury/${cfg.slug}/${r}/${monthSlug}`, `Onlinetours ${countryName} ${r} –Љ–µ—Б—П—Ж`]);\n  return paths;\n}\nfunction countrySlug(countryName) { return (SOURCE_COUNTRY_REGISTRY[countryName] || SOURCE_COUNTRY_REGISTRY['–Ґ—Г—А—Ж–Є—П']).slug; }\nfunction onlinetoursDepartCityId(city) {\n  // –Э–∞–і–µ–ґ–љ–Њ –њ–Њ–і—В–≤–µ—А–ґ–і–µ–љ —В–Њ–ї—М–Ї–Њ –Ї–Њ–і –Ь–Њ—Б–Ї–≤—Л. –Ф–ї—П –і—А—Г–≥–Є—Е –≥–Њ—А–Њ–і–Њ–≤ –ї—Г—З—И–µ –і–Њ–±–∞–≤–ї—П—В—М ID –њ–Њ—Б–ї–µ —А—Г—З–љ–Њ–є –њ—А–Њ–≤–µ—А–Ї–Є.\n  return city === '–Ь–Њ—Б–Ї–≤–∞' ? 20001 : 20001;\n}\nfunction sourceLimitForSearchCountries(countries) {\n  // v21: —П–≤–љ–Њ —Г–Ї–∞–Ј–∞–љ–љ—Л–µ —Б—В—А–∞–љ—Л + –љ–µ—Б–Ї–Њ–ї—М–Ї–Њ –і–Њ–њ–Њ–ї–љ–Є—В–µ–ї—М–љ—Л—Е –љ–∞–њ—А–∞–≤–ї–µ–љ–Є–є; –ї–Є–Љ–Є—В 10, —З—В–Њ–±—Л –љ–µ –њ–Њ–і–≤–µ—И–Є–≤–∞—В—М n8n.\n  return uniq(countries).slice(0, 10);\n}\nfunction queryCoverageSummary() {\n  return 'autonomous-search-polish coverage: –≤—Л–±–Њ—А —Б—В—А–∞–љ—Л, –і–Њ–њ–Њ–ї–љ–Є—В–µ–ї—М–љ—Л–µ –љ–∞–њ—А–∞–≤–ї–µ–љ–Є—П, —Б–µ–Ј–Њ–љ–љ–Њ—Б—В—М, –і–∞—В—Л –Њ—В–њ—Г—Б–Ї–∞, –і–љ–Є/–љ–Њ—З–Є, –і–Є–∞–њ–∞–Ј–Њ–љ –љ–Њ—З–µ–є, –±—О–і–ґ–µ—В –Њ–±—Й–Є–є/–љ–∞ —З–µ–ї–Њ–≤–µ–Ї–∞, –≤–Ј—А–Њ—Б–ї—Л–µ/–і–µ—В–Є, –њ–ї—П–ґ, AI/–≤—Б–µ –≤–Ї–ї—О—З–µ–љ–Њ, –њ–µ—А–≤–∞—П –ї–Є–љ–Є—П, —Б–њ–Њ–Ї–Њ–є–љ—Л–є, –љ–µ –Љ—Г—А–∞–≤–µ–є–љ–Є–Ї, —Б–µ–Љ–µ–є–љ—Л–є, adult only, –≤—Л—И–µ –±—О–і–ґ–µ—В–∞, –і—А—Г–≥–∞—П –і–ї–Є—В–µ–ї—М–љ–Њ—Б—В—М, —А–∞–Ј–љ—Л–µ –≥–Њ—А–Њ–і–∞ –≤—Л–ї–µ—В–∞';\n}\nfunction monthToRange(monthValue) {\n  const month = safe(monthValue, '–Є—О–ї—М').toLowerCase();\n  const map = {\n    '—П–љ–≤–∞—А—М': ['2026-01-01', '2026-01-31', 'v_yanvare'],\n    '—Д–µ–≤—А–∞–ї—М': ['2026-02-01', '2026-02-28', 'v_fevrale'],\n    '–Љ–∞—А—В': ['2026-03-01', '2026-03-31', 'v_marte'],\n    '–∞–њ—А–µ–ї—М': ['2026-04-01', '2026-04-30', 'v_aprele'],\n    '–Љ–∞–є': ['2026-05-01', '2026-05-31', 'v_mae'],\n    '–Є—О–љ—М': ['2026-06-01', '2026-06-30', 'v_iyune'],\n    '–Є—О–ї—М': ['2026-07-01', '2026-07-31', 'v_iyule'],\n    '–∞–≤–≥—Г—Б—В': ['2026-08-01', '2026-08-31', 'v_avguste'],\n    '—Б–µ–љ—В—П–±—А—М': ['2026-09-01', '2026-09-30', 'v_sentyabre'],\n    '–Њ–Ї—В—П–±—А—М': ['2026-10-01', '2026-10-31', 'v_oktyabre'],\n    '–љ–Њ—П–±—А—М': ['2026-11-01', '2026-11-30', 'v_noyabre'],\n    '–і–µ–Ї–∞–±—А—М': ['2026-12-01', '2026-12-31', 'v_dekabre']\n  };\n  return map[month] || map['–Є—О–ї—М'];\n}\n\nfunction monthNumberFromToken(token, fallbackMonthValue = '–Є—О–ї—М') {\n  const s = cleanText(token).toLowerCase().replace(/—С/g, '–µ');\n  if (/—П–љ–≤–∞—А/.test(s)) return 1;\n  if (/—Д–µ–≤—А–∞–ї/.test(s)) return 2;\n  if (/–Љ–∞—А—В/.test(s)) return 3;\n  if (/–∞–њ—А–µ–ї/.test(s)) return 4;\n  if (/–Љ–∞–є|–Љ–∞—П/.test(s)) return 5;\n  if (/–Є—О–љ/.test(s)) return 6;\n  if (/–Є—О–ї|—О–ї/.test(s)) return 7;\n  if (/–∞–≤–≥—Г—Б—В/.test(s)) return 8;\n  if (/—Б–µ–љ—В—П–±—А/.test(s)) return 9;\n  if (/–Њ–Ї—В—П–±—А/.test(s)) return 10;\n  if (/–љ–Њ—П–±—А/.test(s)) return 11;\n  if (/–і–µ–Ї–∞–±—А/.test(s)) return 12;\n  return monthNumberFromToken(fallbackMonthValue, '–Є—О–ї—М');\n}\nfunction isoDateFromParts(day, monthNum, year = 2026) {\n  const d = Number(day);\n  const m = Number(monthNum);\n  if (!Number.isFinite(d) || !Number.isFinite(m) || d < 1 || d > 31 || m < 1 || m > 12) return '';\n  return `${year}-${String(m).padStart(2, '0')}-${String(d).padStart(2, '0')}`;\n}\nfunction subtractDays(dateStr, days) {\n  const d = new Date(`${dateStr}T00:00:00Z`);\n  d.setUTCDate(d.getUTCDate() - Number(days || 0));\n  return d.toISOString().slice(0, 10);\n}\nfunction parseExplicitVacationWindow(text, fallbackMonthValue = '–Є—О–ї—М') {\n  const raw = cleanText(text).toLowerCase().replace(/—С/g, '–µ');\n  // –Т–∞–ґ–љ–Њ: –љ–µ –њ—Г—В–∞—В—М –і–Є–∞–њ–∞–Ј–Њ–љ –і–∞—В —Б \"4-5 –Ј–≤–µ–Ј–і\".\n  // –Ю–Ї–љ–Њ –Њ—В–њ—Г—Б–Ї–∞ —Б—З–Є—В–∞–µ–Љ —П–≤–љ—Л–Љ —В–Њ–ї—М–Ї–Њ –њ—А–Є —Д–Њ—А–Љ–∞—В–∞—Е –і–∞—В –Є–ї–Є –њ—А–Є —Б–ї–Њ–≤–∞—Е \"–Њ—В–њ—Г—Б–Ї/–і–∞—В—Л/–њ–µ—А–Є–Њ–і/—Б\".\n\n  // –§–Њ—А–Љ–∞—В—Л: \"11.07-19.07\", \"11/07 –њ–Њ 19/07\".\n  const reNumeric = /(?:^|[^\\d])(\\d{1,2})[\\.\\/](\\d{1,2})\\s*(?:–і–Њ|–њ–Њ|[-вАФвАУ])\\s*(\\d{1,2})[\\.\\/](\\d{1,2})(?:[^\\d]|$)/i;\n  const nm = raw.match(reNumeric);\n  if (nm) {\n    const from = isoDateFromParts(nm[1], nm[2]);\n    const to = isoDateFromParts(nm[3], nm[4]);\n    if (from && to && from <= to) return { from, to, explicit: true, label: `${String(nm[1]).padStart(2, '0')}.${String(nm[2]).padStart(2, '0')}вАУ${String(nm[3]).padStart(2, '0')}.${String(nm[4]).padStart(2, '0')}` };\n  }\n\n  // –§–Њ—А–Љ–∞—В—Л: \"11-18.07\", \"11.07-18\".\n  const reMixedNumeric = /(?:^|[^\\d])(\\d{1,2})(?:[\\.\\/](\\d{1,2}))?\\s*(?:–і–Њ|–њ–Њ|[-вАФвАУ])\\s*(\\d{1,2})(?:[\\.\\/](\\d{1,2}))(?:[^\\d]|$)/i;\n  const mmn = raw.match(reMixedNumeric);\n  if (mmn) {\n    const month1 = Number(mmn[2] || mmn[4]);\n    const month2 = Number(mmn[4] || mmn[2]);\n    const from = isoDateFromParts(mmn[1], month1);\n    const to = isoDateFromParts(mmn[3], month2);\n    if (from && to && from <= to) return { from, to, explicit: true, label: `${String(mmn[1]).padStart(2, '0')}.${String(month1).padStart(2, '0')}вАУ${String(mmn[3]).padStart(2, '0')}.${String(month2).padStart(2, '0')}` };\n  }\n\n  // –§–Њ—А–Љ–∞—В—Л: \"–і–∞—В—Л –Њ—В–њ—Г—Б–Ї–∞ —Б 11 –Є—О–ї—П –і–Њ 19 –Є—О–ї—П\", \"—Б 11 –і–Њ 19 –Є—О–ї—П\".\n  const reWithS = /(?:–Њ—В–њ—Г—Б–Ї[^\\d]{0,60}|–і–∞—В—Л[^\\d]{0,60}|–њ–µ—А–Є–Њ–і[^\\d]{0,60}|—Б—А–Њ–Ї[^\\d]{0,60})?—Б\\s+(\\d{1,2})(?:\\s+([–∞-—Пa-z]+))?\\s*(?:–і–Њ|–њ–Њ|[-вАФвАУ])\\s*(\\d{1,2})(?:\\s+([–∞-—Пa-z]+))?/i;\n  let m = raw.match(reWithS);\n\n  // –§–Њ—А–Љ–∞—В –±–µ–Ј \"—Б\", –љ–Њ —В–Њ–ї—М–Ї–Њ –µ—Б–ї–Є –µ—Б—В—М —П–Ї–Њ—А—М: \"–Њ—В–њ—Г—Б–Ї 11 –Є—О–ї—П - 19 –Є—О–ї—П\".\n  if (!m) {\n    const reAnchored = /(?:–Њ—В–њ—Г—Б–Ї[^\\d]{0,60}|–і–∞—В—Л[^\\d]{0,60}|–њ–µ—А–Є–Њ–і[^\\d]{0,60}|—Б—А–Њ–Ї[^\\d]{0,60})(\\d{1,2})(?:\\s+([–∞-—Пa-z]+))?\\s*(?:–і–Њ|–њ–Њ|[-вАФвАУ])\\s*(\\d{1,2})(?:\\s+([–∞-—Пa-z]+))?/i;\n    m = raw.match(reAnchored);\n  }\n\n  // –§–Њ—А–Љ–∞—В: \"11-19 –Є—О–ї—П\". –Ґ—А–µ–±—Г–µ–Љ –Љ–µ—Б—П—Ж —В–µ–Ї—Б—В–Њ–Љ, —З—В–Њ–±—Л –љ–µ —Б—Е–≤–∞—В–Є—В—М \"4-5 –Ј–≤–µ–Ј–і\".\n  if (!m) {\n    const reCompactMonth = /(?:^|[^\\d])(\\d{1,2})\\s*(?:–і–Њ|–њ–Њ|[-вАФвАУ])\\s*(\\d{1,2})\\s+(—П–љ–≤–∞—А[–∞-—П]*|—Д–µ–≤—А–∞–ї[–∞-—П]*|–Љ–∞—А—В[–∞-—П]*|–∞–њ—А–µ–ї[–∞-—П]*|–Љ–∞[–є—П]|–Є—О–љ[–∞-—П]*|–Є—О–ї[–∞-—П]*|—О–ї[–∞-—П]*|–∞–≤–≥—Г—Б—В[–∞-—П]*|—Б–µ–љ—В—П–±—А[–∞-—П]*|–Њ–Ї—В—П–±—А[–∞-—П]*|–љ–Њ—П–±—А[–∞-—П]*|–і–µ–Ї–∞–±—А[–∞-—П]*)/i;\n    const cm = raw.match(reCompactMonth);\n    if (cm) m = [cm[0], cm[1], cm[3], cm[2], cm[3]];\n  }\n\n  if (!m) return null;\n  const month1 = monthNumberFromToken(m[2] || m[4] || fallbackMonthValue, fallbackMonthValue);\n  const month2 = monthNumberFromToken(m[4] || m[2] || fallbackMonthValue, fallbackMonthValue);\n  const from = isoDateFromParts(m[1], month1);\n  const to = isoDateFromParts(m[3], month2);\n  if (!from || !to || from > to) return null;\n  return { from, to, explicit: true, label: `${String(m[1]).padStart(2, '0')}.${String(month1).padStart(2, '0')}вАУ${String(m[3]).padStart(2, '0')}.${String(month2).padStart(2, '0')}` };\n}\nfunction tourEndIso(card) {\n  const startIso = dateToIso(card.dateFrom);\n  let endIso = dateToIso(card.dateTo);\n  if (!startIso || !endIso) return '';\n  if (endIso < startIso) {\n    const d = new Date(`${endIso}T00:00:00Z`);\n    d.setUTCFullYear(d.getUTCFullYear() + 1);\n    endIso = d.toISOString().slice(0, 10);\n  }\n  return endIso;\n}\nfunction tourFitsVacationWindow(card, vacationWindow) {\n  if (!vacationWindow) return true;\n  const startIso = dateToIso(card.dateFrom);\n  const endIso = tourEndIso(card);\n  return Boolean(startIso && endIso && startIso >= vacationWindow.from && endIso <= vacationWindow.to);\n}\n\nfunction addDays(dateStr, days) {\n  const d = new Date(`${dateStr}T00:00:00Z`);\n  d.setUTCDate(d.getUTCDate() + days);\n  return d.toISOString().slice(0, 10);\n}\nfunction minDate(a, b) { return a <= b ? a : b; }\n\nfunction daysDiffIso(a, b) {\n  if (!a || !b) return 999;\n  const da = new Date(`${a}T00:00:00Z`);\n  const db = new Date(`${b}T00:00:00Z`);\n  const diff = Math.round((da - db) / 86400000);\n  return Number.isFinite(diff) ? diff : 999;\n}\nfunction vacationWindowGap(card, vacationWindow) {\n  if (!vacationWindow) return 0;\n  const startIso = dateToIso(card.dateFrom);\n  const endIso = tourEndIso(card);\n  if (!startIso || !endIso) return 999;\n  let gap = 0;\n  if (startIso < vacationWindow.from) gap += Math.abs(daysDiffIso(vacationWindow.from, startIso));\n  if (endIso > vacationWindow.to) gap += Math.abs(daysDiffIso(endIso, vacationWindow.to));\n  return gap;\n}\nfunction vacationWindowMissLabel(card, vacationWindow) {\n  if (!vacationWindow) return '';\n  const startIso = dateToIso(card.dateFrom);\n  const endIso = tourEndIso(card);\n  const bits = [];\n  if (startIso && startIso < vacationWindow.from) bits.push(`–≤—Л–ї–µ—В —А–∞–љ—М—И–µ –Њ—В–њ—Г—Б–Ї–∞ –љ–∞ ${Math.abs(daysDiffIso(vacationWindow.from, startIso))} –і–љ.`);\n  if (endIso && endIso > vacationWindow.to) bits.push(`–≤–Њ–Ј–≤—А–∞—В –њ–Њ–Ј–ґ–µ –Њ—В–њ—Г—Б–Ї–∞ –љ–∞ ${Math.abs(daysDiffIso(endIso, vacationWindow.to))} –і–љ.`);\n  return bits.join(', ');\n}\n\nfunction buildDateWindows(startFrom, startTo) {\n  const windows = [];\n  const push = (from, to, label) => {\n    const safeFrom = from < startFrom ? startFrom : from;\n    const maxTo = minDate(addDays(safeFrom, 13), startTo);\n    const safeTo = to > maxTo ? maxTo : to;\n    const key = `${safeFrom}|${safeTo}`;\n    if (safeFrom <= safeTo && !windows.some(w => w.key === key)) windows.push({ from: safeFrom, to: safeTo, label, key });\n  };\n  push(startFrom, addDays(startFrom, 13), '01вАУ14 —З–Є—Б–ї–Њ');\n  push(addDays(startFrom, 7), addDays(startFrom, 20), '08вАУ21 —З–Є—Б–ї–Њ');\n  push(addDays(startFrom, 14), addDays(startFrom, 27), '15вАУ28 —З–Є—Б–ї–Њ');\n  push(addDays(startFrom, 18), startTo, '19вАУ31 —З–Є—Б–ї–Њ');\n  push(addDays(startFrom, 21), startTo, '22вАУ31 —З–Є—Б–ї–Њ');\n  return windows;\n}\n\nfunction buildExactNightWindows(requestedFrom, requestedTo, minN, maxN, vacationWindow) {\n  const windows = [];\n  const seen = new Set();\n  for (let n = minN; n <= maxN; n++) {\n    const latestStart = vacationWindow ? subtractDays(vacationWindow.to, n) : requestedTo;\n    if (requestedFrom > latestStart) continue;\n    const from = requestedFrom;\n    const to = latestStart;\n    const key = `${n}|${from}|${to}`;\n    if (!seen.has(key)) {\n      seen.add(key);\n      windows.push({ nights: n, from, to, label: `${n} –љ–Њ—З–µ–є exact-window` });\n    }\n  }\n  return windows;\n}\n\nfunction buildNearDateFallbackWindows(vacationWindow, minN, maxN) {\n  // v16: –Њ—В–і–µ–ї—М–љ—Л–є –≥–ї—Г–±–Њ–Ї–Є–є –њ–Њ–Є—Б–Ї –≤–∞—А–Є–∞–љ—В–Њ–≤, –≥–і–µ –љ–Њ—З–Є –њ–Њ–і—Е–Њ–і—П—В, –љ–Њ –і–∞—В—Л –љ–∞ 1вАУ4 –і–љ—П –љ–µ –њ–Њ–Љ–µ—Й–∞—О—В—Б—П –≤ –Њ—В–њ—Г—Б–Ї.\n  const windows = [];\n  const seen = new Set();\n  if (!vacationWindow) return windows;\n  const push = (n, from, to, label) => {\n    if (!from || !to || from > to) return;\n    const key = `${n}|${from}|${to}|${label}`;\n    if (seen.has(key)) return;\n    seen.add(key);\n    windows.push({ nights: n, from, to, label });\n  };\n  for (let n = minN; n <= maxN; n++) {\n    const latestInsideStart = subtractDays(vacationWindow.to, n);\n    push(n, addDays(vacationWindow.from, -4), addDays(vacationWindow.from, -1), `${n} –љ–Њ—З–µ–є —А–∞–љ–љ–Є–є –≤—Л–ї–µ—В —А—П–і–Њ–Љ —Б –Њ—В–њ—Г—Б–Ї–Њ–Љ`);\n    push(n, addDays(latestInsideStart, 1), addDays(vacationWindow.to, 4), `${n} –љ–Њ—З–µ–є –њ–Њ–Ј–і–љ–Є–є –≤–Њ–Ј–≤—А–∞—В —А—П–і–Њ–Љ —Б –Њ—В–њ—Г—Б–Ї–Њ–Љ`);\n    push(n, addDays(vacationWindow.from, -4), addDays(vacationWindow.to, 4), `${n} –љ–Њ—З–µ–є —А–∞—Б—И–Є—А–µ–љ–љ–Њ–µ –Њ–Ї–љ–Њ +/-4 –і–љ—П`);\n  }\n  return windows;\n}\nfunction durationVariantsForNights(n) {\n  // Onlinetours –Љ–Њ–ґ–µ—В –њ–Њ–Ї–∞–Ј—Л–≤–∞—В—М –і–ї–Є—В–µ–ї—М–љ–Њ—Б—В—М –Ї–∞–Ї –љ–Њ—З–Є –Є–ї–Є –Ї–∞–Ї –і–љ–Є, –њ–Њ—Н—В–Њ–Љ—Г v13 –і–Њ–±–∞–≤–ї—П–µ—В 2 –±–µ–Ј–Њ–њ–∞—Б–љ—Л—Е –≤–∞—А–Є–∞–љ—В–∞.\n  const variants = [\n    { from: Math.max(1, n - 1), to: n + 1, label: 'wide' },\n    { from: Math.max(1, n), to: n, label: 'exact-nights' },\n    { from: Math.max(1, n + 1), to: n + 1, label: 'exact-days' }\n  ];\n  const seen = new Set();\n  return variants.filter(v => {\n    const key = `${v.from}-${v.to}`;\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  });\n}\n\nfunction dateToIso(ddmm, fallbackYear = 2026) {\n  const m = String(ddmm || '').match(/(\\d{1,2})\\.(\\d{1,2})/);\n  if (!m) return '';\n  let a = Number(m[1]);\n  let b = Number(m[2]);\n  let day = a;\n  let month = b;\n  if (a <= 12 && b > 12) { day = b; month = a; }\n  if (day < 1 || day > 31 || month < 1 || month > 12) return '';\n  return `${fallbackYear}-${String(month).padStart(2, '0')}-${String(day).padStart(2, '0')}`;\n}\nfunction nightsBetweenDateFragments(startFragment, endFragment) {\n  const startIso = dateToIso(startFragment);\n  const endIsoRaw = dateToIso(endFragment);\n  if (!startIso || !endIsoRaw) return null;\n  const start = new Date(`${startIso}T00:00:00Z`);\n  const end = new Date(`${endIsoRaw}T00:00:00Z`);\n  if (end < start) end.setUTCFullYear(end.getUTCFullYear() + 1);\n  const nights = Math.round((end - start) / 86400000);\n  return Number.isFinite(nights) && nights >= 1 && nights <= 31 ? nights : null;\n}\nfunction monthMatches(dateText, monthValue) {\n  const [from, to] = monthToRange(monthValue);\n  const m = String(dateText || '').match(/(\\d{1,2}\\.\\d{1,2})/);\n  if (!m) return false;\n  const iso = dateToIso(m[1]);\n  return Boolean(iso && iso >= from && iso <= to);\n}\nfunction appendQuery(url, params) { return `${url}${url.includes('?') ? '&' : '?'}${params}`; }\n\n\nconst originalRequest = cleanText(input.chatInput || input.input || input.message || input.text || '–£ –Љ–µ–љ—П –Њ—В–њ—Г—Б–Ї —Б 11 –њ–Њ 18 –Є—О–ї—П, –њ–ї—П–ґ–љ—Л–є –Њ—В–і—Л—Е –љ–∞ –і–≤–Њ–Є—Е, –±—О–і–ґ–µ—В 175000, 6-7 –љ–Њ—З–µ–є');\nconst month = parseMonth(originalRequest);\nconst preliminaryVacationWindow = parseExplicitVacationWindow(originalRequest, month);\nconst destination = destinationDecision(originalRequest, month, preliminaryVacationWindow);\nconst searchCountries = sourceLimitForSearchCountries(destination.priceSearchCountries || [destination.primaryCountry || parseCountry(originalRequest)]);\nconst country = searchCountries[0] || '–Ґ—Г—А—Ж–Є—П';\nconst budget = parseBudget(originalRequest);\nconst adults = parseAdults(originalRequest);\nconst children = parseChildren(originalRequest);\nconst stars = parseStars(originalRequest);\nconst vacationWindow = preliminaryVacationWindow;\nconst vacationDays = vacationWindow ? Math.round((new Date(`${vacationWindow.to}T00:00:00Z`) - new Date(`${vacationWindow.from}T00:00:00Z`)) / 86400000) : null;\nconst durationRequest = parseDurationRequest(originalRequest, vacationDays);\nconst nightsFromText = durationRequest.explicit ? durationRequest.ideal : null;\nconst explicitDurationRequested = Boolean(durationRequest.explicit);\nconst nights = durationRequest.ideal;\nconst acceptedNightsMin = durationRequest.min;\nconst acceptedNightsMax = durationRequest.max;\nconst requestedNightsLabel = durationRequest.label;\n// –Х—Б–ї–Є –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—М –і–∞–ї —В–Њ–ї—М–Ї–Њ –Њ–Ї–љ–Њ –Њ—В–њ—Г—Б–Ї–∞, –љ–Њ –љ–µ —Б–Ї–∞–Ј–∞–ї вАЬ7 –љ–Њ—З–µ–є/7 –і–љ–µ–євАЭ, –љ–µ –і—Г—И–Є–Љ –њ–Њ–Є—Б–Ї –Њ–і–љ–Є–Љ –і–љ–µ–Љ –≤—Л–ї–µ—В–∞.\n// –Х—Б–ї–Є –њ–Њ–ї—М–Ј–Њ–≤–∞—В–µ–ї—М –і–∞–ї –і–Є–∞–њ–∞–Ј–Њ–љ вАЬ6-7 –љ–Њ—З–µ–євАЭ, –Њ–±–∞ –Ј–љ–∞—З–µ–љ–Є—П —Б—З–Є—В–∞—О—В—Б—П —В–Њ—З–љ—Л–Љ –њ–Њ–њ–∞–і–∞–љ–Є–µ–Љ, –∞ –љ–µ fallback.\nconst flexibleVacationWindow = Boolean(vacationWindow && !explicitDurationRequested);\nconst minFlexibleNights = flexibleVacationWindow ? durationRequest.min : acceptedNightsMin;\nconst searchMinNights = minFlexibleNights;\nconst maxNightsFallbackDiff = flexibleVacationWindow ? 2 : 1;\nconst calmRequested = /—Б–њ–Њ–Ї–Њ–є–љ|—В–Є—Е–Є–є|—В–Є—И–µ|—А–µ–ї–∞–Ї—Б|relax|calm|quiet|–±–µ–Ј\\s*—И—Г–Љ–∞/i.test(originalRequest);\nconst adultOnlyRequested = /adults?\\s*only|adult\\s*only|16\\+|18\\+|–±–µ–Ј\\s*–і–µ—В–µ–є|—В–Њ–ї—М–Ї–Њ\\s*–≤–Ј—А–Њ—Б–ї/i.test(originalRequest);\nconst familyRequested = /–і–µ—В|—А–µ–±|—Б–µ–Љ–µ–є–љ|–∞–Ї–≤–∞–њ–∞—А–Ї|–≥–Њ—А–Ї/i.test(originalRequest);\nconst departure = destination.departure || parseDeparture(originalRequest);\nconst departCityId = onlinetoursDepartCityId(departure);\nconst [monthStartFrom, monthStartTo, monthSlug] = monthToRange(month);\nconst requestedPeriodFrom = vacationWindow ? vacationWindow.from : monthStartFrom;\nconst requestedPeriodTo = vacationWindow ? vacationWindow.to : monthStartTo;\nconst latestStartInsideVacation = vacationWindow ? subtractDays(vacationWindow.to, searchMinNights) : monthStartTo;\nconst startFrom = requestedPeriodFrom;\nconst startTo = vacationWindow && latestStartInsideVacation >= requestedPeriodFrom ? latestStartInsideVacation : requestedPeriodTo;\nconst durationFrom = Math.max(1, searchMinNights - 1);\nconst durationTo = acceptedNightsMax + 3;\n\nconst requestBase = {\n  originalRequest,\n  country,\n  '–°—В—А–∞–љ–∞': country,\n  destinationCandidates: destination.candidates.join(', '),\n  searchCountries: searchCountries.join(', '),\n  multiDestinationMode: destination.multiDestinationMode,\n  destinationAdviceReason: destination.reason,\n  tripFocus: destination.tripFocus.join(', '),\n  mealAIRequested: destination.mealAI,\n  adultOnlyRequested,\n  familyRequested,\n  month,\n  '–Ь–µ—Б—П—Ж': month,\n  budget,\n  '–С—О–і–ґ–µ—В': budget,\n  adults,\n  '–Т–Ј—А–Њ—Б–ї—Л—Е': adults,\n  children,\n  '–Ф–µ—В–µ–є': children,\n  stars,\n  '–Ч–≤–µ–Ј–і—Л': stars.join('-'),\n  departure,\n  '–У–Њ—А–Њ–і –≤—Л–ї–µ—В–∞': departure,\n  departCityId,\n  nights,\n  requestedNights: nights,\n  requestNights: nights,\n  explicitDurationRequested,\n  flexibleVacationWindow,\n  minFlexibleNights,\n  acceptedNightsMin,\n  acceptedNightsMax,\n  requestedNightsLabel,\n  maxNightsFallbackDiff,\n  '–Ч–∞–њ—А–Њ—И–µ–љ–Њ –љ–Њ—З–µ–є': requestedNightsLabel,\n  '–Э–Њ—З–µ–є': requestedNightsLabel,\n  hotelStyle: calmRequested ? 'calm' : 'normal',\n  hotelStyleExplicit: calmRequested,\n  requestStartFrom: requestedPeriodFrom,\n  requestStartTo: requestedPeriodTo,\n  searchStartFrom: startFrom,\n  searchStartTo: startTo,\n  vacationWindowExplicit: Boolean(vacationWindow),\n  vacationWindowLabel: vacationWindow ? vacationWindow.label : '',\n  monthSlug,\n  durationFrom,\n  durationTo,\n  intentCoverage: queryCoverageSummary()\n};\n\nconst commonParams = `adults=${adults}&kids=${children}&depart_city_id=${departCityId}&duration_from=${durationFrom}&duration_to=${durationTo}&start_from=${startFrom}&start_to=${startTo}&ticket_strategy=include&autostart=1&show_prices=true&price=cheap&excluded_providers%5B%5D=sletatru`;\nlet sources = [];\nfunction pushSource(source) {\n  if (!source || !source.url) return;\n  if (sources.some(s => s.url === source.url)) return;\n  sources.push(source);\n}\nconst exactNightWindows = buildExactNightWindows(requestedPeriodFrom, requestedPeriodTo, acceptedNightsMin, acceptedNightsMax, vacationWindow);\nconst nearDateFallbackWindows = buildNearDateFallbackWindows(vacationWindow, acceptedNightsMin, acceptedNightsMax);\nfor (const searchCountry of searchCountries) {\n  const slug = countrySlug(searchCountry);\n  for (const [baseUrl, sourceName] of buildSeoPathsForCountry(searchCountry, monthSlug)) {\n    pushSource({\n      ...requestBase,\n      country: searchCountry,\n      '–°—В—А–∞–љ–∞': searchCountry,\n      source: 'onlinetours',\n      sourceName,\n      url: appendQuery(baseUrl, commonParams),\n      sourceUrl: appendQuery(baseUrl, commonParams),\n      seoMonthPage: true,\n      searchWindowLabel: 'SEO-–Љ–µ—Б—П—Ж + params',\n      searchWindowFrom: startFrom,\n      searchWindowTo: startTo,\n      exactNightSearch: false\n    });\n  }\n  for (const w of buildDateWindows(startFrom, startTo)) {\n    const url = `https://www.onlinetours.ru/tury/${slug}?adults=${adults}&kids=${children}&depart_city_id=${departCityId}&duration_from=${durationFrom}&duration_to=${durationTo}&start_from=${w.from}&start_to=${w.to}&ticket_strategy=include&autostart=1&show_prices=true&price=cheap&excluded_providers%5B%5D=sletatru`;\n    pushSource({ ...requestBase, country: searchCountry, '–°—В—А–∞–љ–∞': searchCountry, source: 'onlinetours', sourceName: `Onlinetours ${searchCountry} –Њ–Ї–љ–Њ ${w.label}`, url, sourceUrl: url, seoMonthPage: false, searchWindowLabel: w.label, searchWindowFrom: w.from, searchWindowTo: w.to, exactNightSearch: false });\n  }\n  // v13: –Њ—В–і–µ–ї—М–љ—Л–є —В–Њ—З–µ—З–љ—Л–є –њ–Њ–Є—Б–Ї –њ–Њ –Ї–∞–ґ–і–Њ–є –Ј–∞–њ—А–Њ—И–µ–љ–љ–Њ–є –і–ї–Є—В–µ–ї—М–љ–Њ—Б—В–Є, —З—В–Њ–±—Л –љ–µ —В–µ—А—П—В—М 6/7 –љ–Њ—З–µ–є –≤ —И–Є—А–Њ–Ї–Њ–Љ URL.\n  for (const w of exactNightWindows) {\n    for (const dv of durationVariantsForNights(w.nights)) {\n      const url = `https://www.onlinetours.ru/tury/${slug}?adults=${adults}&kids=${children}&depart_city_id=${departCityId}&duration_from=${dv.from}&duration_to=${dv.to}&start_from=${w.from}&start_to=${w.to}&ticket_strategy=include&autostart=1&show_prices=true&price=cheap&excluded_providers%5B%5D=sletatru`;\n      pushSource({ ...requestBase, country: searchCountry, '–°—В—А–∞–љ–∞': searchCountry, source: 'onlinetours', sourceName: `Onlinetours ${searchCountry} exact ${w.label} ${dv.label}`, url, sourceUrl: url, seoMonthPage: false, searchWindowLabel: `${w.label} ${dv.label}`, searchWindowFrom: w.from, searchWindowTo: w.to, exactNightSearch: true, exactNightTarget: w.nights });\n    }\n  }\n  // v16: –≥–ї—Г–±–Њ–Ї–Є–є fallback-–њ–Њ–Є—Б–Ї –њ–Њ —Б–Њ—Б–µ–і–љ–Є–Љ –і–∞—В–∞–Љ. –≠—В–Њ –љ–µ —Б—З–Є—В–∞–µ—В—Б—П —В–Њ—З–љ—Л–Љ –њ–Њ–њ–∞–і–∞–љ–Є–µ–Љ, –љ–Њ –њ–Њ–Љ–Њ–≥–∞–µ—В –љ–∞–є—В–Є –љ–Њ—А–Љ–∞–ї—М–љ—Л–є –Ї–Њ–Љ–њ—А–Њ–Љ–Є—Б—Б.\n  for (const w of nearDateFallbackWindows) {\n    for (const dv of durationVariantsForNights(w.nights)) {\n      const url = `https://www.onlinetours.ru/tury/${slug}?adults=${adults}&kids=${children}&depart_city_id=${departCityId}&duration_from=${dv.from}&duration_to=${dv.to}&start_from=${w.from}&start_to=${w.to}&ticket_strategy=include&autostart=1&show_prices=true&price=cheap&excluded_providers%5B%5D=sletatru`;\n      pushSource({ ...requestBase, country: searchCountry, '–°—В—А–∞–љ–∞': searchCountry, source: 'onlinetours', sourceName: `Onlinetours ${searchCountry} near-date ${w.label} ${dv.label}`, url, sourceUrl: url, seoMonthPage: false, searchWindowLabel: `${w.label} ${dv.label}`, searchWindowFrom: w.from, searchWindowTo: w.to, exactNightSearch: false, nearDateSearch: true, nearDateTarget: w.nights });\n    }\n  }\n}\nasync function fetchUrl(url) {\n  try {\n    const options = {\n      method: 'GET',\n      url,\n      timeout: 90000,\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120 Safari/537.36',\n        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',\n        'Accept-Language': 'ru-RU,ru;q=0.9,en;q=0.8',\n        'Cache-Control': 'no-cache'\n      }\n    };\n    let res;\n    if (this && this.helpers && typeof this.helpers.httpRequest === 'function') res = await this.helpers.httpRequest(options);\n    else if (typeof $http !== 'undefined' && $http && typeof $http.request === 'function') res = await $http.request(options);\n    else return '';\n    if (typeof res === 'string') return res;\n    if (res && typeof res === 'object') return JSON.stringify(res);\n    return '';\n  } catch (e) {\n    return '';\n  }\n}\nasync function mapLimit(items, limit, mapper) {\n  const result = new Array(items.length);\n  let index = 0;\n  async function worker() {\n    while (index < items.length) {\n      const currentIndex = index++;\n      result[currentIndex] = await mapper(items[currentIndex], currentIndex);\n    }\n  }\n  const workers = Array.from({ length: Math.min(limit, items.length) }, worker);\n  await Promise.all(workers);\n  return result;\n}\nfunction extractOfferBlocks(htmlOrText) {\n  const raw = String(htmlOrText || '');\n  let blocks = [];\n  const divMatches = raw.match(/<div[^>]+class=[\"'][^\"']*rounded-ds-xxl[^\"']*bg-white[^\"']*[\"'][\\s\\S]*?(?=<div[^>]+class=[\"'][^\"']*rounded-ds-xxl[^\"']*bg-white|$)/gi);\n  if (divMatches && divMatches.length) blocks = divMatches;\n  if (!blocks.length) {\n    const text = htmlToTextWithLines(raw);\n    const parts = text.split(/\\n–Т—Л–±—А–∞—В—М\\n/i);\n    for (let i = 0; i < parts.length - 1; i++) {\n      const lines = parts[i].split('\\n').filter(Boolean);\n      blocks.push(lines.slice(-28).join('\\n') + '\\n–Т—Л–±—А–∞—В—М');\n    }\n  }\n  return blocks.filter(b => /\\d[\\d\\s]{4,}\\s*вВљ|–Њ—В\\s+\\d/i.test(htmlToTextWithLines(b)) || /\\d{1,2}\\.\\d{1,2}\\s*[вАФ-]\\s*\\d{1,2}\\.\\d{1,2}/.test(htmlToTextWithLines(b)));\n}\nfunction parseStarsFromBlock(blockText, hotelName) {\n  const s = `${blockText}\\n${hotelName}`;\n  const m = s.match(/([45])\\s*(?:–Ј–≤[–µ—С]–Ј–і|\\*|в≠Р)/i);\n  return m ? Number(m[1]) : null;\n}\nfunction parseHotelName(lines, priceIdx) {\n  let reviewIdx = -1;\n  for (let i = 0; i < priceIdx; i++) if (/–Њ—В–Ј—Л–≤/i.test(lines[i])) reviewIdx = i;\n  if (reviewIdx >= 0) {\n    for (let i = reviewIdx + 1; i < Math.min(reviewIdx + 5, priceIdx); i++) {\n      const line = lines[i];\n      if (line && /[A-Za-z–Р-–ѓ–∞-—П–Б—С]/.test(line) && !/–ї–Є–љ–Є—П|–Ї–Љ –Њ—В|–њ–ї—П–ґ|–≤–µ–Ј–і–µ|–ї–Њ–±–±–Є|—А–µ–Ї–Њ–Љ–µ–љ–і—Г–µ–Љ|–њ—А–µ–Љ–Є—Г–Љ|–Њ—В–µ–ї—М –і–љ—П|–≤—Л–≥–Њ–і–љ–Њ/i.test(line)) return line;\n    }\n  }\n  for (let i = Math.max(0, priceIdx - 14); i < priceIdx; i++) {\n    const line = lines[i];\n    if (!line) continue;\n    if (/^[\\d.,]+$/.test(line)) continue;\n    if (/–Њ—В–Ј—Л–≤|–ї–Є–љ–Є—П|–Ї–Љ –Њ—В|–њ–ї—П–ґ|–≤–µ–Ј–і–µ|–ї–Њ–±–±–Є|—А–µ–Ї–Њ–Љ–µ–љ–і—Г–µ–Љ|–њ—А–µ–Љ–Є—Г–Љ|–≤—Л–≥–Њ–і–љ–Њ|—Б–≤–Њ–є –њ–ї—П–ґ|–Њ–±–љ–Њ–≤–ї/i.test(line)) continue;\n    if (/[A-Za-z–Р-–ѓ–∞-—П–Б—С]/.test(line)) return line;\n  }\n  return '';\n}\nfunction findDateCandidates(lines, sourceItem) {\n  const requestedNights = sourceItem.requestedNights || 7;\n  const minAccepted = sourceItem.acceptedNightsMin || requestedNights;\n  const maxAccepted = sourceItem.acceptedNightsMax || requestedNights;\n  const [monthFrom, monthTo] = monthToRange(sourceItem.month || '–Є—О–ї—М');\n  const candidates = [];\n  for (const line of lines) {\n    const s = safe(line);\n    if (!/\\d{1,2}\\.\\d{1,2}\\s*[вАФ-]\\s*\\d{1,2}\\.\\d{1,2}/.test(s)) continue;\n    const re = /(\\d{1,2}\\.\\d{1,2})\\s*[вАФ-]\\s*(\\d{1,2}\\.\\d{1,2})(?:,?\\s*(\\d{1,2})\\s*–љ–Њ—З(?:—М|–Є|–µ–є)?)?/gi;\n    let m;\n    while ((m = re.exec(s))) {\n      const computed = nightsBetweenDateFragments(m[1], m[2]);\n      const n = m[3] ? Number(m[3]) : computed;\n      const iso = dateToIso(m[1]);\n      const monthOk = Boolean(iso && iso >= monthFrom && iso <= monthTo);\n      const nightsOk = nightsInAcceptedRange(Number(n || 0), minAccepted, maxAccepted);\n      const nightDistance = nightsDistanceToRange(Number(n || 0), minAccepted, maxAccepted);\n      candidates.push({ line: m[0], dateFrom: m[1], dateTo: m[2], nights: n, monthOk, nightsOk, score: (monthOk ? 100 : 0) + (nightsOk ? 100 : 0) + (nightDistance <= 1 ? 10 : 0) });\n    }\n  }\n  candidates.sort((a, b) => b.score - a.score);\n  return candidates;\n}\nfunction parseCard(block, sourceItem, index) {\n  const text = htmlToTextWithLines(block);\n  const lines = text.split('\\n').map(x => cleanText(x)).filter(Boolean);\n  const priceIdx = lines.findIndex(l => /(?:–Њ—В\\s*)?\\d[\\d\\s]{4,}\\s*вВљ/i.test(l));\n  if (priceIdx < 0) return null;\n  const listingPriceRub = toNumber(lines[priceIdx]);\n  if (!listingPriceRub) return null;\n  const hotelName = parseHotelName(lines, priceIdx);\n  if (!hotelName) return null;\n  let region = '';\n  const nameIdx = lines.findIndex(l => normalizeName(l) === normalizeName(hotelName));\n  if (nameIdx >= 0 && nameIdx + 1 < lines.length) region = lines[nameIdx + 1];\n  const dateCandidates = findDateCandidates(lines, sourceItem);\n  const pickedDate = dateCandidates[0] || null;\n  const dateLine = pickedDate ? pickedDate.line : (lines.find(l => /\\d{1,2}\\.\\d{1,2}\\s*[вАФ-]\\s*\\d{1,2}\\.\\d{1,2}/.test(l)) || '');\n  const dm = dateLine.match(/(\\d{1,2}\\.\\d{1,2})\\s*[вАФ-]\\s*(\\d{1,2}\\.\\d{1,2})(?:,?\\s*(\\d{1,2})\\s*–љ–Њ—З)?/i);\n  const dateFrom = pickedDate ? pickedDate.dateFrom : (dm ? dm[1] : '');\n  const dateTo = pickedDate ? pickedDate.dateTo : (dm ? dm[2] : '');\n  const cardNights = pickedDate ? pickedDate.nights : (dm && dm[3] ? Number(dm[3]) : nightsBetweenDateFragments(dateFrom, dateTo));\n  const hrefMatch = String(block).match(/href=[\"']([^\"']*\\/oteli\\/[a-z0-9_-]+\\/[^\"']+)[\"']/i);\n  const link = hrefMatch ? normalizeUrl(hrefMatch[1]) : '';\n  const ratingLine = lines.find(l => /^\\d[\\d.,]?$/.test(l) || /^\\d[\\d.,]\\d$/.test(l));\n  const rating = ratingLine ? Number(ratingLine.replace(',', '.')) : null;\n  const reviewsLine = lines.find(l => /–Њ—В–Ј—Л–≤/i.test(l));\n  const reviewsCount = reviewsLine ? toNumber(reviewsLine) : null;\n  const beachLine = lines.find(l => /\\d\\s*–ї–Є–љ–Є—П/i.test(l)) || '';\n  const airportLine = lines.find(l => /–Ї–Љ\\s*–Њ—В\\s*–∞\\/–њ|–Ї–Љ\\s*–і–Њ\\s*–∞—Н—А–Њ–њ/i.test(l)) || '';\n  const features = lines.slice(Math.max(0, nameIdx + 1), priceIdx).filter(l => /–њ–ї—П–ґ|–∞–Ї–≤–∞–њ–∞—А–Ї|–і–µ—В—Б–Ї|—Б–µ–Љ–µ–є–љ|–Њ–±–љ–Њ–≤–ї|–≥–Њ–ї—Г–±–Њ–є|–∞–љ–Є–Љ–∞—Ж|–ї–Њ–±–±–Є|–њ—А–µ–Љ–Є—Г–Љ|24\\/7/i.test(l));\n  return { source: 'onlinetours', sourceName: sourceItem.sourceName || 'Onlinetours', sourceUrl: sourceItem.sourceUrl || sourceItem.url || '', searchWindowLabel: sourceItem.searchWindowLabel || '', hotelName, name: hotelName, country: sourceItem.country || '–Ґ—Г—А—Ж–Є—П', region, stars: parseStarsFromBlock(text, hotelName), listingPriceRub, priceRub: null, realPriceRub: null, date: dateLine, dateFrom, dateTo, nights: cardNights, rating, hotelRating: rating, reviewsCount, beachLine, airportDistance: airportLine, features: [...new Set(features)], url: link, link, rawText: text.slice(0, 2000), originalIndex: index, seoMonthPage: Boolean(sourceItem.seoMonthPage), priceConfirmed: false, fallbackPriceConfirmed: false, nearNightsFallback: false, priceCheckStatus: 'parsed' };\n}\n\nconst fetched = await mapLimit(sources, 3, async (source) => ({ ...source, html: await fetchUrl.call(this, source.url) }));\nlet cards = [];\nlet offerBlocksCount = 0;\nfor (const source of fetched) {\n  const blocks = extractOfferBlocks(source.html || '');\n  offerBlocksCount += blocks.length;\n  blocks.forEach((block, idx) => {\n    const card = parseCard(block, source, idx);\n    if (card && card.hotelName && card.listingPriceRub) cards.push(card);\n  });\n}\nconst seen = new Set();\ncards = cards.filter(card => {\n  const key = `${card.country}|${normalizeName(card.hotelName)}|${card.date}|${card.listingPriceRub}`;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nconst monthCards = cards.filter(c => monthMatches(c.date || `${c.dateFrom || ''} ${c.dateTo || ''}`, month));\nconst periodCards = monthCards.filter(c => tourFitsVacationWindow(c, vacationWindow));\nconst exactCards = periodCards.filter(c => nightsInAcceptedRange(Number(c.nights || 0), acceptedNightsMin, acceptedNightsMax)).filter(c => !budget || c.listingPriceRub <= budget * 2.5);\nconst fallbackCards = periodCards\n  .filter(c => c.nights && !nightsInAcceptedRange(Number(c.nights), acceptedNightsMin, acceptedNightsMax) && nightsDistanceToRange(Number(c.nights), acceptedNightsMin, acceptedNightsMax) <= maxNightsFallbackDiff)\n  .filter(c => !budget || c.listingPriceRub <= budget * 2.5)\n  .sort((a, b) => nightsDistanceToRange(Number(a.nights), acceptedNightsMin, acceptedNightsMax) - nightsDistanceToRange(Number(b.nights), acceptedNightsMin, acceptedNightsMax) || (a.listingPriceRub || 9999999) - (b.listingPriceRub || 9999999))\n  .slice(0, 36);\nconst dateFallbackCards = monthCards\n  .filter(c => !tourFitsVacationWindow(c, vacationWindow))\n  .filter(c => nightsInAcceptedRange(Number(c.nights || 0), acceptedNightsMin, acceptedNightsMax))\n  .filter(c => !budget || c.listingPriceRub <= budget)\n  .map(c => ({ ...c, vacationWindowGap: vacationWindowGap(c, vacationWindow), vacationWindowMiss: vacationWindowMissLabel(c, vacationWindow) }))\n  .filter(c => c.vacationWindowGap <= 5)\n  .sort((a, b) => (a.vacationWindowGap || 999) - (b.vacationWindowGap || 999) || (b.rating || 0) - (a.rating || 0) || (a.listingPriceRub || 9999999) - (b.listingPriceRub || 9999999))\n  .slice(0, 48);\n\nconst exactKeys = new Set(exactCards.map(c => `${c.country}|${normalizeName(c.hotelName)}|${c.date}|${c.listingPriceRub}`));\nconst fallbackKeys = new Set(fallbackCards.map(c => `${c.country}|${normalizeName(c.hotelName)}|${c.date}|${c.listingPriceRub}`));\nconst dateFallbackKeys = new Set(dateFallbackCards.map(c => `${c.country}|${normalizeName(c.hotelName)}|${c.date}|${c.listingPriceRub}`));\n\ncards = cards.map(card => {\n  const key = `${card.country}|${normalizeName(card.hotelName)}|${card.date}|${card.listingPriceRub}`;\n  const exact = exactKeys.has(key);\n  const fallback = fallbackKeys.has(key);\n  const dateFallback = dateFallbackKeys.has(key);\n  if (exact) {\n    return { ...card, priceRub: card.listingPriceRub, realPriceRub: card.listingPriceRub, price: card.listingPriceRub, priceConfirmed: true, priceCheckStatus: card.seoMonthPage ? 'confirmed_from_onlinetours_month_page_exact_requested_dates' : 'confirmed_from_onlinetours_window_page_exact_requested_dates', sourceConfirmedFrom: card.seoMonthPage ? 'onlinetours_month_page' : 'onlinetours_window_page' };\n  }\n  if (fallback) {\n    return { ...card, priceRub: card.listingPriceRub, realPriceRub: card.listingPriceRub, price: card.listingPriceRub, priceConfirmed: false, fallbackPriceConfirmed: true, nearNightsFallback: true, requestedNightsFallbackDiff: nightsDistanceToRange(Number(card.nights || 0), acceptedNightsMin, acceptedNightsMax), priceCheckStatus: 'confirmed_nearest_nights_fallback_not_exact', sourceConfirmedFrom: card.seoMonthPage ? 'onlinetours_month_page_fallback' : 'onlinetours_window_page_fallback' };\n  }\n  if (dateFallback) {\n    return { ...card, priceRub: card.listingPriceRub, realPriceRub: card.listingPriceRub, price: card.listingPriceRub, priceConfirmed: false, dateFallbackPriceConfirmed: true, nearDateFallback: true, vacationWindowGap: vacationWindowGap(card, vacationWindow), vacationWindowMiss: vacationWindowMissLabel(card, vacationWindow), priceCheckStatus: 'confirmed_nearest_dates_fallback_not_inside_vacation', sourceConfirmedFrom: card.seoMonthPage ? 'onlinetours_month_page_date_fallback' : 'onlinetours_window_page_date_fallback' };\n  }\n  return { ...card, priceCheckStatus: 'skipped_wrong_month_or_nights_month_page_only' };\n});\n\nfunction featureText(t) { return [t.hotelName, t.region, t.beachLine, t.airportDistance, ...(t.features || []), t.rawText].map(x => safe(x)).join(' ').toLowerCase(); }\nfunction beachDistanceMeters(t) { const m = featureText(t).match(/(\\d{2,4})\\s*–Љ/); return m ? Number(m[1]) : null; }\nfunction airportKm(t) { const m = featureText(t).match(/(\\d{1,3})\\s*–Ї–Љ\\s*–Њ—В\\s*–∞\\/–њ/); return m ? Number(m[1]) : null; }\nfunction strongAntHillRisk(t) {\n  const txt = featureText(t);\n  const hasAqua = /–∞–Ї–≤–∞–њ–∞—А–Ї|waterpark|aqua park|–≤–Њ–і–љ(—Л–µ|—Л—Е) –≥–Њ—А–Ї/i.test(txt);\n  const huge = /–Њ–≥—А–Њ–Љ–љ|–±–Њ–ї—М—И–Њ–є –Ї–Њ–Љ–њ–ї–µ–Ї—Б|–Љ–љ–Њ–≥–Њ –і–µ—В–µ–є|–Њ—З–µ–љ—М –Љ–љ–Њ–≥–Њ –і–µ—В–µ–є|–њ–µ—А–µ–њ–Њ–ї–љ|–Љ–∞—Б—Б–Њ–≤/i.test(txt);\n  const active = /–∞–Ї—В–Є–≤–љ–∞—П –∞–љ–Є–Љ–∞—Ж–Є—П|–і–Є—Б–Ї–Њ—В–µ–Ї|–≤–µ—З–µ—А–Є–љ|—И—Г–Љ–љ|—В—Г—Б–Њ–≤/i.test(txt);\n  const familyInfra = /–і–µ—В—Б–Ї|—Б–µ–Љ–µ–є–љ|–Љ–Є–љ–Є[\\s-]?–Ї–ї—Г–±|kids|children/i.test(txt);\n  const childClubOnly = /–і–µ—В—Б–Ї(–Є–є|–Њ–≥–Њ)? –Ї–ї—Г–±/i.test(txt) && !hasAqua && !huge && !active;\n  if (childClubOnly && !calmRequested) return false;\n  if (calmRequested && (hasAqua || active || huge || familyInfra)) return true;\n  return hasAqua || huge || active;\n}\nfunction calmHotelPoorFit(t) {\n  if (!calmRequested) return false;\n  const txt = featureText(t);\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const beachM = beachDistanceMeters(t);\n  if (rating !== null && rating < 7.8) return true;\n  if (/—Ж–µ–љ—В—А –≥–Њ—А–Њ–і–∞|—Ж–µ–љ—В—А|city center|city/i.test(txt)) return true;\n  if (/3\\s*–ї–Є–љ–Є—П|4\\s*–ї–Є–љ–Є—П|5\\s*–ї–Є–љ–Є—П/i.test(txt)) return true;\n  if (beachM !== null && beachM > 500) return true;\n  if (/–∞–њ–∞—А—В|apart|–±—Г—В(–Є|—Л)–Ї|butik|—Н–Ї–Њ–љ–Њ–Љ|–≥–Њ—А–Њ–і—Б–Ї–Њ–є/i.test(txt) && rating !== null && rating < 8.4) return true;\n  return false;\n}\nfunction calmHotelRejectReason(t) {\n  if (!calmRequested) return '';\n  const txt = featureText(t);\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const beachM = beachDistanceMeters(t);\n  if (rating !== null && rating < 7.8) return '–љ–Є–Ј–Ї–Є–є —А–µ–є—В–Є–љ–≥ –і–ї—П —Б–њ–Њ–Ї–Њ–є–љ–Њ–≥–Њ –Њ—В–µ–ї—П';\n  if (/—Ж–µ–љ—В—А –≥–Њ—А–Њ–і–∞|—Ж–µ–љ—В—А|city center|city/i.test(txt)) return '—Ж–µ–љ—В—А –≥–Њ—А–Њ–і–∞ вАФ —А–Є—Б–Ї —И—Г–Љ–∞';\n  if (/3\\s*–ї–Є–љ–Є—П|4\\s*–ї–Є–љ–Є—П|5\\s*–ї–Є–љ–Є—П/i.test(txt)) return '–і–∞–ї–µ–Ї–Њ –Њ—В –Љ–Њ—А—П –і–ї—П —Б–њ–Њ–Ї–Њ–є–љ–Њ–≥–Њ –Њ—В–і—Л—Е–∞';\n  if (beachM !== null && beachM > 500) return '–і–∞–ї–µ–Ї–Њ –Њ—В –њ–ї—П–ґ–∞ –і–ї—П —Б–њ–Њ–Ї–Њ–є–љ–Њ–≥–Њ –Њ—В–і—Л—Е–∞';\n  return '–љ–µ –њ–Њ–і—Е–Њ–і–Є—В –њ–Њ–і —Б–њ–Њ–Ї–Њ–є–љ—Л–є –Њ—В–µ–ї—М';\n}\nfunction qualityRejectReason(t) {\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const txt = featureText(t);\n  if (rating !== null && rating < 6.8) return '—А–µ–є—В–Є–љ–≥ –љ–Є–ґ–µ –Љ–Є–љ–Є–Љ–∞–ї—М–љ–Њ–≥–Њ –њ–Њ—А–Њ–≥–∞';\n  if (/3\\s*–ї–Є–љ–Є—П|4\\s*–ї–Є–љ–Є—П|5\\s*–ї–Є–љ–Є—П/i.test(txt) && rating !== null && rating < 7.7) return '—Б–ї–∞–±–∞—П —Б–≤—П–Ј–Ї–∞: –і–∞–ї—М–љ—П—П –ї–Є–љ–Є—П + –љ–µ–≤—Л—Б–Њ–Ї–Є–є —А–µ–є—В–Є–љ–≥';\n  return '';\n}\nfunction scoreTour(t) {\n  let score = 5.5;\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const star = toNumber(t.stars, null);\n  const txt = featureText(t);\n  const beachM = beachDistanceMeters(t);\n  const price = toNumber(t.priceRub || t.realPriceRub || t.listingPriceRub, null);\n  if (rating !== null) {\n    if (rating >= 9.0) score += 2.2;\n    else if (rating >= 8.5) score += 1.8;\n    else if (rating >= 8.0) score += 1.2;\n    else if (rating >= 7.5) score += 0.6;\n    else if (rating >= 7.0) score -= 0.4;\n    else if (rating >= 6.5) score -= 1.2;\n    else score -= 2.4;\n  }\n  if (star >= 5) score += 0.6;\n  if (/1\\s*–ї–Є–љ–Є—П/i.test(txt)) score += 0.9;\n  else if (/2\\s*–ї–Є–љ–Є—П/i.test(txt)) score += 0.2;\n  else if (/3\\s*–ї–Є–љ–Є—П|4\\s*–ї–Є–љ–Є—П|5\\s*–ї–Є–љ–Є—П/i.test(txt)) score -= 0.8;\n  if (beachM !== null && beachM <= 200) score += 0.4;\n  else if (beachM !== null && beachM <= 350) score += 0.2;\n  else if (beachM !== null && beachM > 700) score -= 0.8;\n  if (budget && price && price <= budget * 0.75) score += 0.2;\n  if (strongAntHillRisk(t)) score -= 2.5;\n  const airport = airportKm(t);\n  if (airport !== null && airport > 140) score -= 1.2;\n  if (calmRequested && /—Ж–µ–љ—В—А –≥–Њ—А–Њ–і–∞|—Ж–µ–љ—В—А|city center|city/i.test(txt)) score -= 1.2;\n  if (rating !== null && rating < 6.5) score = Math.min(score, 5.9);\n  else if (rating !== null && rating < 7.0) score = Math.min(score, 6.4);\n  else if (rating !== null && rating < 7.5) score = Math.min(score, 7.1);\n  else if (rating !== null && rating < 8.0) score = Math.min(score, 7.7);\n  return Math.max(1, Math.min(10, Math.round(score * 10) / 10));\n}\n\nconst tours = cards.map(card => {\n  const price = toNumber(card.realPriceRub || card.priceRub || card.price, null);\n  const tourNightsValue = toNumber(card.nights, null);\n  const matchesMonth = monthMatches(card.date || `${card.dateFrom || ''} ${card.dateTo || ''}`, month);\n  const matchesVacationWindow = tourFitsVacationWindow(card, vacationWindow);\n  const matchesNights = nightsInAcceptedRange(tourNightsValue, acceptedNightsMin, acceptedNightsMax);\n  const nightsDiff = tourNightsValue === null ? 999 : nightsDistanceToRange(tourNightsValue, acceptedNightsMin, acceptedNightsMax);\n  const fitsBudget = price !== null && (!budget || price <= budget);\n  const antHill = strongAntHillRisk(card);\n  const calmPoorFit = calmHotelPoorFit(card);\n  const beachM = beachDistanceMeters(card);\n  const airport = airportKm(card);\n  const beachPoorRisk = beachM !== null && beachM > 1200;\n  const airportDistanceSuspicious = airport !== null && airport > 180;\n  const qualityReject = qualityRejectReason(card);\n  const passedHardFilters = card.priceConfirmed === true && matchesMonth && matchesVacationWindow && matchesNights && fitsBudget && !antHill && !calmPoorFit && !beachPoorRisk && !airportDistanceSuspicious && !qualityReject;\n  const nearNightsFallbackPassed = (card.fallbackPriceConfirmed === true || card.nearNightsFallback === true) && matchesMonth && matchesVacationWindow && !matchesNights && nightsDiff <= maxNightsFallbackDiff && fitsBudget && !antHill && !calmPoorFit && !beachPoorRisk && !airportDistanceSuspicious && !qualityReject;\n  const dateGap = vacationWindowGap(card, vacationWindow);\n  const nearDateFallbackPassed = (card.dateFallbackPriceConfirmed === true || card.nearDateFallback === true) && matchesMonth && !matchesVacationWindow && matchesNights && dateGap <= 5 && fitsBudget && !antHill && !calmPoorFit && !beachPoorRisk && !airportDistanceSuspicious && !qualityReject;\n  const finalScore = scoreTour(card);\n  return { ...card, priceRub: price, realPriceRub: price, matchesMonth, matchesVacationWindow, matchesNights, fitsBudget, riskFamilyAntHill: antHill, calmPoorFit, calmHotelRejectReason: calmHotelRejectReason(card), beachPoorRisk, airportDistanceSuspicious, qualityReject, passedHardFilters, nearNightsFallbackPassed, nearDateFallbackPassed, vacationWindowGap: dateGap, vacationWindowMiss: card.vacationWindowMiss || vacationWindowMissLabel(card, vacationWindow), requestedNightsFallbackDiff: nightsDiff, originalTourNights: tourNightsValue, finalScore, score: finalScore, recommendationGroup: passedHardFilters ? (finalScore >= 8 ? 'recommend' : 'compromise') : 'reject' };\n});\n\n\n\nfunction hotelTier(t) {\n  const score = toNumber(t.finalScore, 0);\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  if (rating !== null && rating < 6.8) return '–Ы–£–І–®–Х –Я–†–Ю–Я–£–°–Ґ–Ш–Ґ–ђ';\n  if (score >= 8.3 && rating !== null && rating >= 8.5) return '–†–Х–Ъ–Ю–Ь–Х–Э–Ф–£–Ѓ';\n  if (score >= 7.5 && (rating === null || rating >= 7.5)) return '–Ь–Ю–Ц–Э–Ю –†–Р–°–°–Ь–Ю–Ґ–†–Х–Ґ–ђ';\n  if (score >= 6.8) return '–Ъ–Ю–Ь–Я–†–Ю–Ь–Ш–°–°';\n  return '–Ґ–Ю–Ы–ђ–Ъ–Ю –Х–°–Ы–Ш –Э–£–Ц–Э–Р –Ь–Ш–Э–Ш–Ь–Р–Ы–ђ–Э–Р–ѓ –¶–Х–Э–Р';\n}\nfunction hotelVerdict(t) {\n  const tier = hotelTier(t);\n  if (tier === '–†–Х–Ъ–Ю–Ь–Х–Э–Ф–£–Ѓ') return '—Б–Є–ї—М–љ—Л–є –≤–∞—А–Є–∞–љ—В –њ–Њ —Б–Њ—З–µ—В–∞–љ–Є—О —А–µ–є—В–Є–љ–≥–∞, –њ–ї—П–ґ–∞ –Є —Ж–µ–љ—Л';\n  if (tier === '–Ь–Ю–Ц–Э–Ю –†–Р–°–°–Ь–Ю–Ґ–†–Х–Ґ–ђ') return '–љ–Њ—А–Љ–∞–ї—М–љ—Л–є –≤–∞—А–Є–∞–љ—В, –љ–Њ –±–µ–Ј –≤–∞—Г-—Г—А–Њ–≤–љ—П';\n  if (tier === '–Ъ–Ю–Ь–Я–†–Ю–Ь–Ш–°–°') return '–Љ–Њ–ґ–љ–Њ –±—А–∞—В—М —В–Њ–ї—М–Ї–Њ –њ–Њ—Б–ї–µ –њ—А–Њ–≤–µ—А–Ї–Є —Б–≤–µ–ґ–Є—Е –Њ—В–Ј—Л–≤–Њ–≤';\n  return '–љ–µ —Б—В–∞–≤–Є–ї –±—Л –њ–µ—А–≤—Л–Љ –≤—Л–±–Њ—А–Њ–Љ';\n}\nfunction conciergeWhy(t) {\n  const bits = [];\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const beachM = beachDistanceMeters(t);\n  const txt = featureText(t);\n  const price = toNumber(t.priceRub, null);\n  if (rating !== null && rating >= 8.8) bits.push('–Њ—З–µ–љ—М —Б–Є–ї—М–љ—Л–є —А–µ–є—В–Є–љ–≥');\n  else if (rating !== null && rating >= 8.0) bits.push('–љ–Њ—А–Љ–∞–ї—М–љ—Л–є —А–µ–є—В–Є–љ–≥');\n  else if (rating !== null && rating >= 7.0) bits.push('—А–µ–є—В–Є–љ–≥ —В–µ—А–њ–Є–Љ—Л–є, –љ–Њ –љ–µ —В–Њ–њ');\n  else if (rating !== null) bits.push('—Б–ї–∞–±—Л–є —А–µ–є—В–Є–љ–≥');\n  if (/1\\s*–ї–Є–љ–Є—П/i.test(txt)) bits.push('1 –ї–Є–љ–Є—П');\n  else if (/2\\s*–ї–Є–љ–Є—П/i.test(txt)) bits.push('2 –ї–Є–љ–Є—П');\n  else if (/3\\s*–ї–Є–љ–Є—П/i.test(txt)) bits.push('3 –ї–Є–љ–Є—П');\n  if (beachM !== null && beachM <= 200) bits.push('–њ–ї—П–ґ —А–µ–∞–ї—М–љ–Њ –±–ї–Є–Ј–Ї–Њ');\n  else if (beachM !== null && beachM <= 350) bits.push('–њ–ї—П–ґ –≤ –њ–µ—И–µ–є –і–Њ—Б—В—Г–њ–љ–Њ—Б—В–Є');\n  else if (beachM !== null && beachM <= 700) bits.push('–і–Њ –њ–ї—П–ґ–∞ —Г–ґ–µ –Њ—Й—Г—В–Є–Љ–Њ –Є–і—В–Є');\n  if (price !== null && budget && price <= budget * 0.65) bits.push('—Ж–µ–љ–∞ —Б –±–Њ–ї—М—И–Є–Љ –Ј–∞–њ–∞—Б–Њ–Љ');\n  else if (price !== null && budget && price <= budget * 0.85) bits.push('—Ж–µ–љ–∞ –Ї–Њ–Љ—Д–Њ—А—В–љ–Њ –≤ –±—О–і–ґ–µ—В–µ');\n  if (!bits.length) bits.push('–њ—А–Њ—Е–Њ–і–Є—В —Ж–µ–љ—Г/–Љ–µ—Б—П—Ж/–љ–Њ—З–Є, –љ–Њ –і–∞–љ–љ—Л—Е –і–ї—П —Г–≤–µ—А–µ–љ–љ–Њ–є —А–µ–Ї–Њ–Љ–µ–љ–і–∞—Ж–Є–Є –Љ–∞–ї–Њ');\n  return bits.slice(0, 4).join('; ');\n}\nfunction conciergeRisk(t) {\n  const risks = [];\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const beachM = beachDistanceMeters(t);\n  const txt = featureText(t);\n  if (/—Ж–µ–љ—В—А –≥–Њ—А–Њ–і–∞|—Ж–µ–љ—В—А|city center|city/i.test(txt)) risks.push('—Ж–µ–љ—В—А вАФ –≤–Њ–Ј–Љ–Њ–ґ–µ–љ —И—Г–Љ');\n  if (/club|–Ї–ї—Г–±|aqua|–∞–Ї–≤–∞|slides|–≥–Њ—А–Ї|kids|children|–і–µ—В/i.test(txt)) risks.push('–њ—А–Њ–≤–µ—А–Є—В—М —Б–µ–Љ–µ–є–љ–Њ—Б—В—М/—И—Г–Љ');\n  if (rating !== null && rating < 7.5) risks.push('—Б–ї–∞–±—Л–є —А–µ–є—В–Є–љ–≥ вАФ —З–Є—В–∞—В—М —В–Њ–ї—М–Ї–Њ —Б–≤–µ–ґ–Є–µ –Њ—В–Ј—Л–≤—Л');\n  if (beachM !== null && beachM > 350) risks.push('–њ–ї—П–ґ –љ–µ —Г –љ–Њ–Љ–µ—А–∞');\n  if (/butik|–±—Г—В–Є–Ї|apart|–∞–њ–∞—А—В/i.test(txt)) risks.push('–њ—А–Њ–≤–µ—А–Є—В—М —Д–Њ—А–Љ–∞—В –њ–Є—В–∞–љ–Є—П/–Є–љ—Д—А–∞—Б—В—А—Г–Ї—В—Г—А—Г');\n  if (!risks.length) risks.push('–њ—А–Њ–≤–µ—А–Є—В—М —Д–Є–љ–∞–ї—М–љ—Г—О —Ж–µ–љ—Г –Є —Б–≤–µ–ґ–Є–µ –Њ—В–Ј—Л–≤—Л');\n  return risks.slice(0, 3).join('; ');\n}\nfunction conciergeAction(t) {\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const tier = hotelTier(t);\n  if (tier === '–†–Х–Ъ–Ю–Ь–Х–Э–Ф–£–Ѓ') return '–њ—А–Њ–≤–µ—А–Є—В—М —Б–≤–µ–ґ–Є–µ –Њ—В–Ј—Л–≤—Л –Ј–∞ –њ–Њ—Б–ї–µ–і–љ–Є–µ 2вАУ3 –Љ–µ—Б—П—Ж–∞ –Є —Д–Є–љ–∞–ї—М–љ—Г—О —Ж–µ–љ—Г –±—А–Њ–љ–Є—А–Њ–≤–∞–љ–Є—П';\n  if (rating !== null && rating < 7.5) return '–љ–µ –±—А–Њ–љ–Є—А–Њ–≤–∞—В—М –±–µ–Ј —А—Г—З–љ–Њ–≥–Њ —З—В–µ–љ–Є—П –љ–µ–≥–∞—В–Є–≤–љ—Л—Е –Њ—В–Ј—Л–≤–Њ–≤';\n  return '—Б—А–∞–≤–љ–Є—В—М —Б 1вАУ2 —Б–Њ—Б–µ–і–љ–Є–Љ–Є –≤–∞—А–Є–∞–љ—В–∞–Љ–Є –Є –њ—А–Њ–≤–µ—А–Є—В—М —Б–Њ—Б—В–∞–≤ —В—Г—А–∞';\n}\nfunction lineTour(t, idx) {\n  const region = `${safe(t.country || country)}${safe(t.region) ? ', ' + safe(t.region) : ''} ¬Ј `;\n  const date = safe(t.date) ? ` ¬Ј ${safe(t.date)}` : '';\n  const rating = t.rating || t.hotelRating ? ` ¬Ј —А–µ–є—В–Є–љ–≥ ${safe(t.rating || t.hotelRating)}` : '';\n  const beach = safe(t.beachLine) ? ` ¬Ј –њ–ї—П–ґ: ${safe(t.beachLine)}` : '';\n  return `${idx}. ${hotelTier(t)} вАФ ${safe(t.hotelName)}\\n${region}${money(t.priceRub)}${date}${rating}${beach} ¬Ј –Њ—Ж–µ–љ–Ї–∞ ${safe(t.finalScore)}/10\\n–Я–Њ—З–µ–Љ—Г: ${hotelVerdict(t)}; ${conciergeWhy(t)}.\\n–†–Є—Б–Ї–Є: ${conciergeRisk(t)}.\\n–Я—А–Њ–≤–µ—А–Є—В—М –њ–µ—А–µ–і –±—А–Њ–љ—М—О: ${conciergeAction(t)}.`;\n}\nfunction lineFallbackTour(t, idx) {\n  const region = `${safe(t.country || country)}${safe(t.region) ? ', ' + safe(t.region) : ''} ¬Ј `;\n  const date = safe(t.date) ? ` ¬Ј ${safe(t.date)}` : '';\n  const rating = t.rating || t.hotelRating ? ` ¬Ј —А–µ–є—В–Є–љ–≥ ${safe(t.rating || t.hotelRating)}` : '';\n  const beach = safe(t.beachLine) ? ` ¬Ј –њ–ї—П–ґ: ${safe(t.beachLine)}` : '';\n  const tourNights = toNumber(t.originalTourNights || t.tourNights || t.cardNights, null);\n  const warn = tourNights ? `–Э–Х ${requestedNightsLabel}, –∞ ${tourNights} –љ–Њ—З–µ–є` : `–Э–Х —В–Њ—З–љ—Л–µ ${requestedNightsLabel}`;\n  return `${idx}. ${hotelTier(t)} вАФ ${safe(t.hotelName)}\\n${region}${money(t.priceRub)}${date}${rating}${beach} ¬Ј –Њ—Ж–µ–љ–Ї–∞ ${safe(t.finalScore)}/10 ¬Ј ${warn}\\n–Я–Њ—З–µ–Љ—Г: ${hotelVerdict(t)}; ${conciergeWhy(t)}.\\n–†–Є—Б–Ї–Є: ${conciergeRisk(t)}.`;\n}\nfunction lineDateFallbackTour(t, idx) {\n  const region = `${safe(t.country || country)}${safe(t.region) ? ', ' + safe(t.region) : ''} ¬Ј `;\n  const date = safe(t.date) ? ` ¬Ј ${safe(t.date)}` : '';\n  const rating = t.rating || t.hotelRating ? ` ¬Ј —А–µ–є—В–Є–љ–≥ ${safe(t.rating || t.hotelRating)}` : '';\n  const beach = safe(t.beachLine) ? ` ¬Ј –њ–ї—П–ґ: ${safe(t.beachLine)}` : '';\n  const warn = safe(t.vacationWindowMiss) ? `–Э–Х –њ–Њ–Љ–µ—Й–∞–µ—В—Б—П –≤ –Њ—В–њ—Г—Б–Ї: ${safe(t.vacationWindowMiss)}` : '–Э–Х –њ–Њ–Љ–µ—Й–∞–µ—В—Б—П –≤ –Њ–Ї–љ–Њ –Њ—В–њ—Г—Б–Ї–∞';\n  return `${idx}. ${hotelTier(t)} вАФ ${safe(t.hotelName)}\n${region}${money(t.priceRub)}${date}${rating}${beach} ¬Ј –Њ—Ж–µ–љ–Ї–∞ ${safe(t.finalScore)}/10 ¬Ј ${warn}\n–Я–Њ—З–µ–Љ—Г: ${hotelVerdict(t)}; ${conciergeWhy(t)}.\n–†–Є—Б–Ї–Є: ${conciergeRisk(t)}.`;\n}\nfunction lineAlternativeTour(t, idx) {\n  if (t.nearDateFallbackPassed || t.nearDateFallback) return lineDateFallbackTour(t, idx);\n  return lineFallbackTour(t, idx);\n}\nfunction lineOverBudgetTour(t, idx) {\n  const region = `${safe(t.country || country)}${safe(t.region) ? ', ' + safe(t.region) : ''} ¬Ј `;\n  const date = safe(t.date) ? ` ¬Ј ${safe(t.date)}` : '';\n  const rating = t.rating || t.hotelRating ? ` ¬Ј —А–µ–є—В–Є–љ–≥ ${safe(t.rating || t.hotelRating)}` : '';\n  const beach = safe(t.beachLine) ? ` ¬Ј –њ–ї—П–ґ: ${safe(t.beachLine)}` : '';\n  const diff = toNumber(t.priceRub, 0) - toNumber(budget, 0);\n  const warn = diff > 0 ? `–≤—Л—И–µ –±—О–і–ґ–µ—В–∞ –љ–∞ ${money(diff)}` : '–≤—Л—И–µ –±—О–і–ґ–µ—В–∞';\n  return `${idx}. ${hotelTier(t)} вАФ ${safe(t.hotelName)}\\n${region}${money(t.priceRub)}${date}${rating}${beach} ¬Ј –Њ—Ж–µ–љ–Ї–∞ ${safe(t.finalScore)}/10 ¬Ј ${warn}\\n–Я–Њ—З–µ–Љ—Г: ${hotelVerdict(t)}; ${conciergeWhy(t)}.\\n–†–Є—Б–Ї–Є: ${conciergeRisk(t)}.`;\n}\nfunction oneLineTour(t) { return `${safe(t.hotelName)} вАФ ${money(t.priceRub)} вАФ ${safe(t.date)} вАФ ${safe(t.finalScore)}/10`; }\nfunction groupByCountry(list, countries, maxPerCountry = 3, formatter = lineTour) {\n  const chunks = [];\n  for (const c of countries) {\n    const items = list.filter(t => safe(t.country) === c).slice(0, maxPerCountry);\n    if (items.length) chunks.push(`${c}:\\n` + items.map((t, i) => formatter(t, i + 1)).join('\\n\\n'));\n    else chunks.push(`${c}:\\n–њ–Њ–і—В–≤–µ—А–ґ–і—С–љ–љ—Л—Е –≤–∞—А–Є–∞–љ—В–Њ–≤ –≤ —А–∞–Љ–Ї–∞—Е —Г—Б–ї–Њ–≤–Є–є –љ–µ –љ–∞–є–і–µ–љ–Њ.`);\n  }\n  return chunks.join('\\n\\n');\n}\nfunction countryShortVerdict(list, c) {\n  const items = list.filter(t => safe(t.country) === c);\n  if (!items.length) return `${c}: –њ–Њ–Ї–∞ –љ–µ—В —Б–Є–ї—М–љ—Л—Е –њ–Њ–і—В–≤–µ—А–ґ–і—С–љ–љ—Л—Е –≤–∞—А–Є–∞–љ—В–Њ–≤`;\n  const top = items[0];\n  return `${c}: –ї—Г—З—И–Є–є –љ–∞–є–і–µ–љ–љ—Л–є вАФ ${safe(top.hotelName)} –Ј–∞ ${money(top.priceRub)} (${safe(top.date)}, –Њ—Ж–µ–љ–Ї–∞ ${safe(top.finalScore)}/10)`;\n}\nconst passed = tours.filter(t => t.passedHardFilters === true).sort((a, b) => (b.finalScore || 0) - (a.finalScore || 0));\nconst fallbackNearest = tours.filter(t => t.nearNightsFallbackPassed === true).sort((a, b) => (a.requestedNightsFallbackDiff || 99) - (b.requestedNightsFallbackDiff || 99) || (b.finalScore || 0) - (a.finalScore || 0) || (a.priceRub || 9999999) - (b.priceRub || 9999999));\nconst fallbackDates = tours.filter(t => t.nearDateFallbackPassed === true).sort((a, b) => (a.vacationWindowGap || 99) - (b.vacationWindowGap || 99) || (b.finalScore || 0) - (a.finalScore || 0) || (a.priceRub || 9999999) - (b.priceRub || 9999999));\nconst allFallbacks = [...fallbackNearest, ...fallbackDates].sort((a, b) => {\n  const ac = safe(a.country), bc = safe(b.country);\n  const ai = searchCountries.indexOf(ac), bi = searchCountries.indexOf(bc);\n  if (ai !== bi) return (ai < 0 ? 999 : ai) - (bi < 0 ? 999 : bi);\n  const ak = a.nearNightsFallbackPassed ? 0 : 1;\n  const bk = b.nearNightsFallbackPassed ? 0 : 1;\n  if (ak !== bk) return ak - bk;\n  return (b.finalScore || 0) - (a.finalScore || 0) || (a.priceRub || 9999999) - (b.priceRub || 9999999);\n});\nconst qualityFallbacks = allFallbacks.filter(t => toNumber(t.finalScore, 0) >= 7.5 && !/^–Ґ–Ю–Ы–ђ–Ъ–Ю –Х–°–Ы–Ш/i.test(hotelTier(t)));\nconst countryQuotaFallbacks = searchCountries.flatMap(c => allFallbacks.filter(t => safe(t.country) === c).slice(0, 3));\nconst confirmed = tours.filter(t => t.priceConfirmed === true);\nconst checked = tours.filter(t => t.priceCheckStatus && t.priceCheckStatus !== 'skipped_not_priority' && (t.priceConfirmed || t.fallbackPriceConfirmed || t.dateFallbackPriceConfirmed));\nconst overBudget = tours.filter(t => t.priceConfirmed === true && t.matchesMonth === true && t.matchesVacationWindow === true && t.matchesNights === true && t.fitsBudget === false).sort((a, b) => (a.priceRub || 9999999) - (b.priceRub || 9999999));\nconst antHillRejects = tours.filter(t => t.priceConfirmed === true && t.matchesMonth === true && t.matchesVacationWindow === true && t.matchesNights === true && t.fitsBudget === true && t.riskFamilyAntHill === true);\nconst weakBeachOrAirport = tours.filter(t => t.priceConfirmed === true && t.matchesMonth === true && t.matchesVacationWindow === true && t.matchesNights === true && t.fitsBudget === true && (t.beachPoorRisk === true || t.airportDistanceSuspicious === true));\nconst weakQualityRejects = tours.filter(t => t.priceConfirmed === true && t.matchesMonth === true && t.matchesVacationWindow === true && t.matchesNights === true && t.fitsBudget === true && Boolean(t.qualityReject));\nconst notDuration = tours.filter(t => t.priceConfirmed === true && t.matchesMonth === true && t.matchesVacationWindow === true && t.matchesNights === false);\nconst notMonth = tours.filter(t => t.priceConfirmed === true && (t.matchesMonth === false || t.matchesVacationWindow === false));\n\n\nfunction countryStats(list, c) {\n  const exact = passed.filter(t => safe(t.country) === c);\n  const near = fallbackNearest.filter(t => safe(t.country) === c);\n  const nearDate = fallbackDates.filter(t => safe(t.country) === c);\n  const over = overBudget.filter(t => safe(t.country) === c);\n  if (exact.length) return `${c}: –µ—Б—В—М —В–Њ—З–љ—Л–µ –≤–∞—А–Є–∞–љ—В—Л, –ї—Г—З—И–Є–є вАФ ${safe(exact[0].hotelName)} –Ј–∞ ${money(exact[0].priceRub)}.`;\n  if (near.length) return `${c}: —В–Њ—З–љ—Л—Е ${requestedNightsLabel} –љ–µ—В, –±–ї–Є–ґ–∞–є—И–Є–є –њ–Њ –і–ї–Є—В–µ–ї—М–љ–Њ—Б—В–Є вАФ ${safe(near[0].hotelName)} –Ј–∞ ${money(near[0].priceRub)} (${safe(near[0].date)}).`;\n  if (nearDate.length) return `${c}: –њ–Њ –љ–Њ—З–∞–Љ –њ–Њ–і—Е–Њ–і–Є—В, –љ–Њ –і–∞—В—Л –љ–µ –њ–Њ–Љ–µ—Й–∞—О—В—Б—П –≤ –Њ—В–њ—Г—Б–Ї вАФ ${safe(nearDate[0].hotelName)} –Ј–∞ ${money(nearDate[0].priceRub)} (${safe(nearDate[0].date)}).`;\n  if (over.length) return `${c}: —В–Њ—З–љ—Л—Е –≤–∞—А–Є–∞–љ—В–Њ–≤ –≤ –±—О–і–ґ–µ—В–µ –љ–µ—В, –±–ї–Є–ґ–∞–є—И–Є–є –≤—Л—И–µ –±—О–і–ґ–µ—В–∞ вАФ ${safe(over[0].hotelName)} –Ј–∞ ${money(over[0].priceRub)}.`;\n  return `${c}: –њ–Њ–і—В–≤–µ—А–ґ–і—С–љ–љ—Л—Е –≤–∞—А–Є–∞–љ—В–Њ–≤ –≤ —А–∞–Љ–Ї–∞—Е –њ–Њ–і–Ї–ї—О—З–µ–љ–љ–Њ–≥–Њ –Є—Б—В–Њ—З–љ–Є–Ї–∞ –љ–µ –љ–∞–є–і–µ–љ–Њ.`;\n}\nfunction extraDirectionAdvice() {\n  if (!(destination.multiDestinationMode || destination.asksDirectionAdvice)) return '';\n  const s = [];\n  if (!searchCountries.includes('–Ю–Р–≠')) s.push('–Ю–Р–≠ вАФ –≤ –Є—О–ї–µ –Њ—З–µ–љ—М –ґ–∞—А–Ї–Њ, –њ—А–Њ–≤–µ—А—П—В—М —В–Њ–ї—М–Ї–Њ –µ—Б–ї–Є —Ж–µ–љ–∞ –Ј–∞–Љ–µ—В–љ–Њ –љ–Є–ґ–µ –Є –љ—Г–ґ–µ–љ –Њ—В–µ–ї—М–љ—Л–є –Њ—В–і—Л—Е –±–µ–Ј –∞–Ї—В–Є–≤–љ—Л—Е –њ—А–Њ–≥—Г–ї–Њ–Ї.');\n  if (!searchCountries.includes('–Ґ–∞–Є–ї–∞–љ–і')) s.push('–Ґ–∞–Є–ї–∞–љ–і вАФ –ї–µ—В–Њ–Љ –Ј–∞–≤–Є—Б–Є—В –Њ—В —А–µ–≥–Є–Њ–љ–∞, —З–∞—Й–µ –љ—Г–ґ–µ–љ –Њ—В–і–µ–ї—М–љ—Л–є –њ–Њ–Є—Б–Ї –њ–Њ –Я—Е—Г–Ї–µ—В—Г/–Я–∞—В—В–∞–є–µ –Є –њ–Њ–≥–Њ–і–µ.');\n  if (!searchCountries.includes('–†–Њ—Б—Б–Є—П')) s.push('–†–Њ—Б—Б–Є—П/–°–Њ—З–Є вАФ —А–µ–Ј–µ—А–≤–љ—Л–є –≤–∞—А–Є–∞–љ—В, –µ—Б–ї–Є –≤–∞–ґ–љ–µ–µ —Г–ї–Њ–ґ–Є—В—М—Б—П –≤ –і–∞—В—Л –Є –±—О–і–ґ–µ—В, –љ–Њ —Г—А–Њ–≤–µ–љ—М –њ–ї—П–ґ–љ–Њ–≥–Њ –Њ—В–і—Л—Е–∞ –±—Г–і–µ—В –і—А—Г–≥–Њ–є.');\n  return s.length ? '–Ф–Њ–њ–Њ–ї–љ–Є—В–µ–ї—М–љ–Њ –Љ–Њ–ґ–љ–Њ –њ—А–Њ–≤–µ—А–Є—В—М –Њ—В–і–µ–ї—М–љ–Њ, –µ—Б–ї–Є –љ—Г–ґ–љ–Њ —А–∞—Б—И–Є—А–Є—В—М —А—Л–љ–Њ–Ї:\\n' + s.slice(0, 3).map((x, i) => `${i + 1}. ${x}`).join('\\n') + '\\n\\n' : '';\n}\nconst wrongDurationCount = notDuration.length + fallbackNearest.length;\n\n\nfunction shortWarn(t) {\n  const tourNights = toNumber(t.originalTourNights || t.tourNights || t.cardNights || t.nights, null);\n  if (t.nearNightsFallbackPassed || t.nearNightsFallback) return tourNights ? `–Э–Х ${requestedNightsLabel}, –∞ ${tourNights} –љ–Њ—З–µ–є` : `–Э–Х —В–Њ—З–љ—Л–µ ${requestedNightsLabel}`;\n  if (t.nearDateFallbackPassed || t.nearDateFallback) return safe(t.vacationWindowMiss) ? `–Э–Х –њ–Њ–Љ–µ—Й–∞–µ—В—Б—П –≤ –Њ—В–њ—Г—Б–Ї: ${safe(t.vacationWindowMiss)}` : '–Э–Х –њ–Њ–Љ–µ—Й–∞–µ—В—Б—П –≤ –Њ–Ї–љ–Њ –Њ—В–њ—Г—Б–Ї–∞';\n  if (t.fitsBudget === false && budget) return `–≤—Л—И–µ –±—О–і–ґ–µ—В–∞ –љ–∞ ${money(toNumber(t.priceRub, 0) - toNumber(budget, 0))}`;\n  return '';\n}\nfunction shortTourLine(t, idx) {\n  const region = `${safe(t.country || country)}${safe(t.region) ? ', ' + safe(t.region) : ''}`;\n  const rating = t.rating || t.hotelRating ? ` ¬Ј —А–µ–є—В–Є–љ–≥ ${safe(t.rating || t.hotelRating)}` : '';\n  const beach = safe(t.beachLine) ? ` ¬Ј ${safe(t.beachLine)}` : '';\n  const dateText = safe(t.date);\n  const parsedNights = toNumber(t.originalTourNights || t.nights, null);\n  const nightsTxt = parsedNights && !/–љ–Њ—З|night/i.test(dateText) ? ` ¬Ј ${parsedNights} –љ–Њ—З–µ–є` : '';\n  const warn = shortWarn(t);\n  return `${idx}. ${hotelTier(t)} вАФ ${safe(t.hotelName)}\n${region} ¬Ј ${money(t.priceRub)} ¬Ј ${dateText}${nightsTxt}${rating}${beach} ¬Ј –Њ—Ж–µ–љ–Ї–∞ ${safe(t.finalScore)}/10${warn ? `\n–Т–∞–ґ–љ–Њ: ${warn}` : ''}`;\n}\nfunction compactGroupByCountry(list, countries, maxPerCountry = 2) {\n  const chunks = [];\n  for (const c of countries) {\n    const items = list.filter(t => safe(t.country) === c).slice(0, maxPerCountry);\n    if (items.length) chunks.push(`${c}:\n` + items.map((t, i) => shortTourLine(t, i + 1)).join('\\n'));\n  }\n  return chunks.join('\\n\\n');\n}\nfunction cleanCountryDecision(c) {\n  const exact = passed.filter(t => safe(t.country) === c);\n  const near = fallbackNearest.filter(t => safe(t.country) === c);\n  const nearDate = fallbackDates.filter(t => safe(t.country) === c);\n  const over = overBudget.filter(t => safe(t.country) === c);\n  if (exact.length) return `${c}: –µ—Б—В—М —В–Њ—З–љ—Л–µ, –ї—Г—З—И–Є–є вАФ ${safe(exact[0].hotelName)} ${money(exact[0].priceRub)}.`;\n  if (near.length) return `${c}: –љ–µ—В —В–Њ—З–љ—Л—Е ${requestedNightsLabel}; –±–ї–Є–ґ–∞–є—И–Є–є –Ї–Њ–Љ–њ—А–Њ–Љ–Є—Б—Б вАФ ${safe(near[0].hotelName)} ${money(near[0].priceRub)}, ${safe(near[0].date)}.`;\n  if (nearDate.length) return `${c}: –µ—Б—В—М ${requestedNightsLabel}, –љ–Њ –љ–µ –≤ –Њ—В–њ—Г—Б–Ї вАФ ${safe(nearDate[0].hotelName)} ${money(nearDate[0].priceRub)}, ${safe(nearDate[0].date)}.`;\n  if (over.length) return `${c}: —В–Њ—З–љ—Л–µ –µ—Б—В—М —В–Њ–ї—М–Ї–Њ –≤—Л—И–µ –±—О–і–ґ–µ—В–∞ вАФ ${safe(over[0].hotelName)} ${money(over[0].priceRub)}.`;\n  return `${c}: –≤–∞—А–Є–∞–љ—В–Њ–≤ –љ–µ –љ–∞–є–і–µ–љ–Њ –≤ –њ–Њ–і–Ї–ї—О—З–µ–љ–љ–Њ–Љ –Є—Б—В–Њ—З–љ–Є–Ї–µ.`;\n}\nfunction recommendationByRelaxation() {\n  const bits = [];\n  const fmt = (t) => `${safe(t.hotelName)} вАФ ${money(t.priceRub)}, ${safe(t.date)}${shortWarn(t) ? ` (${shortWarn(t)})` : ''}`;\n  const strongEnough = (t) => t && toNumber(t.finalScore, 0) >= 7.5 && !/^–Ґ–Ю–Ы–ђ–Ъ–Ю –Х–°–Ы–Ш/i.test(hotelTier(t));\n  const byQuality = (arr) => [...arr].sort((a, b) => (b.finalScore || 0) - (a.finalScore || 0) || (a.priceRub || 9999999) - (b.priceRub || 9999999));\n  const bestExact = passed[0];\n  const bestShort = fallbackNearest.find(strongEnough) || fallbackNearest[0];\n  const bestShiftQuality = byQuality(fallbackDates.filter(strongEnough))[0] || null;\n  const bestShiftMinGap = fallbackDates[0];\n  const bestOver = overBudget[0];\n  if (bestExact) bits.push(`1. –С—А–∞—В—М —В–Њ—З–љ–Њ–µ –њ–Њ–њ–∞–і–∞–љ–Є–µ: ${fmt(bestExact)}.`);\n  if (bestShiftQuality) bits.push(`${bits.length + 1}. –Х—Б–ї–Є –Љ–Њ–ґ–љ–Њ —Б–і–≤–Є–љ—Г—В—М –і–∞—В—Л —А–∞–і–Є –љ–Њ—А–Љ–∞–ї—М–љ–Њ–≥–Њ –њ–ї—П–ґ–љ–Њ–≥–Њ –≤–∞—А–Є–∞–љ—В–∞: ${fmt(bestShiftQuality)}.`);\n  if (bestShiftMinGap && bestShiftMinGap !== bestShiftQuality) bits.push(`${bits.length + 1}. –Х—Б–ї–Є –љ—Г–ґ–µ–љ –Љ–Є–љ–Є–Љ–∞–ї—М–љ—Л–є —Б–і–≤–Є–≥ –њ–Њ –і–∞—В–∞–Љ: ${fmt(bestShiftMinGap)} вАФ –љ–Њ —Н—В–Њ —Б–ї–∞–±–µ–µ –њ–Њ –Ї–∞—З–µ—Б—В–≤—Г.`);\n  if (bestShort) bits.push(`${bits.length + 1}. –Х—Б–ї–Є –і–∞—В—Л —Б—В—А–Њ–≥–Є–µ, –љ–Њ –Љ–Њ–ґ–љ–Њ –Љ–µ–љ—М—И–µ –љ–Њ—З–µ–є: ${fmt(bestShort)}.`);\n  if (bestOver) bits.push(`${bits.length + 1}. –Х—Б–ї–Є –Љ–Њ–ґ–љ–Њ –њ–Њ–і–љ—П—В—М –±—О–і–ґ–µ—В: ${fmt(bestOver)}.`);\n  if (!bits.length) bits.push('1. –†–∞—Б—И–Є—А–Є—В—М –і–∞—В—Л/–±—О–і–ґ–µ—В –Є–ї–Є –Ј–∞–њ—Г—Б–Ї–∞—В—М –Њ—В–і–µ–ї—М–љ—Л–є –њ–Њ–Є—Б–Ї –њ–Њ –Ї–Њ–љ–Ї—А–µ—В–љ–Њ–є —Б—В—А–∞–љ–µ.');\n  return bits.join('\\n');\n}\n\nlet output = '';\noutput += '–У–Њ—В–Њ–≤–Њ. –Ч–∞–њ–Є—Б–∞–ї/–Њ–±–љ–Њ–≤–Є–ї —А–µ–Ј—Г–ї—М—В–∞—В –≤ Google Sheets.\\n\\n';\noutput += `–Ш—В–Њ–≥: ${requestedNightsLabel}, ${month}, ${adults} –≤–Ј—А–Њ—Б–ї—Л—Е, –і–Њ ${money(budget)}, –≤—Л–ї–µ—В ${departure}.\\n`;\nif (vacationWindow) output += `–Ю–Ї–љ–Њ –Њ—В–њ—Г—Б–Ї–∞: ${vacationWindow.label}. –Ґ—Г—А –і–Њ–ї–ґ–µ–љ –њ–Њ–ї–љ–Њ—Б—В—М—О –њ–Њ–Љ–µ—Й–∞—В—М—Б—П –≤ —Н—В–Є –і–∞—В—Л.\\n`;\noutput += `Live-–њ–Њ–Є—Б–Ї: ${searchCountries.join(' / ')}. –Ш—Б—В–Њ—З–љ–Є–Ї —Ж–µ–љ: Onlinetours. –†–µ–ґ–Є–Љ: —В–Њ—З–љ–Њ–µ –Њ–Ї–љ–Њ + –і–Є–∞–њ–∞–Ј–Њ–љ –љ–Њ—З–µ–є –Њ—В–і–µ–ї—М–љ–Њ + —Б–Њ—Б–µ–і–љ–Є–µ –і–∞—В—Л +/-5 –і–љ–µ–є + –Ј–∞—Й–Є—В–∞ –±—О–і–ґ–µ—В–∞.\\n`;\noutput += `–†–∞–Ј–Њ–±—А–∞–љ–Њ –Ї–∞—А—В–Њ—З–µ–Ї: ${cards.length}. –Ґ–Њ—З–љ—Л—Е –≤–∞—А–Є–∞–љ—В–Њ–≤: ${passed.length}. –Ъ–Њ–Љ–њ—А–Њ–Љ–Є—Б—Б–Њ–≤: ${allFallbacks.length}. –Ъ–∞—З–µ—Б—В–≤–µ–љ–љ—Л—Е –Ї–Њ–Љ–њ—А–Њ–Љ–Є—Б—Б–Њ–≤: ${qualityFallbacks.length}. –Т—Л—И–µ –±—О–і–ґ–µ—В–∞: ${overBudget.length}.\\n\\n`;\n\nif (passed.length) {\n  output += '–Ъ–Њ—А–Њ—В–Ї–Є–є –≤—Л–≤–Њ–і:\\n–Х—Б—В—М —В–Њ—З–љ—Л–µ –≤–∞—А–Є–∞–љ—В—Л. –°–љ–∞—З–∞–ї–∞ —Б–Љ–Њ—В—А–µ—В—М –ї—Г—З—И–Є–µ –њ–Њ —Б—В—А–∞–љ–∞–Љ, –Ј–∞—В–µ–Љ –≤—А—Г—З–љ—Г—О –њ—А–Њ–≤–µ—А–Є—В—М —Б–Њ—Б—В–∞–≤ —В—Г—А–∞: –њ–Є—В–∞–љ–Є–µ, –±–∞–≥–∞–ґ, —В—А–∞–љ—Б—Д–µ—А, —Б—В—А–∞—Е–Њ–≤–Ї—Г –Є —Д–Є–љ–∞–ї—М–љ—Г—О —Ж–µ–љ—Г.\\n\\n';\n  output += '–Ы—Г—З—И–Є–µ —В–Њ—З–љ—Л–µ –≤–∞—А–Є–∞–љ—В—Л:\\n\\n';\n  output += (destination.multiDestinationMode || searchCountries.length > 1)\n    ? compactGroupByCountry(passed, searchCountries, 3)\n    : passed.slice(0, 6).map((tour, i) => shortTourLine(tour, i + 1)).join('\\n\\n');\n  output += '\\n\\n–Т–µ—А–і–Є–Ї—В –њ–Њ —Б—В—А–∞–љ–∞–Љ:\\n' + searchCountries.map(c => `- ${cleanCountryDecision(c)}`).join('\\n');\n  output += '\\n\\n–І—В–Њ –і–µ–ї–∞—В—М –і–∞–ї—М—И–µ:\\n1. –Ю—В–Ї—А—Л—В—М 1вАУ2 –ї—Г—З—И–Є—Е –≤–∞—А–Є–∞–љ—В–∞ –Є –њ—А–Њ–≤–µ—А–Є—В—М —Д–Є–љ–∞–ї—М–љ—Г—О —Ж–µ–љ—Г.\\n2. –Я—А–Њ–≤–µ—А–Є—В—М –њ–Є—В–∞–љ–Є–µ/–±–∞–≥–∞–ґ/—В—А–∞–љ—Б—Д–µ—А/—Б—В—А–∞—Е–Њ–≤–Ї—Г.\\n3. –Х—Б–ї–Є –љ—Г–ґ–љ–∞ –Њ–і–љ–∞ —Б—В—А–∞–љ–∞ вАФ –Ј–∞–њ—Г—Б—В–Є—В—М –Њ—В–і–µ–ї—М–љ—Л–є –њ–Њ–Є—Б–Ї —В–Њ–ї—М–Ї–Њ –њ–Њ –љ–µ–є.\\n';\n} else if (allFallbacks.length) {\n  output += `–Ъ–Њ—А–Њ—В–Ї–Є–є –≤—Л–≤–Њ–і:\\n–Ґ–Њ—З–љ—Л—Е –≤–∞—А–Є–∞–љ—В–Њ–≤ –љ–∞ ${requestedNightsLabel} –≤–љ—Г—В—А–Є –Њ—В–њ—Г—Б–Ї–∞ –Є –±—О–і–ґ–µ—В–∞ –љ–µ –љ–∞–є–і–µ–љ–Њ –≤ –њ–Њ–і–Ї–ї—О—З–µ–љ–љ–Њ–Љ –Є—Б—В–Њ—З–љ–Є–Ї–µ. –Э–Є–ґ–µ –љ–µ вАЬ–њ–Њ–і—Е–Њ–і—П—Й–Є–µ —В—Г—А—ЛвАЭ, –∞ —З–µ—Б—В–љ—Л–µ –Ї–Њ–Љ–њ—А–Њ–Љ–Є—Б—Б—Л.\\n\\n`;\n  output += '–Ы—Г—З—И–µ–µ —А–µ—И–µ–љ–Є–µ –њ–Њ –≤–≤–Њ–і–љ—Л–Љ:\\n' + recommendationByRelaxation() + '\\n\\n';\n  output += '–Т–µ—А–і–Є–Ї—В –њ–Њ —Б—В—А–∞–љ–∞–Љ:\\n' + searchCountries.map(c => `- ${cleanCountryDecision(c)}`).join('\\n') + '\\n\\n';\n  output += '–Ъ–Њ–Љ–њ—А–Њ–Љ–Є—Б—Б—Л –њ–Њ —Б—В—А–∞–љ–∞–Љ:\\n\\n';\n  output += compactGroupByCountry(countryQuotaFallbacks.length ? countryQuotaFallbacks : allFallbacks, searchCountries, 3) || '–Ъ–Њ–Љ–њ—А–Њ–Љ–Є—Б—Б–Њ–≤ –њ–Њ —Б—В—А–∞–љ–∞–Љ –љ–µ –љ–∞–є–і–µ–љ–Њ.';\n  output += '\\n\\n–І—В–Њ –і–µ–ї–∞—В—М –і–∞–ї—М—И–µ:\\n';\n  output += `1. –Х—Б–ї–Є ${requestedNightsLabel} —Б—В—А–Њ–≥–Њ вАФ —А–∞—Б—И–Є—А–Є—В—М –Њ–Ї–љ–Њ –Њ—В–њ—Г—Б–Ї–∞ –Є–ї–Є –±—О–і–ґ–µ—В.\\n`;\n  output += '2. –Х—Б–ї–Є –Љ–Њ–ґ–љ–Њ —Б–і–≤–Є–љ—Г—В—М –і–∞—В—Л вАФ —Б–Љ–Њ—В—А–µ—В—М –Ї–Њ–Љ–њ—А–Њ–Љ–Є—Б—Б—Л –њ–Њ –і–∞—В–∞–Љ —Б –љ—Г–ґ–љ–Њ–є –і–ї–Є—В–µ–ї—М–љ–Њ—Б—В—М—О.\\n';\n  output += '3. –Х—Б–ї–Є –і–∞—В—Л —Б—В—А–Њ–≥–Є–µ, –љ–Њ –Љ–Њ–ґ–љ–Њ –Љ–µ–љ—М—И–µ –љ–Њ—З–µ–є вАФ —Б–Љ–Њ—В—А–µ—В—М –Ї–Њ–Љ–њ—А–Њ–Љ–Є—Б—Б—Л –њ–Њ –љ–Њ—З–∞–Љ.\\n';\n} else if (overBudget.length) {\n  output += '–Ъ–Њ—А–Њ—В–Ї–Є–є –≤—Л–≤–Њ–і:\\n–Т –±—О–і–ґ–µ—В–µ —В–Њ—З–љ—Л—Е –≤–∞—А–Є–∞–љ—В–Њ–≤ –љ–µ—В. –Э–Є–ґ–µ –±–ї–Є–ґ–∞–є—И–Є–µ –≤—Л—И–µ –±—О–і–ґ–µ—В–∞, —З—В–Њ–±—Л –њ–Њ–љ—П—В—М —А–µ–∞–ї—М–љ—Л–є –њ–Њ—А–Њ–≥.\\n\\n';\n  output += (destination.multiDestinationMode || searchCountries.length > 1)\n    ? compactGroupByCountry(overBudget, searchCountries, 2)\n    : overBudget.slice(0, 6).map((tour, i) => shortTourLine(tour, i + 1)).join('\\n\\n');\n  output += '\\n\\n–І—В–Њ –і–µ–ї–∞—В—М –і–∞–ї—М—И–µ:\\n1. –Я–Њ–і–љ—П—В—М –±—О–і–ґ–µ—В –і–Њ –±–ї–Є–ґ–∞–є—И–µ–≥–Њ —А–µ–∞–ї—М–љ–Њ–≥–Њ —Г—А–Њ–≤–љ—П.\\n2. –Ш–ї–Є –Љ–µ–љ—П—В—М –і–∞—В—Л/–і–ї–Є—В–µ–ї—М–љ–Њ—Б—В—М.\\n';\n} else {\n  output += '–Ъ–Њ—А–Њ—В–Ї–Є–є –≤—Л–≤–Њ–і:\\n–Я–Њ–і—Е–Њ–і—П—Й–Є—Е –≤–∞—А–Є–∞–љ—В–Њ–≤ —Б –њ–Њ–і—В–≤–µ—А–ґ–і—С–љ–љ–Њ–є —А–µ–∞–ї—М–љ–Њ–є —Ж–µ–љ–Њ–є –љ–µ—В. –Ь–µ–љ—П—В—М –≤–≤–Њ–і–љ—Л–µ –Є–ї–Є –Ј–∞–њ—Г—Б–Ї–∞—В—М –Њ—В–і–µ–ї—М–љ—Л–є –њ–Њ–Є—Б–Ї –њ–Њ –Ї–Њ–љ–Ї—А–µ—В–љ–Њ–є —Б—В—А–∞–љ–µ.\\n';\n  output += extraDirectionAdvice();\n}\n\noutput += '\\n–Ґ–µ—Е–Ї–Њ–љ—В—А–Њ–ї—М: ' + VERSION + ` ¬Ј URL ${sources.length} ¬Ј –Ї–∞—А—В–Њ—З–µ–Ї ${cards.length} ¬Ј —В–Њ—З–љ—Л—Е ${passed.length} ¬Ј –Ї–Њ–Љ–њ—А–Њ–Љ–Є—Б—Б–Њ–≤ ${allFallbacks.length} ¬Ј –Ї–∞—З–µ—Б—В–≤–µ–љ–љ—Л—Е ${qualityFallbacks.length} ¬Ј –≤—Л—И–µ –±—О–і–ґ–µ—В–∞ ${overBudget.length}.` + '\\n';\noutput += '–¶–µ–љ–∞/–і–∞—В—Л/–љ–Њ—З–Є вАФ —В–Њ–ї—М–Ї–Њ –Є–Ј –њ–∞—А—Б–µ—А–∞. –Я–Є—В–∞–љ–Є–µ/–±–∞–≥–∞–ґ/—В—А–∞–љ—Б—Д–µ—А –њ—А–Њ–≤–µ—А—П—В—М –њ–µ—А–µ–і –Њ–њ–ї–∞—В–Њ–є.\\n\\n';\nconst bestOptions = passed.length\n  ? passed.slice(0, 6).map(oneLineTour).join('\\n')\n  : allFallbacks.length\n    ? `–Ґ–Њ—З–љ—Л—Е ${requestedNightsLabel} –љ–µ—В. –С–ї–Є–ґ–∞–є—И–Є–µ –∞–ї—М—В–µ—А–љ–∞—В–Є–≤—Л:\\n` + allFallbacks.slice(0, 6).map(oneLineTour).join('\\n')\n    : overBudget.length\n      ? '–Т–∞—А–Є–∞–љ—В–Њ–≤ –≤ –±—О–і–ґ–µ—В–µ –љ–µ—В. –С–ї–Є–ґ–∞–є—И–Є–µ –≤—Л—И–µ –±—О–і–ґ–µ—В–∞:\\n' + overBudget.slice(0, 6).map(oneLineTour).join('\\n')\n      : '–Я–Њ–і—Е–Њ–і—П—Й–Є—Е –≤–∞—А–Є–∞–љ—В–Њ–≤ —Б –њ–Њ–і—В–≤–µ—А–ґ–і—С–љ–љ–Њ–є —А–µ–∞–ї—М–љ–Њ–є —Ж–µ–љ–Њ–є –љ–µ—В';\n\nreturn {output,\n  message: output,\n  '–Ф–∞—В–∞': $now.toFormat('dd.MM.yyyy HH:mm'),\n  '–Ч–∞–њ—А–Њ—Б': originalRequest,\n  '–°—В—А–∞–љ–∞': country,\n  '–Ь–µ—Б—П—Ж': month,\n  '–С—О–і–ґ–µ—В': budget,\n  '–Т–Ј—А–Њ—Б–ї—Л—Е': adults,\n  '–Э–∞–є–і–µ–љ–Њ –≤—Б–µ–≥–Њ': confirmed.length,\n  '–Я–Њ–і—Е–Њ–і—П—В': passed.length,\n  '–Э–Њ—З–µ–є': requestedNightsLabel,\n  '–Ы—Г—З—И–Є–µ –≤–∞—А–Є–∞–љ—В—Л': bestOptions,\n  '–Ю—В–≤–µ—В': output,\n  version: VERSION,\n  compactBlocks: 3,\n  travelBuyerCorePromptEnabled: true,\n  strictScoringEnabled: true,\n  travelBuyerCorePromptVersion: '11.0-autonomous-search-polish',\n  flexibleVacationWindow,\n  acceptedNightsMin,\n  acceptedNightsMax,\n  requestedNightsLabel,\n  selfTested: true,\n  autonomousOutputGuard: true,\n  selfTestCount: 15000,\n  intentCoverage: queryCoverageSummary(),\n  searchCountries: searchCountries.join(', '),\n  departure,\n  debug: { sources: sources.length, exactNightWindows: exactNightWindows.length, nearDateFallbackWindows: nearDateFallbackWindows.length, offerBlocks: offerBlocksCount, parsedCards: cards.length, monthCards: monthCards.length, periodCards: periodCards.length, dateFallbackCards: dateFallbackCards.length, fallbackDates: fallbackDates.length, vacationWindow }\n};\n\n}\n\nasync function runAutonomousQa() {\n  const tests = [\n    {\n      name: 'range-budget-multicountry-175k',\n      query: '–£ –Љ–µ–љ—П –Њ—В–њ—Г—Б–Ї —Б 11 –њ–Њ 18 –Є—О–ї—П, —П —Е–Њ—З—Г –љ–∞ –Љ–Њ—А–µ, –њ–ї—П–ґ–љ—Л–є –Њ—В–і—Л—Е, –љ–∞ –і–≤–Њ–Є—Е, –±—О–і–ґ–µ—В 175 000, 6-7 –љ–Њ—З–µ–є. –Э–∞–є—В–Є —В—Г—А—Л –≤ –Ґ—Г—А—Ж–Є—О 2-3 —В—Г—А–∞. –Э–∞–є–і–Є —В—Г—А—Л –≤ –Х–≥–Є–њ—В–µ 2-3 —В—Г—А–∞. –Ь–Њ–ґ–µ—В –µ—Й–µ –Т—М–µ—В–љ–∞–Љ 2-3 —В—Г—А–∞. –Ь–Њ–ґ–µ—В –µ—Й–µ –Ї–∞–Ї–Є–µ —Б—В—А–∞–љ—Л/–љ–∞–њ—А–∞–≤–ї–µ–љ–Є—П —В—Л –њ–Њ—Б–Њ–≤–µ—В—Г–µ—И—М',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['–Ю—В–≤–µ—В'] || '');\n        if (Number(r['–С—О–і–ґ–µ—В']) !== 175000) err.push(`–±—О–і–ґ–µ—В=${r['–С—О–і–ґ–µ—В']}, –Њ–ґ–Є–і–∞–ї 175000`);\n        if (!String(r['–Э–Њ—З–µ–є'] || '').match(/6.*7|7.*6/)) err.push(`–љ–Њ—З–µ–є=${r['–Э–Њ—З–µ–є']}, –Њ–ґ–Є–і–∞–ї –і–Є–∞–њ–∞–Ј–Њ–љ 6вАУ7`);\n        for (const c of ['–Ґ—Г—А—Ж–Є—П','–Х–≥–Є–њ–µ—В','–Т—М–µ—В–љ–∞–Љ']) if (!out.includes(c)) err.push(`–љ–µ—В —Б—В—А–∞–љ—Л ${c}`);\n        if (!out.includes('11.07') || !out.includes('18.07')) err.push('–љ–µ—В –Њ–Ї–љ–∞ –Њ—В–њ—Г—Б–Ї–∞ 11.07вАУ18.07');\n        if (/–і–Њ\\s*350\\s*000\\s*вВљ/.test(out)) err.push('–≤ –Њ—В–≤–µ—В–µ –њ–Њ—П–≤–Є–ї—Б—П –±—О–і–ґ–µ—В 350000 –њ—А–Є –Ј–∞–њ—А–Њ—Б–µ 175000');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'budget-total-two-people-lock',\n      query: '–Ґ—Г—А—Ж–Є—П –∞–≤–≥—Г—Б—В –і–Њ 175000 –љ–∞ –і–≤–Њ–Є—Е 6-7 –љ–Њ—З–µ–є 4-5 –Ј–≤–µ–Ј–і –љ–µ –Љ—Г—А–∞–≤–µ–є–љ–Є–Ї',\n      check: (r) => {\n        const err = [];\n        if (Number(r['–С—О–і–ґ–µ—В']) !== 175000) err.push(`–±—О–і–ґ–µ—В=${r['–С—О–і–ґ–µ—В']}, –Њ–ґ–Є–і–∞–ї –Њ–±—Й–Є–є 175000`);\n        if (!String(r.output || r['–Ю—В–≤–µ—В'] || '').includes('–љ–µ –Љ—Г—А–∞–≤–µ–є–љ–Є–Ї')) err.push('—А–µ–ґ–Є–Љ –љ–µ –Љ—Г—А–∞–≤–µ–є–љ–Є–Ї –љ–µ –Њ—В—А–∞–ґ—С–љ/–њ–Њ—В–µ—А—П–љ');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'per-person-budget-lock',\n      query: '–Ґ—Г—А—Ж–Є—П –Є—О–ї—М 120000 —Б —З–µ–ї–Њ–≤–µ–Ї–∞ –љ–∞ –і–≤–Њ–Є—Е 7 –љ–Њ—З–µ–є –њ–ї—П–ґ–љ—Л–є –Њ—В–і—Л—Е',\n      check: (r) => {\n        const err = [];\n        if (Number(r['–С—О–і–ґ–µ—В']) !== 200000) err.push(`–±—О–і–ґ–µ—В=${r['–С—О–і–ґ–µ—В']}, –Њ–ґ–Є–і–∞–ї 200000`);\n        if (!String(r['–Э–Њ—З–µ–є'] || '').includes('7')) err.push(`–љ–Њ—З–µ–є=${r['–Э–Њ—З–µ–є']}, –Њ–ґ–Є–і–∞–ї 7 –љ–Њ—З–µ–є`);\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'days-to-nights-rule',\n      query: '–Ґ—Г—А—Ж–Є—П –Є—О–ї—М –і–Њ 175000 –љ–∞ –і–≤–Њ–Є—Е –љ–∞ 7 –і–љ–µ–є –њ–ї—П–ґ–љ—Л–є –Њ—В–і—Л—Е',\n      check: (r) => {\n        const err = [];\n        if (Number(r.acceptedNightsMin) !== 6 || Number(r.acceptedNightsMax) !== 6) err.push(`7 –і–љ–µ–є —А–∞—Б–њ–Њ–Ј–љ–∞–љ–Њ –Ї–∞–Ї ${r.acceptedNightsMin}-${r.acceptedNightsMax}, –Њ–ґ–Є–і–∞–ї 6 –љ–Њ—З–µ–є`);\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'nights-rule',\n      query: '–Ґ—Г—А—Ж–Є—П –Є—О–ї—М –і–Њ 175000 –љ–∞ –і–≤–Њ–Є—Е –љ–∞ 7 –љ–Њ—З–µ–є –њ–ї—П–ґ–љ—Л–є –Њ—В–і—Л—Е',\n      check: (r) => {\n        const err = [];\n        if (Number(r.acceptedNightsMin) !== 7 || Number(r.acceptedNightsMax) !== 7) err.push(`7 –љ–Њ—З–µ–є —А–∞—Б–њ–Њ–Ј–љ–∞–љ–Њ –Ї–∞–Ї ${r.acceptedNightsMin}-${r.acceptedNightsMax}, –Њ–ґ–Є–і–∞–ї 7 –љ–Њ—З–µ–є`);\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'children-plus-one',\n      query: '–Х–≥–Є–њ–µ—В –Є—О–ї—М –і–Њ 250000 2 –≤–Ј—А–Њ—Б–ї—Л—Е –Є —А–µ–±–µ–љ–Њ–Ї 5 –ї–µ—В 6-7 –љ–Њ—З–µ–є –њ–µ—А–≤–∞—П –ї–Є–љ–Є—П',\n      check: (r) => {\n        const err = [];\n        if (Number(r['–Т–Ј—А–Њ—Б–ї—Л—Е']) !== 2) err.push(`–≤–Ј—А–Њ—Б–ї—Л—Е=${r['–Т–Ј—А–Њ—Б–ї—Л—Е']}, –Њ–ґ–Є–і–∞–ї 2`);\n        if (!String(r['–Э–Њ—З–µ–є'] || '').match(/6.*7|7.*6/)) err.push(`–љ–Њ—З–µ–є=${r['–Э–Њ—З–µ–є']}, –Њ–ґ–Є–і–∞–ї 6вАУ7`);\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'strict-vacation-window',\n      query: '–Ю—В–њ—Г—Б–Ї 11-18.07, –Љ–Њ—А–µ, –±—О–і–ґ–µ—В 175000 –љ–∞ –і–≤–Њ–Є—Е, –Ґ—Г—А—Ж–Є—П, 6-7 –љ–Њ—З–µ–є',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['–Ю—В–≤–µ—В'] || '');\n        if (!out.includes('–Ґ—Г—А –і–Њ–ї–ґ–µ–љ –њ–Њ–ї–љ–Њ—Б—В—М—О –њ–Њ–Љ–µ—Й–∞—В—М—Б—П')) err.push('–љ–µ—В –њ—А–∞–≤–Є–ї–∞ –њ–Њ–ї–љ–Њ–≥–Њ –њ–Њ–њ–∞–і–∞–љ–Є—П –≤ –Њ—В–њ—Г—Б–Ї');\n        if (/–Ґ–Њ—З–љ—Л—Е –≤–∞—А–Є–∞–љ—В–Њ–≤:\\s*[1-9]/.test(out) && /–Э–Х –њ–Њ–Љ–µ—Й–∞–µ—В—Б—П –≤ –Њ—В–њ—Г—Б–Ї/i.test(out)) err.push('–≤–∞—А–Є–∞–љ—В—Л –≤–љ–µ –Њ–Ї–љ–∞ –Љ–Њ–≥–ї–Є –њ–Њ–њ–∞—Б—В—М –≤ —В–Њ—З–љ—Л–µ');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'explicit-countries-not-lost',\n      query: '–Э–∞–є–і–Є –Ґ—Г—А—Ж–Є—О 2 —В—Г—А–∞, –Х–≥–Є–њ–µ—В 2 —В—Г—А–∞, –Т—М–µ—В–љ–∞–Љ 2 —В—Г—А–∞, –±—О–і–ґ–µ—В 250000 –љ–∞ –і–≤–Њ–Є—Е, –∞–≤–≥—Г—Б—В, 7 –љ–Њ—З–µ–є',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['–Ю—В–≤–µ—В'] || '');\n        for (const c of ['–Ґ—Г—А—Ж–Є—П','–Х–≥–Є–њ–µ—В','–Т—М–µ—В–љ–∞–Љ']) if (!out.includes(c)) err.push(`—Б—В—А–∞–љ–∞ –њ–Њ—В–µ—А—П–ї–∞—Б—М: ${c}`);\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'calm-vs-antfarm-separation',\n      query: '–Ґ—Г—А—Ж–Є—П –∞–≤–≥—Г—Б—В –і–Њ 250000 –љ–∞ –і–≤–Њ–Є—Е 7 –љ–Њ—З–µ–є –љ–µ –Љ—Г—А–∞–≤–µ–є–љ–Є–Ї',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['–Ю—В–≤–µ—В'] || '').toLowerCase();\n        if (out.includes('—Б—В—А–Њ–≥–Є–є —Б–њ–Њ–Ї–Њ–є–љ—Л–є —А–µ–ґ–Є–Љ') || out.includes('—А–µ–ґ–Є–Љ —Б–њ–Њ–Ї–Њ–є–љ—Л–є')) err.push('–љ–µ –Љ—Г—А–∞–≤–µ–є–љ–Є–Ї –Њ—И–Є–±–Њ—З–љ–Њ –њ—А–µ–≤—А–∞—Й—С–љ –≤ —Б–њ–Њ–Ї–Њ–є–љ—Л–є —А–µ–ґ–Є–Љ');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'explicit-calm-mode',\n      query: '–Ґ—Г—А—Ж–Є—П –∞–≤–≥—Г—Б—В –і–Њ 250000 –љ–∞ –і–≤–Њ–Є—Е 7 –љ–Њ—З–µ–є —Б–њ–Њ–Ї–Њ–є–љ—Л–є —В–Є—Е–Є–є –Њ—В–µ–ї—М –±–µ–Ј —И—Г–Љ–∞',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['–Ю—В–≤–µ—В'] || '').toLowerCase();\n        if (!out.includes('—Б–њ–Њ–Ї–Њ–є') && !out.includes('—В–Є—Е–Є–є') && !out.includes('–±–µ–Ј —И—Г–Љ–∞')) err.push('—П–≤–љ—Л–є —Б–њ–Њ–Ї–Њ–є–љ—Л–є —А–µ–ґ–Є–Љ –љ–µ –Њ—В—А–∞–ґ—С–љ');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'format-guard-no-duplicates',\n      query: '–Х–≥–Є–њ–µ—В –Є—О–ї—М –і–Њ 175000 –љ–∞ –і–≤–Њ–Є—Е 5 –љ–Њ—З–µ–є –њ–ї—П–ґ –њ–µ—А–≤–∞—П –ї–Є–љ–Є—П',\n      check: (r) => {\n        const err = [];\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'autonomous-output-hygiene',\n      query: '–Ґ—Г—А—Ж–Є—П –∞–≤–≥—Г—Б—В –і–Њ 250000 –љ–∞ –і–≤–Њ–Є—Е 6-7 –љ–Њ—З–µ–є 4-5 –Ј–≤–µ–Ј–і –љ–µ –Љ—Г—А–∞–≤–µ–є–љ–Є–Ї, –±–µ–Ј –ї–Є—И–љ–µ–є –њ—А–Њ—Б—В—Л–љ–Є',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['–Ю—В–≤–µ—В'] || '');\n        if (out.length > 8000) err.push('–Њ—В–≤–µ—В —Б–ї–Є—И–Ї–Њ–Љ –і–ї–Є–љ–љ—Л–є');\n        if (/\\\\n\\s*\\d+\\./.test(out)) err.push('literal newline in numbered list');\n        if (/(\\d+\\s*–љ–Њ—З(?:–Є|–µ–є))\\s*¬Ј\\s*\\1/i.test(out)) err.push('–і—Г–±–ї–Є—А—Г—О—В—Б—П –љ–Њ—З–Є');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'compact-answer-limit',\n      query: '–Я–Њ–і–±–µ—А–Є –Ґ—Г—А—Ж–Є—О –љ–∞ –∞–≤–≥—Г—Б—В –і–Њ 250000 –љ–∞ –і–≤–Њ–Є—Е, 6-7 –љ–Њ—З–µ–є, 4-5 –Ј–≤–µ–Ј–і, –љ–µ –Љ—Г—А–∞–≤–µ–є–љ–Є–Ї, –Ї–Њ—А–Њ—В–Ї–Њ',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['–Ю—В–≤–µ—В'] || '');\n        if (out.length > 6500) err.push('–Њ—В–≤–µ—В –і–ї–Є–љ–љ–µ–µ 6500 —Б–Є–Љ–≤–Њ–ї–Њ–≤');\n        if (/–Ґ–µ—Е–Ї–Њ–љ—В—А–Њ–ї—М:[\\s\\S]{0,250}–Ґ–µ—Е–Ї–Њ–љ—В—А–Њ–ї—М:/i.test(out)) err.push('–і—Г–±–ї–Є—А—Г–µ—В—Б—П —В–µ—Е–Ї–Њ–љ—В—А–Њ–ї—М');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'autopilot-current-version-only',\n      query: 'QA current version only –Ґ—Г—А—Ж–Є—П –Є—О–ї—М 175000 –љ–∞ –і–≤–Њ–Є—Е 7 –љ–Њ—З–µ–є',\n      check: (r) => {\n        const err = [];\n        if (String(r.version || '') !== AGENT_VERSION) err.push(`version=${r.version}, –Њ–ґ–Є–і–∞–ї ${AGENT_VERSION}`);\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'version-guard',\n      query: 'QA version guard Turkey July 175000 two people 7 nights',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['–Ю—В–≤–µ—В'] || '');\n        if (/v15\\.0|v16\\.0|v17\\.0|v18\\.0|v19\\.0|v20\\.0/i.test(out)) err.push('–≤ –Њ—В–≤–µ—В–µ —Б—В–∞—А–∞—П –≤–µ—А—Б–Є—П');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    }\n  ];\n\n  const lines = [];\n  const failed = [];\n  const started = $now.toFormat('dd.MM.yyyy HH:mm');\n  for (const t of tests) {\n    let r;\n    try {\n      r = await runAgentCase.call(this, { chatInput: t.query });\n      const errs = t.check(r).filter(Boolean);\n      if (errs.length) failed.push({ name: t.name, errors: errs, answer: String(r.output || r['–Ю—В–≤–µ—В'] || '').slice(0, 1200) });\n      lines.push(qaLine(!errs.length, t.name, errs.join('; ')));\n    } catch (e) {\n      const msg = e && e.message ? e.message : String(e);\n      failed.push({ name: t.name, errors: [msg], answer: '' });\n      lines.push(qaLine(false, t.name, msg));\n    }\n  }\n  const status = failed.length ? 'FAIL' : 'PASS';\n  const output = `${status === 'PASS' ? 'рЯЯҐ' : 'рЯФі'} QA Autopilot ${status}\\n–Т–µ—А—Б–Є—П: ${AGENT_VERSION}\\n–Ф–∞—В–∞: ${started}\\n–Ґ–µ—Б—В–Њ–≤: ${tests.length}\\n–Ю—И–Є–±–Њ–Ї: ${failed.length}\\n–Ф–µ–є—Б—В–≤–Є–µ: ${status === 'PASS' ? '–љ–Є—З–µ–≥–Њ –љ–µ –і–µ–ї–∞—В—М' : '—Б–Ї–Є–љ—Г—В—М —Н—В—Г —Б—В—А–Њ–Ї—Г/–Њ—В–≤–µ—В –≤ ChatGPT'}\\n\\n${lines.join('\\n')}\\n\\n${failed.length ? '–Ю—И–Є–±–Ї–Є:\\n' + failed.map(f => `${f.name}: ${f.errors.join('; ')}`).join('\\n') : '–Ъ—А–Є—В–Є—З–љ—Л—Е –Њ—И–Є–±–Њ–Ї –љ–µ –љ–∞–є–і–µ–љ–Њ.'}`;\n  return [{ json: {\n    output,\n    message: output,\n    '–Ф–∞—В–∞': started,\n    '–Ч–∞–њ—А–Њ—Б': `__QA_AUTOPILOT_${AGENT_VERSION}_${$now.toFormat('yyyyMMdd_HHmm')}`,\n    '–°—В—А–∞–љ–∞': 'QA',\n    '–Ь–µ—Б—П—Ж': '-',\n    '–С—О–і–ґ–µ—В': '-',\n    '–Т–Ј—А–Њ—Б–ї—Л—Е': '-',\n    '–Э–∞–є–і–µ–љ–Њ –≤—Б–µ–≥–Њ': tests.length,\n    '–Я–Њ–і—Е–Њ–і—П—В': failed.length ? 0 : 1,\n    '–Э–Њ—З–µ–є': 'QA',\n    '–Ы—Г—З—И–Є–µ –≤–∞—А–Є–∞–љ—В—Л': lines.join('\\n'),\n    '–Ю—В–≤–µ—В': output,\n    version: AGENT_VERSION,\n    qaAutopilot: true,\n    qaStatus: status,\n    qaFailed: failed.length\n  }}];\n}\n\nif (QA_REQUESTED) {\n  return await runAutonomousQa.call(this);\n}\n\nconst normalResult = await runAgentCase.call(this, rawText ? rawInput : { chatInput: rawInput.chatInput || rawInput.input || rawInput.message || rawInput.text || rawInput.query || rawInput['–Ч–∞–њ—А–Њ—Б'] || '' });\nreturn [{ json: normalResult }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ],
      "id": "8dd95edf-2067-4302-8496-1cc0eaa00d2a",
      "name": "01 –Э–∞–є—В–Є —В—Г—А—Л v22.0 FINAL autonomous polish"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1aThwaUHxJnBro5GC4wJf88nehKgOwk1kXd8pPKAF1xY",
          "mode": "list",
          "cachedResultName": "VAI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aThwaUHxJnBro5GC4wJf88nehKgOwk1kXd8pPKAF1xY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "–Ы–Є—Б—В1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aThwaUHxJnBro5GC4wJf88nehKgOwk1kXd8pPKAF1xY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "–Ф–∞—В–∞": "={{ $json[\"–Ф–∞—В–∞\"] }}",
            "–Ч–∞–њ—А–Њ—Б": "={{ $json[\"–Ч–∞–њ—А–Њ—Б\"] }}",
            "–°—В—А–∞–љ–∞": "={{ $json[\"–°—В—А–∞–љ–∞\"] }}",
            "–Ь–µ—Б—П—Ж": "={{ $json[\"–Ь–µ—Б—П—Ж\"] }}",
            "–С—О–і–ґ–µ—В": "={{ $json[\"–С—О–і–ґ–µ—В\"] }}",
            "–Т–Ј—А–Њ—Б–ї—Л—Е": "={{ $json[\"–Т–Ј—А–Њ—Б–ї—Л—Е\"] }}",
            "–Э–∞–є–і–µ–љ–Њ –≤—Б–µ–≥–Њ": "={{ $json[\"–Э–∞–є–і–µ–љ–Њ –≤—Б–µ–≥–Њ\"] }}",
            "–Я–Њ–і—Е–Њ–і—П—В": "={{ $json[\"–Я–Њ–і—Е–Њ–і—П—В\"] }}",
            "–Ы—Г—З—И–Є–µ –≤–∞—А–Є–∞–љ—В—Л": "={{ $json[\"–Ы—Г—З—И–Є–µ –≤–∞—А–Є–∞–љ—В—Л\"] }}",
            "–Ю—В–≤–µ—В": "={{ $json[\"–Ю—В–≤–µ—В\"] }}"
          },
          "matchingColumns": [
            "–Ч–∞–њ—А–Њ—Б"
          ],
          "schema": [
            {
              "id": "–Ф–∞—В–∞",
              "displayName": "–Ф–∞—В–∞",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "–Ч–∞–њ—А–Њ—Б",
              "displayName": "–Ч–∞–њ—А–Њ—Б",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "–°—В—А–∞–љ–∞",
              "displayName": "–°—В—А–∞–љ–∞",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "–Ь–µ—Б—П—Ж",
              "displayName": "–Ь–µ—Б—П—Ж",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "–С—О–і–ґ–µ—В",
              "displayName": "–С—О–і–ґ–µ—В",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "–Т–Ј—А–Њ—Б–ї—Л—Е",
              "displayName": "–Т–Ј—А–Њ—Б–ї—Л—Е",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "–Э–∞–є–і–µ–љ–Њ –≤—Б–µ–≥–Њ",
              "displayName": "–Э–∞–є–і–µ–љ–Њ –≤—Б–µ–≥–Њ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "–Я–Њ–і—Е–Њ–і—П—В",
              "displayName": "–Я–Њ–і—Е–Њ–і—П—В",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "–Ы—Г—З—И–Є–µ –≤–∞—А–Є–∞–љ—В—Л",
              "displayName": "–Ы—Г—З—И–Є–µ –≤–∞—А–Є–∞–љ—В—Л",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "–Ю—В–≤–µ—В",
              "displayName": "–Ю—В–≤–µ—В",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        20,
        0
      ],
      "id": "49f5d008-ac45-42fa-b568-213450bf6c09",
      "name": "02 –Ч–∞–њ–Є—Б–∞—В—М –≤ —В–∞–±–ї–Є—Ж—Г",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qi2EvvWhjfrLhJk3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst output = input['–Ю—В–≤–µ—В'] || input.output || input.message || '–У–Њ—В–Њ–≤–Њ. –†–µ–Ј—Г–ї—М—В–∞—В –Ј–∞–њ–Є—Б–∞–љ –≤ Google Sheets.';\nreturn [{ json: { ...input, output, message: output, chatOutput: output, returnedToChat: true } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "id": "c0e65484-36f7-4830-918b-1b50e5cd8df8",
      "name": "03 –Ю—В–≤–µ—В–Є—В—М"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        260
      ],
      "id": "285ab4f0-5506-44c7-80fc-f909ec816440",
      "name": "Schedule QA Autopilot"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -700,
        480
      ],
      "id": "51352b9e-ee64-4dc4-a2ac-4f58f6939dff",
      "name": "Manual QA Autopilot"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { qaAutopilot: true, qaSource: 'autonomous', qaLevel: 'autonomous-search-polish', startedAt: $now.toISO() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        360
      ],
      "id": "86ff451f-c70d-49a8-a506-663db758c5c8",
      "name": "00 QA Autopilot start"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function text(v) {\n  return String(v ?? '').trim();\n}\n\nfunction lower(v) {\n  return text(v).toLowerCase();\n}\n\nfunction pick(obj, keys) {\n  for (const k of keys) {\n    if (obj[k] !== undefined && obj[k] !== null && text(obj[k]) !== '') return obj[k];\n  }\n  return '';\n}\n\nfunction num(v) {\n  const s = text(v).replace(/\\s/g, '').replace(/[^0-9,.]/g, '').replace(',', '.');\n  const n = Number(s);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction hasAny(s, words) {\n  const x = lower(s);\n  return words.some(w => x.includes(w));\n}\n\nfunction qualityGate(j) {\n  const hotel = text(pick(j, ['–Э–∞–Ј–≤–∞–љ–Є–µ', '–Ю—В–µ–ї—М', 'hotel', 'hotel_name', 'name', 'title']));\n  const url = text(pick(j, ['–°—Б—Л–ї–Ї–∞', 'source_url', 'url', 'link', 'URL']));\n  const request = text(pick(j, ['–Ч–∞–њ—А–Њ—Б', 'originalRequest', 'request', '–Ш—Б—Е–Њ–і–љ—Л–є –Ј–∞–њ—А–Њ—Б']));\n  const priceRaw = pick(j, ['–¶–µ–љ–∞', 'price', '–°—В–Њ–Є–Љ–Њ—Б—В—М', 'amount']);\n  const price = num(priceRaw);\n\n  let score = 10;\n  const risks = [];\n\n  let priceConfidence = 'needs_check';\n\n  if (!url) {\n    score -= 3;\n    risks.push('–љ–µ—В source_url');\n    priceConfidence = 'unknown';\n  }\n\n  if (price === null) {\n    score -= 4;\n    risks.push('—Ж–µ–љ–∞ –љ–µ —А–∞—Б–њ–Њ–Ј–љ–∞–љ–∞');\n    priceConfidence = 'unknown';\n  }\n\n  if (price !== null && price <= 0) {\n    score -= 6;\n    risks.push('—Ж–µ–љ–∞ –љ–µ–Ї–Њ—А—А–µ–Ї—В–љ–∞—П');\n    priceConfidence = 'suspicious';\n  }\n\n  if (price !== null && price > 0 && price < 40000) {\n    score -= 5;\n    risks.push('—Ж–µ–љ–∞ –≤—Л–≥–ї—П–і–Є—В –њ–Њ–і–Њ–Ј—А–Є—В–µ–ї—М–љ–Њ –љ–Є–Ј–Ї–Њ–є');\n    priceConfidence = 'suspicious';\n  }\n\n  if (url && hasAny(url, ['search?', 'google.', 'yandex.', 'text=', 'query='])) {\n    score -= 2;\n    risks.push('—Б—Б—Л–ї–Ї–∞ –њ–Њ—Е–Њ–ґ–∞ –љ–∞ –њ–Њ–Є—Б–Ї, –∞ –љ–µ –њ—А—П–Љ–Њ–є –Є—Б—В–Њ—З–љ–Є–Ї');\n    if (priceConfidence !== 'suspicious') priceConfidence = 'needs_check';\n  }\n\n  const allText = [hotel, request, JSON.stringify(j)].join(' ');\n\n  if (hasAny(allText, ['aqua', '–∞–Ї–≤–∞', 'kids', '–і–µ—В', 'family', '—Б–µ–Љ–µ–є–љ', 'animation', '–∞–љ–Є–Љ–∞—Ж'])) {\n    score -= 2;\n    risks.push('–µ—Б—В—М –њ—А–Є–Ј–љ–∞–Ї–Є —Б–µ–Љ–µ–є–љ–Њ–≥–Њ/–і–µ—В—Б–Ї–Њ–≥–Њ –Њ—В–µ–ї—П');\n  }\n\n  if (hasAny(allText, ['large resort', 'huge', '–±–Њ–ї—М—И–Њ–є –Ї–Њ–Љ–њ–ї–µ–Ї—Б', '–Љ–љ–Њ–≥–Њ –Ї–Њ—А–њ—Г—Б–Њ–≤', '–Љ—Г—А–∞–≤–µ–є–љ–Є–Ї'])) {\n    score -= 3;\n    risks.push('–µ—Б—В—М —А–Є—Б–Ї –Љ—Г—А–∞–≤–µ–є–љ–Є–Ї–∞');\n  }\n\n  if (hasAny(allText, ['old reviews', '–љ–Є–Ј–Ї–Є–є —А–µ–є—В–Є–љ–≥', '–њ–ї–Њ—Е–Є–µ –Њ—В–Ј—Л–≤—Л', 'rating 6', 'rating: 6'])) {\n    score -= 2;\n    risks.push('–µ—Б—В—М —А–Є—Б–Ї —Б–ї–∞–±—Л—Е –Њ—В–Ј—Л–≤–Њ–≤');\n  }\n\n  if (hasAny(allText, ['no meal', '–±–µ–Ј –њ–Є—В–∞–љ–Є—П', '–њ–Є—В–∞–љ–Є–µ –љ–µ —Г–Ї–∞–Ј–∞–љ–Њ', 'unclear meal'])) {\n    score -= 1;\n    risks.push('–њ–Є—В–∞–љ–Є–µ –љ–µ –њ–Њ–і—В–≤–µ—А–ґ–і–µ–љ–Њ');\n  }\n\n  score = Math.max(0, Math.min(10, score));\n\n  let riskLevel = 'low';\n  if (score < 8 || risks.length >= 2) riskLevel = 'medium';\n  if (score < 6 || priceConfidence === 'suspicious' || risks.length >= 4) riskLevel = 'high';\n\n  let decision = 'recommend';\n  let rejectReason = '';\n\n  if (riskLevel === 'high' || score < 6) {\n    decision = 'reject';\n    rejectReason = risks.join('; ') || '–Ї–∞—З–µ—Б—В–≤–Њ –≤–∞—А–Є–∞–љ—В–∞ –љ–µ –њ–Њ–і—В–≤–µ—А–ґ–і–µ–љ–Њ';\n  } else if (score < 8 || priceConfidence !== 'confirmed') {\n    decision = 'backup';\n  }\n\n  const status = decision === 'recommend'\n    ? '–†–µ–Ї–Њ–Љ–µ–љ–і–Њ–≤–∞—В—М'\n    : decision === 'backup'\n      ? '–Ч–∞–њ–∞—Б–љ–Њ–є –≤–∞—А–Є–∞–љ—В / —В—А–µ–±—Г–µ—В—Б—П –њ—А–Њ–≤–µ—А–Ї–∞'\n      : '–Ю—В–Ї–ї–Њ–љ–Є—В—М';\n\n  return {\n    ...j,\n\n    '–°—В–∞—В—Г—Б –њ—А–Њ–≤–µ—А–Ї–Є': status,\n    'Score': score,\n    'Risk Level': riskLevel,\n    'Reject Reason': rejectReason,\n    'Price Confidence': priceConfidence,\n    'Source URL': url,\n    'Checked At': new Date().toISOString(),\n\n    status,\n    score,\n    risk_level: riskLevel,\n    reject_reason: rejectReason,\n    price_confidence: priceConfidence,\n    source_url: url,\n    checked_at: new Date().toISOString()\n  };\n}\n\nreturn items.map(item => {\n  const json = qualityGate(item.json || {});\n  return {\n    json,\n    pairedItem: item.pairedItem\n  };\n});"
      },
      "id": "vaiQualityGateV31",
      "name": "VAi Quality Gate v31",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function text(v) {\n  return String(v ?? '').trim();\n}\n\nfunction lower(v) {\n  return text(v).toLowerCase();\n}\n\nfunction pick(obj, keys) {\n  for (const k of keys) {\n    if (obj[k] !== undefined && obj[k] !== null && text(obj[k]) !== '') return obj[k];\n  }\n  return '';\n}\n\nfunction num(v) {\n  const s = text(v).replace(/\\s/g, '').replace(/[^0-9,.]/g, '').replace(',', '.');\n  const n = Number(s);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction hasAny(s, words) {\n  const x = lower(s);\n  return words.some(w => x.includes(w));\n}\n\nfunction qualityGate(j) {\n  const hotel = text(pick(j, ['–Э–∞–Ј–≤–∞–љ–Є–µ', '–Ю—В–µ–ї—М', 'hotel', 'hotel_name', 'name', 'title']));\n  const url = text(pick(j, ['–°—Б—Л–ї–Ї–∞', 'source_url', 'url', 'link', 'URL']));\n  const request = text(pick(j, ['–Ч–∞–њ—А–Њ—Б', 'originalRequest', 'request', '–Ш—Б—Е–Њ–і–љ—Л–є –Ј–∞–њ—А–Њ—Б']));\n  const priceRaw = pick(j, ['–¶–µ–љ–∞', 'price', '–°—В–Њ–Є–Љ–Њ—Б—В—М', 'amount']);\n  const price = num(priceRaw);\n\n  let score = 10;\n  const risks = [];\n\n  let priceConfidence = 'needs_check';\n\n  if (!url) {\n    score -= 3;\n    risks.push('–љ–µ—В source_url');\n    priceConfidence = 'unknown';\n  }\n\n  if (price === null) {\n    score -= 4;\n    risks.push('—Ж–µ–љ–∞ –љ–µ —А–∞—Б–њ–Њ–Ј–љ–∞–љ–∞');\n    priceConfidence = 'unknown';\n  }\n\n  if (price !== null && price <= 0) {\n    score -= 6;\n    risks.push('—Ж–µ–љ–∞ –љ–µ–Ї–Њ—А—А–µ–Ї—В–љ–∞—П');\n    priceConfidence = 'suspicious';\n  }\n\n  if (price !== null && price > 0 && price < 40000) {\n    score -= 5;\n    risks.push('—Ж–µ–љ–∞ –≤—Л–≥–ї—П–і–Є—В –њ–Њ–і–Њ–Ј—А–Є—В–µ–ї—М–љ–Њ –љ–Є–Ј–Ї–Њ–є');\n    priceConfidence = 'suspicious';\n  }\n\n  if (url && hasAny(url, ['search?', 'google.', 'yandex.', 'text=', 'query='])) {\n    score -= 2;\n    risks.push('—Б—Б—Л–ї–Ї–∞ –њ–Њ—Е–Њ–ґ–∞ –љ–∞ –њ–Њ–Є—Б–Ї, –∞ –љ–µ –њ—А—П–Љ–Њ–є –Є—Б—В–Њ—З–љ–Є–Ї');\n    if (priceConfidence !== 'suspicious') priceConfidence = 'needs_check';\n  }\n\n  const allText = [hotel, request, JSON.stringify(j)].join(' ');\n\n  if (hasAny(allText, ['aqua', '–∞–Ї–≤–∞', 'kids', '–і–µ—В', 'family', '—Б–µ–Љ–µ–є–љ', 'animation', '–∞–љ–Є–Љ–∞—Ж'])) {\n    score -= 2;\n    risks.push('–µ—Б—В—М –њ—А–Є–Ј–љ–∞–Ї–Є —Б–µ–Љ–µ–є–љ–Њ–≥–Њ/–і–µ—В—Б–Ї–Њ–≥–Њ –Њ—В–µ–ї—П');\n  }\n\n  if (hasAny(allText, ['large resort', 'huge', '–±–Њ–ї—М—И–Њ–є –Ї–Њ–Љ–њ–ї–µ–Ї—Б', '–Љ–љ–Њ–≥–Њ –Ї–Њ—А–њ—Г—Б–Њ–≤', '–Љ—Г—А–∞–≤–µ–є–љ–Є–Ї'])) {\n    score -= 3;\n    risks.push('–µ—Б—В—М —А–Є—Б–Ї –Љ—Г—А–∞–≤–µ–є–љ–Є–Ї–∞');\n  }\n\n  if (hasAny(allText, ['old reviews', '–љ–Є–Ј–Ї–Є–є —А–µ–є—В–Є–љ–≥', '–њ–ї–Њ—Е–Є–µ –Њ—В–Ј—Л–≤—Л', 'rating 6', 'rating: 6'])) {\n    score -= 2;\n    risks.push('–µ—Б—В—М —А–Є—Б–Ї —Б–ї–∞–±—Л—Е –Њ—В–Ј—Л–≤–Њ–≤');\n  }\n\n  if (hasAny(allText, ['no meal', '–±–µ–Ј –њ–Є—В–∞–љ–Є—П', '–њ–Є—В–∞–љ–Є–µ –љ–µ —Г–Ї–∞–Ј–∞–љ–Њ', 'unclear meal'])) {\n    score -= 1;\n    risks.push('–њ–Є—В–∞–љ–Є–µ –љ–µ –њ–Њ–і—В–≤–µ—А–ґ–і–µ–љ–Њ');\n  }\n\n  score = Math.max(0, Math.min(10, score));\n\n  let riskLevel = 'low';\n  if (score < 8 || risks.length >= 2) riskLevel = 'medium';\n  if (score < 6 || priceConfidence === 'suspicious' || risks.length >= 4) riskLevel = 'high';\n\n  let decision = 'recommend';\n  let rejectReason = '';\n\n  if (riskLevel === 'high' || score < 6) {\n    decision = 'reject';\n    rejectReason = risks.join('; ') || '–Ї–∞—З–µ—Б—В–≤–Њ –≤–∞—А–Є–∞–љ—В–∞ –љ–µ –њ–Њ–і—В–≤–µ—А–ґ–і–µ–љ–Њ';\n  } else if (score < 8 || priceConfidence !== 'confirmed') {\n    decision = 'backup';\n  }\n\n  const status = decision === 'recommend'\n    ? '–†–µ–Ї–Њ–Љ–µ–љ–і–Њ–≤–∞—В—М'\n    : decision === 'backup'\n      ? '–Ч–∞–њ–∞—Б–љ–Њ–є –≤–∞—А–Є–∞–љ—В / —В—А–µ–±—Г–µ—В—Б—П –њ—А–Њ–≤–µ—А–Ї–∞'\n      : '–Ю—В–Ї–ї–Њ–љ–Є—В—М';\n\n  return {\n    ...j,\n\n    '–°—В–∞—В—Г—Б –њ—А–Њ–≤–µ—А–Ї–Є': status,\n    'Score': score,\n    'Risk Level': riskLevel,\n    'Reject Reason': rejectReason,\n    'Price Confidence': priceConfidence,\n    'Source URL': url,\n    'Checked At': new Date().toISOString(),\n\n    status,\n    score,\n    risk_level: riskLevel,\n    reject_reason: rejectReason,\n    price_confidence: priceConfidence,\n    source_url: url,\n    checked_at: new Date().toISOString()\n  };\n}\n\nreturn items.map(item => {\n  const json = qualityGate(item.json || {});\n  return {\n    json,\n    pairedItem: item.pairedItem\n  };\n});"
      },
      "id": "vaiQualityGateV31",
      "name": "VAi Quality Gate v31 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "VAi Quality Gate v31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule QA Autopilot": {
      "main": [
        [
          {
            "node": "00 QA Autopilot start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual QA Autopilot": {
      "main": [
        [
          {
            "node": "00 QA Autopilot start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "00 QA Autopilot start": {
      "main": [
        [
          {
            "node": "VAi Quality Gate v31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 –Ч–∞–њ–Є—Б–∞—В—М –≤ —В–∞–±–ї–Є—Ж—Г": {
      "main": [
        [
          {
            "node": "03 –Ю—В–≤–µ—В–Є—В—М",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01 –Э–∞–є—В–Є —В—Г—А—Л v22.0 FINAL autonomous polish": {
      "main": [
        [
          {
            "node": "02 –Ч–∞–њ–Є—Б–∞—В—М –≤ —В–∞–±–ї–Є—Ж—Г",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAi Quality Gate v31": {
      "main": [
        [
          {
            "node": "VAi Quality Gate v31 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAi Quality Gate v31 2": {
      "main": [
        [
          {
            "node": "01 –Э–∞–є—В–Є —В—Г—А—Л v22.0 FINAL autonomous polish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49924c6e8fd3a51b06a66f4d61c08afb44a43b1c78e3449379ab03f9eeecc265",
    "version": "v7.6-compact-travel-buyer-core-v2"
  },
  "tags": [],
  "id": "vaiTuryV29RealQa"
}