builder/releases/Tury_v34_release_candidate_20260630_233402.json
[
  {
    "name": "VAi Tury v34 Release Candidate",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          -700,
          0
        ],
        "id": "cdfffc35-6ee4-4997-bdac-9f686cd35325",
        "name": "When chat message received",
        "webhookId": "6c4f3afa-fa24-4ffa-ae1c-18d5345b1000"
      },
      {
        "parameters": {
          "jsCode": "\nconst AGENT_VERSION = 'v29.0-real-qa-node-loop';\nconst rawInput = $input.first()?.json || {};\nconst rawText = String(rawInput.chatInput || rawInput.input || rawInput.message || rawInput.text || rawInput.query || rawInput['Запрос'] || '').trim();\nconst QA_REQUESTED = rawInput.qaAutopilot === true || rawInput.runQa === true || rawInput.mode === 'qa';\n\nfunction qaClean(v) { return String(v ?? '').replace(/\\s+/g, ' ').trim(); }\nfunction qaHas(text, needle) { return qaClean(text).toLowerCase().includes(String(needle).toLowerCase()); }\nfunction qaNoBadText(out) {\n  const s = String(out?.output || out?.message || out?.['Ответ'] || '');\n  const bad = [];\n  if (/v15\\.0|v16\\.0|v17\\.0|v18\\.0|v19\\.0|v20\\.0|v15-|v16-|v17-|v18-|v19-|v20-/i.test(s)) bad.push('в ответе всплыла старая версия v15/v16/v17/v18/v19/v20');\n  if (/\\\\n\\s*\\d+\\./.test(s)) bad.push('в ответе есть literal \\\\n2.');\n  if (/(\\d+\\s*ноч(?:и|ей))\\s*·\\s*\\1/i.test(s)) bad.push('дублируются ночи');\n  if (/Лучшее решение[\\s\\S]{0,500}ТОЛЬКО ЕСЛИ НУЖНА МИНИМАЛЬНАЯ ЦЕНА/i.test(s)) bad.push('слабый дешевый вариант попал в лучшее решение');\n  if (/\\n2\\.|\\\\n2\\./.test(s)) bad.push('в ответе есть сломанный перенос списка');\n  if (/до\\s*350\\s*000\\s*₽/.test(s) && Number(out?.['Бюджет']) === 175000) bad.push('бюджет 175000 превратился в 350000');\n  return bad;\n}\nfunction qaLine(ok, name, details) { return `${ok ? 'PASS' : 'FAIL'} — ${name}${details ? ': ' + details : ''}`; }\n\nasync function runAgentCase(input) {\nconst VERSION = AGENT_VERSION;\n\nconst TRAVEL_BUYER_CORE_PROMPT = String.raw`\nТы — AI-турагент, профессиональный тревел-байер и эксперт по пакетным турам.\n\nТвоя задача — не красиво рекламировать отели, а помочь пользователю выбрать лучший реальный тур под его бюджет, даты и ограничения. Ты работаешь как связка:\n1. поисковый робот;\n2. опытный турагент;\n3. отельный ревизор;\n4. специалист по рискам;\n5. честный консьерж.\n\nГЛАВНЫЙ ПРИНЦИП:\nТы не продаёшь всё подряд. Ты отбираешь, сравниваешь, предупреждаешь и честно говоришь, если хорошие варианты не найдены.\n\n1. ЖЁСТКИЕ ПРАВИЛА\n\n1. Не выдумывай цены, даты, наличие мест, состав тура, отзывы, питание, трансфер, страховку и сборы.\n2. Рабочими считаются только те цены, даты и ночи, которые пришли из проверенного источника / парсера.\n3. Если данных нет — прямо пиши: “не подтверждено, нужно проверить вручную”.\n4. Не называй вариант подходящим, если он нарушает критические требования пользователя.\n5. Не подменяй запрос пользователя своими догадками.\n6. Не делай рекламный текст. Пиши как эксперт, который защищает деньги клиента.\n7. Если вариантов нет — не отвечай “ничего нет”. Покажи ближайшие честные альтернативы.\n8. Всегда разделяй: факт / экспертная оценка / риск / финальный статус.\n\n2. КАК РАЗБИРАТЬ ЗАПРОС\n\nИзвлеки из запроса пользователя:\n- страна / направление;\n- месяц / даты / диапазон дат;\n- длительность в ночах;\n- бюджет;\n- количество взрослых;\n- количество детей и возраст, если есть;\n- город вылета;\n- звездность;\n- тип питания;\n- требования к пляжу;\n- требования к району;\n- требования к отелю;\n- ограничения и запреты;\n- стиль отдыха.\n\nПравила по умолчанию:\n- если город вылета не указан — Москва;\n- если ночи не указаны — 7 ночей;\n- если бюджет указан “на двоих” — это общий бюджет на всех туристов;\n- если пользователь пишет “4-5 звезд” — не предлагай 3 звезды как основной вариант;\n- если точного совпадения нет — показывай альтернативы отдельно, не смешивай с точными вариантами.\n\n3. РЕЖИМЫ ЗАПРОСА\n\nРежим “не муравейник”:\nЭто НЕ то же самое, что “спокойный отель”.\n\n“Не муравейник” означает:\n- не огромный массовый поток;\n- не постоянные очереди;\n- не перегруженный ресторан;\n- не хаос у бассейна и на пляже;\n- не слабый сервис из-за количества гостей;\n- не явный семейный комбинат, если пользователь едет парой.\n\nНо:\n- сам факт “детский клуб” не является автоматическим минусом;\n- семейная инфраструктура — минус только если она явно доминирует и создаёт риск толпы/шума.\n\nРежим “спокойный отель”:\nВключай только если пользователь явно написал: спокойный / тихий / релакс / без шума / без детей / романтичный отдых.\n\nВ этом режиме строже понижай:\n- центр города;\n- тусовочные районы;\n- большие семейные комплексы;\n- аквапарки;\n- активную анимацию;\n- 3 линию и дальше;\n- низкий рейтинг;\n- жалобы на шум;\n- перегруженные рестораны.\n\nРежим “семейный отдых”:\nВключай только если есть дети или пользователь просит семейный отель.\n\nТогда плюсами считаются:\n- детский клуб;\n- хороший заход в море;\n- аквапарк;\n- семейные номера;\n- безопасная территория;\n- короткий трансфер;\n- нормальное питание для детей.\n\n4. ВНУТРЕННИЕ СУБАГЕНТЫ\n\nПеред финальным ответом мысленно проверь варианты через 5 ролей:\n1. Тревел-байер — цена, переплата, баланс уровня и бюджета.\n2. Отельный ревизор — рейтинг, пляж, район, старый фонд, питание, шум, очереди.\n3. Логист — город вылета, даты, длительность, регион, трансфер, удобство поездки.\n4. Специалист по рискам — скрытые платежи, багаж, страховка, топливный сбор, стройка, плохой заход в море.\n5. Консьерж — подходит ли вариант именно этому пользователю и что проверить перед оплатой.\n\n5. СЕЗОННОСТЬ И НАПРАВЛЕНИЕ\n\nЕсли пользователь указал страну и месяц, оцени сезонность:\n- нормальный ли сезон;\n- жара;\n- сезон дождей;\n- штормы;\n- холодное море;\n- высокий сезон и завышенные цены;\n- локальные праздники и перегруз курортов.\n\nЕсли направление плохое по сезону или бюджету — предложи 2 альтернативы в похожем бюджете отдельным блоком.\n\n6. ОЦЕНКА ОТЕЛЕЙ\n\nОцени каждый вариант по шкале 1–10.\n\nСильные плюсы:\n- рейтинг 8.5+;\n- 1 линия;\n- пляж до 250 м;\n- понятная пляжная зона;\n- хороший регион;\n- цена заметно ниже бюджета;\n- нормальная логистика;\n- мало признаков массового перегруза;\n- хороший баланс цена/качество.\n\nСредние плюсы:\n- рейтинг 7.5–8.4;\n- 2 линия, но пляж близко;\n- цена сильно ниже бюджета;\n- нормальный район;\n- нет явных красных флагов.\n\nМинусы:\n- рейтинг ниже 7.5;\n- рейтинг ниже 6.5 — почти всегда “только если совсем нет выбора”;\n- 3 линия и дальше;\n- пляж далеко;\n- непонятный пляж;\n- плохой заход в море;\n- центр шумного города при запросе на тишину;\n- семейный перегруз при запросе “не муравейник”;\n- старый фонд;\n- жалобы на еду;\n- жалобы на уборку;\n- очереди;\n- стройка рядом;\n- сомнительный трансфер;\n- непонятные условия тура.\n\nСтатусы:\n- “рекомендую” — хороший баланс, мало рисков, подходит под запрос;\n- “можно рассмотреть” — подходит, но есть 1–2 заметных риска;\n- “компромисс” — проходит формально, но есть слабые места;\n- “лучше пропустить” — слишком много рисков;\n- “не подходит” — нарушает критическое требование.\n\n7. СКРЫТЫЕ РАСХОДЫ\n\nВсегда напомни проверить перед оплатой:\n- багаж;\n- трансфер;\n- страховку;\n- топливный сбор;\n- финальную цену на последнем шаге;\n- актуальность мест у туроператора;\n- условия отмены;\n- тип номера;\n- тип питания;\n- доплаты за ребенка, если есть дети.\n\nНе утверждай, что это включено, если источник этого не подтвердил.\n\n8. ФОРМАТ ОТВЕТА\n\n1. КОРОТКИЙ ВЕРДИКТ\n2–4 строки: есть ли хорошие варианты, подборка сильная или компромиссная, стоит ли брать сейчас, что лучше изменить.\n\n2. ЛУЧШИЕ ВАРИАНТЫ\nДля каждого варианта:\nНазвание — регион · цена · даты, ночи · рейтинг · пляж · оценка X/10 · статус\n- почему: 1–2 причины;\n- риск: главный риск;\n- перед оплатой проверить: что конкретно проверить.\nНе выводи больше 6 вариантов, если пользователь не просит больше.\n\n3. ЧТО Я БЫ НЕ БРАЛ\nКакие типы вариантов отсеяны и почему они плохие для этого запроса.\n\n4. ЕСЛИ ТОЧНЫХ ВАРИАНТОВ НЕТ\nПокажи отдельно: выше бюджета / другая длительность / соседние даты / альтернативные направления.\nНе смешивай альтернативы с точными вариантами.\n\n5. ЧТО ДЕЛАТЬ ДАЛЬШЕ\nДай 3 действия:\n1. какой вариант проверить первым;\n2. что проверить на странице бронирования;\n3. какой параметр изменить, если хочется лучше.\n\n9. GOOGLE SHEETS / КОРОТКОЕ ПОЛЕ\nФормат: Название — цена — даты/ночи — оценка — статус — главный риск.\n\n10. ЗАПРЕТЫ\nЗапрещено:\n- выдумывать отзывы;\n- выдумывать наличие мест;\n- выдумывать включенные услуги;\n- писать “идеальный вариант”, если есть риски;\n- скрывать слабые места;\n- путать “не муравейник” и “спокойный отель”;\n- показывать варианты не на те ночи как точные;\n- показывать варианты выше бюджета как подходящие;\n- писать огромный путеводитель, если пользователь просит подобрать тур;\n- делать вид, что ручная проверка не нужна.\n\nФИНАЛЬНЫЙ ПРИНЦИП:\nЛучше честно сказать “хороших вариантов нет”, чем продать плохой тур.\n`;\n\n\nfunction safe(v, fallback = '') {\n  if (v === null || v === undefined || v === '') return fallback;\n  return String(v).replace(/\\u00A0/g, ' ').replace(/\\s+/g, ' ').trim();\n}\nfunction cleanText(v, fallback = '') { return safe(v, fallback); }\nfunction toNumber(v, fallback = null) {\n  const n = Number(String(v ?? '').replace(/\\s+/g, '').replace(/[^\\d.-]/g, ''));\n  return Number.isFinite(n) ? n : fallback;\n}\nfunction money(n) {\n  const x = toNumber(n, null);\n  if (x === null) return 'цена не указана';\n  return `${Math.round(x).toLocaleString('ru-RU')} ₽`;\n}\nfunction decodeHtml(value) {\n  return String(value || '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#x27;/g, \"'\")\n    .replace(/&#39;/g, \"'\")\n    .replace(/&laquo;/g, '«')\n    .replace(/&raquo;/g, '»')\n    .replace(/&mdash;/g, '—')\n    .replace(/&ndash;/g, '–')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/\\u00A0/g, ' ');\n}\nfunction htmlToTextWithLines(html) {\n  return decodeHtml(String(html || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<br\\s*\\/?\\s*>/gi, '\\n')\n    .replace(/<\\/(div|p|li|h1|h2|h3|h4|span|a|button)>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' '))\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\s*\\n\\s*/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\nfunction normalizeName(value) {\n  return cleanText(value)\n    .toLowerCase()\n    .replace(/ё/g, 'е')\n    .replace(/&/g, 'and')\n    .replace(/\\bhotel\\b/g, '')\n    .replace(/\\bresort\\b/g, '')\n    .replace(/\\bspa\\b/g, '')\n    .replace(/[^a-zа-я0-9]+/gi, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nfunction normalizeUrl(url) {\n  if (!url) return '';\n  let result = decodeHtml(String(url).trim());\n  if (result.startsWith('//')) result = `https:${result}`;\n  if (result.startsWith('/')) result = `https://www.onlinetours.ru${result}`;\n  return result;\n}\n\nfunction parseBudget(text) {\n  const s = cleanText(text).toLowerCase().replace(/ё/g, 'е').replace(/,/g, '.');\n  let raw = null;\n\n  // v17: бюджет считаем общим, если пользователь пишет \"на двоих/на троих/на всех\".\n  // Не цепляем числа из дат и ночей: 11.07, 18.07, 6-7 ночей.\n  const explicitMoneyPatterns = [\n    /(?:до|бюджет|макс(?:имум)?|лимит|не\\s*дороже|цена|стоимость|около|примерно)\\s*(\\d{2,3}(?:\\s?\\d{3})+|\\d{5,7})\\s*(?:₽|руб|рублей|р|rub)?/i,\n    /(\\d{2,3}(?:\\s?\\d{3})+|\\d{5,7})\\s*(?:₽|руб|рублей|р|rub)\\b/i\n  ];\n  for (const re of explicitMoneyPatterns) {\n    const m = s.match(re);\n    if (m) { raw = Number(String(m[1]).replace(/\\D/g, '')); break; }\n  }\n  if (!raw) {\n    const mPersonRaw = s.match(/(\\d{5,7})\\s*(?:₽|руб|рублей|р|rub)?\\s*(?:с\\s*человека|на\\s*(?:1|одного|человека|персону|каждого)|за\\s*человека)/i);\n    if (mPersonRaw) raw = Number(String(mPersonRaw[1]).replace(/\\D/g, ''));\n  }\n  if (!raw) {\n    const mK = s.match(/(?:до|бюджет|макс(?:имум)?|лимит|цена|стоимость|за|не\\s*дороже|около|примерно)?\\s*(\\d+(?:[.]\\d+)?)\\s*(?:тыс|тысяч|к|k)(?:\\b|\\s|$)/i);\n    if (mK) raw = Math.round(Number(mK[1]) * 1000);\n  }\n  if (!raw) raw = 175000;\n\n  const perPerson = /на\\s*(?:1|одного|человека|персону)|с\\s*человека|за\\s*человека|на\\s*каждого/i.test(s);\n  // \"бюджет 175000 на двоих\" = общий бюджет. Но \"120000 с человека на двоих\" = умножаем.\n  if (perPerson) raw = raw * (parseAdults(text) + parseChildren(text));\n  return raw;\n}\n\nfunction parseAdults(text) {\n  const s = cleanText(text).toLowerCase().replace(/ё/g, 'е');\n  if (/на\\s*двоих|2\\s*взросл|двое|пара|я\\s*и\\s*(?:жена|муж|девушка|парень)|муж\\s*и\\s*жена/i.test(s)) return 2;\n  const m = s.match(/(\\d+)\\s*(?:взросл|чел|челов|турист)/i);\n  if (m) return Number(m[1]);\n  if (/один|solo|соло|одному|одна/i.test(s)) return 1;\n  return 2;\n}\nfunction parseChildren(text) {\n  const s = cleanText(text).toLowerCase().replace(/ё/g, 'е');\n  let m = s.match(/(\\d+)\\s*(?:реб|дет|child|kid)/i);\n  if (m) return Number(m[1]);\n  m = s.match(/(?:ребенок|ребенка|ребенком|дитя|child|kid)\\s*(\\d{1,2})?\\s*(?:лет|года|год)?/i);\n  if (m) return 1;\n  m = s.match(/(?:с|и)\\s*(?:одним\\s*)?(?:ребенком|ребенок|детьми)/i);\n  if (m) return 1;\n  m = s.match(/(\\d+)\\s*\\+\\s*(\\d+)/);\n  if (m) return Number(m[2]);\n  if (/семья\\s*с\\s*детьми|семейный\\s*отдых\\s*с\\s*детьми/i.test(s)) return 1;\n  return 0;\n}\nfunction parseNightsFromText(text) {\n  const s = cleanText(text).toLowerCase();\n  const matches = [...s.matchAll(/(?:на\\s*)?(\\d{1,2})\\s*(?:ноч(?:ь|и|ей)|ноч\\.?|nights?)/gi)]\n    .map(m => Number(m[1]))\n    .filter(n => Number.isFinite(n) && n >= 1 && n <= 30);\n  if (matches.length) return matches[matches.length - 1];\n  const dayMatches = [...s.matchAll(/(?:на\\s*)?(\\d{1,2})\\s*(?:дн(?:я|ей)|день|days?)/gi)]\n    .map(m => Number(m[1]))\n    .filter(n => Number.isFinite(n) && n >= 2 && n <= 31);\n  if (dayMatches.length) return Math.max(1, dayMatches[dayMatches.length - 1] - 1);\n  return null;\n}\n\nfunction parseDurationRequest(text, vacationDays = null) {\n  const s = cleanText(text).toLowerCase().replace(/ё/g, 'е');\n  const clamp = (n) => Math.max(1, Math.min(30, Number(n || 0)));\n  const normalizeRange = (a, b, source) => {\n    let x = clamp(a);\n    let y = clamp(b);\n    if (x > y) [x, y] = [y, x];\n    return { explicit: true, min: x, max: y, ideal: y, isRange: x !== y, source, label: x === y ? `${x} ночей` : `${x}–${y} ночей` };\n  };\n  let m = s.match(/(\\d{1,2})\\s*(?:-|–|—|до|по|или|\\/|\\\\)\\s*(\\d{1,2})\\s*(?:ноч(?:ь|и|ей)|ноч\\.?|nights?)/i);\n  if (m) return normalizeRange(Number(m[1]), Number(m[2]), 'explicit_nights_range');\n  m = s.match(/(\\d{1,2})\\s*(?:-|–|—|до|по|или|\\/|\\\\)\\s*(\\d{1,2})\\s*(?:дн(?:я|ей)|день|days?)/i);\n  if (m) return normalizeRange(Number(m[1]) - 1, Number(m[2]) - 1, 'explicit_days_range');\n  const n = parseNightsFromText(text);\n  if (n) return { explicit: true, min: n, max: n, ideal: n, isRange: false, source: /дн(?:я|ей)|день|days?/i.test(s) ? 'explicit_days' : 'explicit_nights', label: `${n} ночей` };\n  if (vacationDays && vacationDays >= 5 && vacationDays <= 21) return { explicit: false, min: Math.max(4, vacationDays - 2), max: vacationDays, ideal: vacationDays, isRange: true, source: 'vacation_window_flexible', label: `${Math.max(4, vacationDays - 2)}–${vacationDays} ночей` };\n  return { explicit: false, min: 7, max: 7, ideal: 7, isRange: false, source: 'default_7_nights', label: '7 ночей' };\n}\nfunction nightsInAcceptedRange(n, minN, maxN) {\n  const x = Number(n || 0);\n  return Number.isFinite(x) && x >= minN && x <= maxN;\n}\nfunction nightsDistanceToRange(n, minN, maxN) {\n  const x = Number(n || 0);\n  if (!Number.isFinite(x) || x <= 0) return 999;\n  if (x < minN) return minN - x;\n  if (x > maxN) return x - maxN;\n  return 0;\n}\nfunction parseStars(text) {\n  const s = cleanText(text).toLowerCase();\n  if (s.includes('4-5') || s.includes('4–5') || s.includes('4 5')) return [4, 5];\n  if (s.includes('5 звезд') || s.includes('5*')) return [5];\n  if (s.includes('4 звезд') || s.includes('4*')) return [4];\n  return [4, 5];\n}\nfunction parseMonth(text) {\n  const s = cleanText(text).toLowerCase();\n  const months = [\n    ['январь', /январ/i], ['февраль', /феврал/i], ['март', /март/i], ['апрель', /апрел/i],\n    ['май', /май|мая/i], ['июнь', /июн/i], ['июль', /июл|юл/i], ['август', /август/i],\n    ['сентябрь', /сентябр/i], ['октябрь', /октябр/i], ['ноябрь', /ноябр/i], ['декабрь', /декабр/i]\n  ];\n  for (const [m, re] of months) if (re.test(s)) return m;\n  return 'июль';\n}\n\nconst SOURCE_COUNTRY_REGISTRY = {\n  'Турция': { slug: 'turkey', priority: 1, regions: ['kemer','alanya','side','belek','marmaris','fethiye'] },\n  'Египет': { slug: 'egypt', priority: 2, regions: ['hurgada','sharm-el-sheikh'] },\n  'ОАЭ': { slug: 'uae', priority: 3, regions: ['dubai','sharjah','abu-dhabi'] },\n  'Таиланд': { slug: 'thailand', priority: 4, regions: ['phuket','pattaya'] },\n  'Вьетнам': { slug: 'vietnam', priority: 5, regions: [] },\n  'Мальдивы': { slug: 'maldives', priority: 6, regions: [] },\n  'Шри-Ланка': { slug: 'sri-lanka', priority: 7, regions: [] },\n  'Куба': { slug: 'cuba', priority: 8, regions: [] },\n  'Индия': { slug: 'india', priority: 9, regions: [] },\n  'Россия': { slug: 'russia', priority: 10, regions: ['sochi'] },\n  'Тунис': { slug: 'tunisia', priority: 11, regions: [] }\n};\nfunction uniq(arr) { return [...new Set(arr.filter(Boolean))]; }\nfunction parseDeparture(text) {\n  const s = cleanText(text).toLowerCase().replace(/ё/g, 'е');\n  const rules = [\n    ['Москва', /из\\s*москв|москва|шереметьево|домодедово|внуково/],\n    ['Санкт-Петербург', /из\\s*(?:спб|санкт|питер)|петербург|пулково/],\n    ['Казань', /из\\s*казан|казань/],\n    ['Екатеринбург', /из\\s*екатеринбург|екатеринбург/],\n    ['Новосибирск', /из\\s*новосибирск|новосибирск/],\n    ['Самара', /из\\s*самар|самара/],\n    ['Уфа', /из\\s*уфы|уфа/],\n    ['Минск', /из\\s*минск|минск/],\n    ['Ереван', /из\\s*ереван|ереван/]\n  ];\n  for (const [city, re] of rules) if (re.test(s)) return city;\n  return 'Москва';\n}\nfunction parseTripFocus(text) {\n  const s = cleanText(text).toLowerCase().replace(/ё/g, 'е');\n  const focus = [];\n  if (/море|пляж|пляжн|плаж|купат/.test(s)) focus.push('пляжный отдых');\n  if (/все\\s*включ|всё\\s*включ|all\\s*inclusive|\\bai\\b|ультра/.test(s)) focus.push('все включено');\n  if (/первая\\s*линия|1\\s*линия|у\\s*моря|свой\\s*пляж/.test(s)) focus.push('первая линия');\n  if (/песчан|песок/.test(s)) focus.push('песчаный пляж');\n  if (/не\\s*стар|свеж|новый|ремонт|не\\s*убит/.test(s)) focus.push('не старый фонд');\n  if (/wifi|wi-fi|вай\\s*фай|интернет|работ/.test(s)) focus.push('хороший Wi‑Fi');\n  if (/экскурс|посмотреть|погулять|достопримеч/.test(s)) focus.push('экскурсии');\n  if (/тусов|движ|бар|ночн/.test(s)) focus.push('тусовка');\n  if (/романт|годовщ|медов/.test(s)) focus.push('романтика');\n  if (/дет|реб|семейн/.test(s)) focus.push('семейный отдых');\n  return uniq(focus);\n}\nfunction parseDestinationCandidates(text) {\n  const s = cleanText(text).toLowerCase().replace(/ё/g, 'е');\n  const list = [];\n  const add = (name) => { if (!list.includes(name)) list.push(name); };\n  if (/турц|turkey|антал|кемер|алан(ь|и)я|белек|сиде|мармарис|фетхи/.test(s)) add('Турция');\n  if (/егип|egypt|хургад|шарм|марса[-\\s]?алам|каир/.test(s)) add('Египет');\n  if (/вьет|вьетнам|vietnam|нячанг|фукуок|дананг|фантьет/.test(s)) add('Вьетнам');\n  if (/оаэ|эмират|дубай|абу[-\\s]?даби|sharjah|шардж|рас[-\\s]?аль[-\\s]?хайм/.test(s)) add('ОАЭ');\n  if (/тай|таиланд|пхукет|паттай|самуи|краби/.test(s)) add('Таиланд');\n  if (/мальдив/.test(s)) add('Мальдивы');\n  if (/шри[-\\s]?ланк|цейлон/.test(s)) add('Шри-Ланка');\n  if (/куб[ау]|варадеро|гавана/.test(s)) add('Куба');\n  if (/гоа|индия|india/.test(s)) add('Индия');\n  if (/сочи|адлер|красн(ая|ую)\\s*поляна|росси[яи]|дагестан|абхаз/.test(s)) add('Россия');\n  if (/тунис|джерб|хаммамет|ссус|sousse|tunisia/.test(s)) add('Тунис');\n  return list;\n}\nfunction seasonalOrder(monthValue) {\n  const m = safe(monthValue).toLowerCase();\n  if (m === 'июнь' || m === 'июль' || m === 'август' || m === 'сентябрь') return ['Турция','Египет','Тунис','Россия','Вьетнам','Таиланд','ОАЭ','Мальдивы','Шри-Ланка','Куба','Индия'];\n  if (m === 'октябрь' || m === 'ноябрь' || m === 'декабрь' || m === 'январь' || m === 'февраль' || m === 'март') return ['Египет','ОАЭ','Таиланд','Вьетнам','Мальдивы','Шри-Ланка','Индия','Куба','Турция','Тунис','Россия'];\n  return ['Турция','Египет','ОАЭ','Таиланд','Вьетнам','Тунис','Мальдивы','Шри-Ланка','Индия','Куба','Россия'];\n}\nfunction parseCountry(text) {\n  const list = parseDestinationCandidates(text);\n  return list[0] || 'Турция';\n}\nfunction destinationDecision(text, monthValue, vacationWindow) {\n  const s = cleanText(text).toLowerCase().replace(/ё/g, 'е');\n  const explicit = parseDestinationCandidates(text);\n  const wantsSea = /море|пляж|пляжн|плаж|купат|all inclusive|все включ|всё включ|отель|курорт/.test(s);\n  const asksAdvice = /посовет|выбери|подскажи|наверн|или|куда|страна|направлен|что лучше|сравни/.test(s) || explicit.length !== 1;\n  let effectiveCandidates = explicit.length ? explicit.slice() : (wantsSea ? ['Турция', 'Египет', 'ОАЭ', 'Таиланд', 'Вьетнам'] : ['Турция']);\n  const order = seasonalOrder(monthValue);\n  const asksMoreDirections = /ещ[её]|друг(?:ие|ая|их)?\\s+стран|какие\\s+стран|какие\\s+направ|что\\s+еще|что\\s+ещё|посоветуй\\s+еще|посоветуй\\s+ещё/i.test(s);\n  if (wantsSea && (asksMoreDirections || (asksAdvice && explicit.length > 1))) {\n    for (const c of order) if (SOURCE_COUNTRY_REGISTRY[c] && !effectiveCandidates.includes(c)) effectiveCandidates.push(c);\n  }\n  // Важное исправление v13: явно названные страны не теряются из-за сезонной сортировки.\n  // Сначала идут страны из запроса, потом дополнительные рекомендованные направления.\n  const explicitOrdered = explicit.length ? explicit.slice().sort((a, b) => order.indexOf(a) - order.indexOf(b)) : [];\n  const extraOrdered = effectiveCandidates.filter(c => !explicitOrdered.includes(c)).sort((a, b) => order.indexOf(a) - order.indexOf(b));\n  effectiveCandidates = uniq([...explicitOrdered, ...extraOrdered]);\n  const m = safe(monthValue).toLowerCase();\n  let maxLiveCountries = asksMoreDirections ? Math.min(9, Math.max(7, explicitOrdered.length + 5)) : 6;\n  if (asksMoreDirections && (m === 'июль' || m === 'август' || m === 'июнь' || m === 'сентябрь')) {\n    for (const c of ['Тунис','Россия','Таиланд','ОАЭ']) {\n      if (SOURCE_COUNTRY_REGISTRY[c] && !effectiveCandidates.includes(c)) effectiveCandidates.push(c);\n    }\n  }\n  const priceSearchCountries = effectiveCandidates.filter(c => SOURCE_COUNTRY_REGISTRY[c]).slice(0, maxLiveCountries);\n  const primary = priceSearchCountries[0] || 'Турция';\n  let reason = 'сначала проверяю явно указанные направления, затем 2–3 дополнительных страны по сезонности';\n  if (effectiveCandidates.length > 1) {\n    if (m === 'июль' || m === 'август') reason = 'летом сначала проверяю страны из запроса; Турция обычно логичнее по пляжу, Египет жарче, Вьетнам/Таиланд требуют проверки региона по дождям';\n    else if (['ноябрь','декабрь','январь','февраль','март'].includes(m)) reason = 'зимой чаще сильнее Египет/ОАЭ/Таиланд, но явно указанные направления сохраняю в live-поиске первыми';\n  }\n  const seasonNotes = [];\n  if (effectiveCandidates.includes('Турция')) seasonNotes.push('Турция: лето — высокий пляжный сезон, жарко, море теплое, цены выше среднего');\n  if (effectiveCandidates.includes('Египет')) seasonNotes.push('Египет: летом очень жарко, зато море теплое; зимой комфортнее, но вечерами бывает прохладно');\n  if (effectiveCandidates.includes('Вьетнам')) seasonNotes.push('Вьетнам: сезон зависит от региона; летом лучше проверять Нячанг/Дананг, Фукуок часто риск дождей');\n  if (effectiveCandidates.includes('ОАЭ')) seasonNotes.push('ОАЭ: июль/август экстремально жарко, лучше осень–весна');\n  if (effectiveCandidates.includes('Таиланд')) seasonNotes.push('Таиланд: летом возможны дожди, зимой пик сезона и выше цены');\n  if (effectiveCandidates.includes('Мальдивы')) seasonNotes.push('Мальдивы: летом возможны дожди, зимой сезон сильнее');\n  if (effectiveCandidates.includes('Шри-Ланка')) seasonNotes.push('Шри-Ланка: летом регионально, пляжный сезон лучше уточнять по побережью');\n  if (effectiveCandidates.includes('Тунис')) seasonNotes.push('Тунис: летом пляжный сезон, но важно проверять перелёт, питание и свежие отзывы по отелю');\n  const mealAI = /all inclusive|все\\s*включ|всё\\s*включ|ультра\\s*все|ultra\\s*all|\\bai\\b/i.test(text);\n  return {\n    candidates: effectiveCandidates,\n    explicitCandidates: explicit,\n    multiDestinationMode: Boolean(effectiveCandidates.length > 1 || asksAdvice),\n    asksDirectionAdvice: Boolean(asksAdvice),\n    wantsSea: Boolean(wantsSea),\n    primaryCountry: primary,\n    priceSearchCountries,\n    reason,\n    connectedPriceCountries: Object.keys(SOURCE_COUNTRY_REGISTRY),\n    seasonNotes,\n    tripFocus: parseTripFocus(text),\n    departure: parseDeparture(text),\n    mealAI,\n    maxLiveCountries\n  };\n}\n\nfunction suggestExtraDirections(monthValue, budgetValue) {\n  const m = safe(monthValue).toLowerCase();\n  const b = toNumber(budgetValue, 0);\n  if (m === 'июль' || m === 'август') {\n    return 'дополнительно можно проверить: Тунис — пляжный сезон, но live-цены не подключены; ОАЭ летом я бы не ставил первым из-за экстремальной жары; Таиланд/Вьетнам — только после выбора конкретного региона по дождям';\n  }\n  if (['ноябрь','декабрь','январь','февраль','март'].includes(m)) {\n    return 'дополнительно можно проверить: ОАЭ, Таиланд, Шри-Ланку, Мальдивы; Турцию зимой брать только если нужен не пляжный, а спокойный отельный отдых';\n  }\n  return 'дополнительно можно проверить: ОАЭ, Таиланд, Шри-Ланку или Тунис — зависит от сезона и бюджета; live-цены по ним требуют отдельного подключения источников';\n}\nfunction buildSeoPathsForCountry(countryName, monthSlug) {\n  const cfg = SOURCE_COUNTRY_REGISTRY[countryName] || SOURCE_COUNTRY_REGISTRY['Турция'];\n  const paths = [[`https://www.onlinetours.ru/tury/${cfg.slug}/${monthSlug}`, `Onlinetours ${countryName} месяц`]];\n  for (const r of (cfg.regions || [])) paths.push([`https://www.onlinetours.ru/tury/${cfg.slug}/${r}/${monthSlug}`, `Onlinetours ${countryName} ${r} месяц`]);\n  return paths;\n}\nfunction countrySlug(countryName) { return (SOURCE_COUNTRY_REGISTRY[countryName] || SOURCE_COUNTRY_REGISTRY['Турция']).slug; }\nfunction onlinetoursDepartCityId(city) {\n  // Надежно подтвержден только код Москвы. Для других городов лучше добавлять ID после ручной проверки.\n  return city === 'Москва' ? 20001 : 20001;\n}\nfunction sourceLimitForSearchCountries(countries) {\n  // v21: явно указанные страны + несколько дополнительных направлений; лимит 10, чтобы не подвешивать n8n.\n  return uniq(countries).slice(0, 10);\n}\nfunction queryCoverageSummary() {\n  return 'autonomous-search-polish coverage: выбор страны, дополнительные направления, сезонность, даты отпуска, дни/ночи, диапазон ночей, бюджет общий/на человека, взрослые/дети, пляж, AI/все включено, первая линия, спокойный, не муравейник, семейный, adult only, выше бюджета, другая длительность, разные города вылета';\n}\nfunction monthToRange(monthValue) {\n  const month = safe(monthValue, 'июль').toLowerCase();\n  const map = {\n    'январь': ['2026-01-01', '2026-01-31', 'v_yanvare'],\n    'февраль': ['2026-02-01', '2026-02-28', 'v_fevrale'],\n    'март': ['2026-03-01', '2026-03-31', 'v_marte'],\n    'апрель': ['2026-04-01', '2026-04-30', 'v_aprele'],\n    'май': ['2026-05-01', '2026-05-31', 'v_mae'],\n    'июнь': ['2026-06-01', '2026-06-30', 'v_iyune'],\n    'июль': ['2026-07-01', '2026-07-31', 'v_iyule'],\n    'август': ['2026-08-01', '2026-08-31', 'v_avguste'],\n    'сентябрь': ['2026-09-01', '2026-09-30', 'v_sentyabre'],\n    'октябрь': ['2026-10-01', '2026-10-31', 'v_oktyabre'],\n    'ноябрь': ['2026-11-01', '2026-11-30', 'v_noyabre'],\n    'декабрь': ['2026-12-01', '2026-12-31', 'v_dekabre']\n  };\n  return map[month] || map['июль'];\n}\n\nfunction monthNumberFromToken(token, fallbackMonthValue = 'июль') {\n  const s = cleanText(token).toLowerCase().replace(/ё/g, 'е');\n  if (/январ/.test(s)) return 1;\n  if (/феврал/.test(s)) return 2;\n  if (/март/.test(s)) return 3;\n  if (/апрел/.test(s)) return 4;\n  if (/май|мая/.test(s)) return 5;\n  if (/июн/.test(s)) return 6;\n  if (/июл|юл/.test(s)) return 7;\n  if (/август/.test(s)) return 8;\n  if (/сентябр/.test(s)) return 9;\n  if (/октябр/.test(s)) return 10;\n  if (/ноябр/.test(s)) return 11;\n  if (/декабр/.test(s)) return 12;\n  return monthNumberFromToken(fallbackMonthValue, 'июль');\n}\nfunction isoDateFromParts(day, monthNum, year = 2026) {\n  const d = Number(day);\n  const m = Number(monthNum);\n  if (!Number.isFinite(d) || !Number.isFinite(m) || d < 1 || d > 31 || m < 1 || m > 12) return '';\n  return `${year}-${String(m).padStart(2, '0')}-${String(d).padStart(2, '0')}`;\n}\nfunction subtractDays(dateStr, days) {\n  const d = new Date(`${dateStr}T00:00:00Z`);\n  d.setUTCDate(d.getUTCDate() - Number(days || 0));\n  return d.toISOString().slice(0, 10);\n}\nfunction parseExplicitVacationWindow(text, fallbackMonthValue = 'июль') {\n  const raw = cleanText(text).toLowerCase().replace(/ё/g, 'е');\n  // Важно: не путать диапазон дат с \"4-5 звезд\".\n  // Окно отпуска считаем явным только при форматах дат или при словах \"отпуск/даты/период/с\".\n\n  // Форматы: \"11.07-19.07\", \"11/07 по 19/07\".\n  const reNumeric = /(?:^|[^\\d])(\\d{1,2})[\\.\\/](\\d{1,2})\\s*(?:до|по|[-—–])\\s*(\\d{1,2})[\\.\\/](\\d{1,2})(?:[^\\d]|$)/i;\n  const nm = raw.match(reNumeric);\n  if (nm) {\n    const from = isoDateFromParts(nm[1], nm[2]);\n    const to = isoDateFromParts(nm[3], nm[4]);\n    if (from && to && from <= to) return { from, to, explicit: true, label: `${String(nm[1]).padStart(2, '0')}.${String(nm[2]).padStart(2, '0')}–${String(nm[3]).padStart(2, '0')}.${String(nm[4]).padStart(2, '0')}` };\n  }\n\n  // Форматы: \"11-18.07\", \"11.07-18\".\n  const reMixedNumeric = /(?:^|[^\\d])(\\d{1,2})(?:[\\.\\/](\\d{1,2}))?\\s*(?:до|по|[-—–])\\s*(\\d{1,2})(?:[\\.\\/](\\d{1,2}))(?:[^\\d]|$)/i;\n  const mmn = raw.match(reMixedNumeric);\n  if (mmn) {\n    const month1 = Number(mmn[2] || mmn[4]);\n    const month2 = Number(mmn[4] || mmn[2]);\n    const from = isoDateFromParts(mmn[1], month1);\n    const to = isoDateFromParts(mmn[3], month2);\n    if (from && to && from <= to) return { from, to, explicit: true, label: `${String(mmn[1]).padStart(2, '0')}.${String(month1).padStart(2, '0')}–${String(mmn[3]).padStart(2, '0')}.${String(month2).padStart(2, '0')}` };\n  }\n\n  // Форматы: \"даты отпуска с 11 июля до 19 июля\", \"с 11 до 19 июля\".\n  const reWithS = /(?:отпуск[^\\d]{0,60}|даты[^\\d]{0,60}|период[^\\d]{0,60}|срок[^\\d]{0,60})?с\\s+(\\d{1,2})(?:\\s+([а-яa-z]+))?\\s*(?:до|по|[-—–])\\s*(\\d{1,2})(?:\\s+([а-яa-z]+))?/i;\n  let m = raw.match(reWithS);\n\n  // Формат без \"с\", но только если есть якорь: \"отпуск 11 июля - 19 июля\".\n  if (!m) {\n    const reAnchored = /(?:отпуск[^\\d]{0,60}|даты[^\\d]{0,60}|период[^\\d]{0,60}|срок[^\\d]{0,60})(\\d{1,2})(?:\\s+([а-яa-z]+))?\\s*(?:до|по|[-—–])\\s*(\\d{1,2})(?:\\s+([а-яa-z]+))?/i;\n    m = raw.match(reAnchored);\n  }\n\n  // Формат: \"11-19 июля\". Требуем месяц текстом, чтобы не схватить \"4-5 звезд\".\n  if (!m) {\n    const reCompactMonth = /(?:^|[^\\d])(\\d{1,2})\\s*(?:до|по|[-—–])\\s*(\\d{1,2})\\s+(январ[а-я]*|феврал[а-я]*|март[а-я]*|апрел[а-я]*|ма[йя]|июн[а-я]*|июл[а-я]*|юл[а-я]*|август[а-я]*|сентябр[а-я]*|октябр[а-я]*|ноябр[а-я]*|декабр[а-я]*)/i;\n    const cm = raw.match(reCompactMonth);\n    if (cm) m = [cm[0], cm[1], cm[3], cm[2], cm[3]];\n  }\n\n  if (!m) return null;\n  const month1 = monthNumberFromToken(m[2] || m[4] || fallbackMonthValue, fallbackMonthValue);\n  const month2 = monthNumberFromToken(m[4] || m[2] || fallbackMonthValue, fallbackMonthValue);\n  const from = isoDateFromParts(m[1], month1);\n  const to = isoDateFromParts(m[3], month2);\n  if (!from || !to || from > to) return null;\n  return { from, to, explicit: true, label: `${String(m[1]).padStart(2, '0')}.${String(month1).padStart(2, '0')}–${String(m[3]).padStart(2, '0')}.${String(month2).padStart(2, '0')}` };\n}\nfunction tourEndIso(card) {\n  const startIso = dateToIso(card.dateFrom);\n  let endIso = dateToIso(card.dateTo);\n  if (!startIso || !endIso) return '';\n  if (endIso < startIso) {\n    const d = new Date(`${endIso}T00:00:00Z`);\n    d.setUTCFullYear(d.getUTCFullYear() + 1);\n    endIso = d.toISOString().slice(0, 10);\n  }\n  return endIso;\n}\nfunction tourFitsVacationWindow(card, vacationWindow) {\n  if (!vacationWindow) return true;\n  const startIso = dateToIso(card.dateFrom);\n  const endIso = tourEndIso(card);\n  return Boolean(startIso && endIso && startIso >= vacationWindow.from && endIso <= vacationWindow.to);\n}\n\nfunction addDays(dateStr, days) {\n  const d = new Date(`${dateStr}T00:00:00Z`);\n  d.setUTCDate(d.getUTCDate() + days);\n  return d.toISOString().slice(0, 10);\n}\nfunction minDate(a, b) { return a <= b ? a : b; }\n\nfunction daysDiffIso(a, b) {\n  if (!a || !b) return 999;\n  const da = new Date(`${a}T00:00:00Z`);\n  const db = new Date(`${b}T00:00:00Z`);\n  const diff = Math.round((da - db) / 86400000);\n  return Number.isFinite(diff) ? diff : 999;\n}\nfunction vacationWindowGap(card, vacationWindow) {\n  if (!vacationWindow) return 0;\n  const startIso = dateToIso(card.dateFrom);\n  const endIso = tourEndIso(card);\n  if (!startIso || !endIso) return 999;\n  let gap = 0;\n  if (startIso < vacationWindow.from) gap += Math.abs(daysDiffIso(vacationWindow.from, startIso));\n  if (endIso > vacationWindow.to) gap += Math.abs(daysDiffIso(endIso, vacationWindow.to));\n  return gap;\n}\nfunction vacationWindowMissLabel(card, vacationWindow) {\n  if (!vacationWindow) return '';\n  const startIso = dateToIso(card.dateFrom);\n  const endIso = tourEndIso(card);\n  const bits = [];\n  if (startIso && startIso < vacationWindow.from) bits.push(`вылет раньше отпуска на ${Math.abs(daysDiffIso(vacationWindow.from, startIso))} дн.`);\n  if (endIso && endIso > vacationWindow.to) bits.push(`возврат позже отпуска на ${Math.abs(daysDiffIso(endIso, vacationWindow.to))} дн.`);\n  return bits.join(', ');\n}\n\nfunction buildDateWindows(startFrom, startTo) {\n  const windows = [];\n  const push = (from, to, label) => {\n    const safeFrom = from < startFrom ? startFrom : from;\n    const maxTo = minDate(addDays(safeFrom, 13), startTo);\n    const safeTo = to > maxTo ? maxTo : to;\n    const key = `${safeFrom}|${safeTo}`;\n    if (safeFrom <= safeTo && !windows.some(w => w.key === key)) windows.push({ from: safeFrom, to: safeTo, label, key });\n  };\n  push(startFrom, addDays(startFrom, 13), '01–14 число');\n  push(addDays(startFrom, 7), addDays(startFrom, 20), '08–21 число');\n  push(addDays(startFrom, 14), addDays(startFrom, 27), '15–28 число');\n  push(addDays(startFrom, 18), startTo, '19–31 число');\n  push(addDays(startFrom, 21), startTo, '22–31 число');\n  return windows;\n}\n\nfunction buildExactNightWindows(requestedFrom, requestedTo, minN, maxN, vacationWindow) {\n  const windows = [];\n  const seen = new Set();\n  for (let n = minN; n <= maxN; n++) {\n    const latestStart = vacationWindow ? subtractDays(vacationWindow.to, n) : requestedTo;\n    if (requestedFrom > latestStart) continue;\n    const from = requestedFrom;\n    const to = latestStart;\n    const key = `${n}|${from}|${to}`;\n    if (!seen.has(key)) {\n      seen.add(key);\n      windows.push({ nights: n, from, to, label: `${n} ночей exact-window` });\n    }\n  }\n  return windows;\n}\n\nfunction buildNearDateFallbackWindows(vacationWindow, minN, maxN) {\n  // v16: отдельный глубокий поиск вариантов, где ночи подходят, но даты на 1–4 дня не помещаются в отпуск.\n  const windows = [];\n  const seen = new Set();\n  if (!vacationWindow) return windows;\n  const push = (n, from, to, label) => {\n    if (!from || !to || from > to) return;\n    const key = `${n}|${from}|${to}|${label}`;\n    if (seen.has(key)) return;\n    seen.add(key);\n    windows.push({ nights: n, from, to, label });\n  };\n  for (let n = minN; n <= maxN; n++) {\n    const latestInsideStart = subtractDays(vacationWindow.to, n);\n    push(n, addDays(vacationWindow.from, -4), addDays(vacationWindow.from, -1), `${n} ночей ранний вылет рядом с отпуском`);\n    push(n, addDays(latestInsideStart, 1), addDays(vacationWindow.to, 4), `${n} ночей поздний возврат рядом с отпуском`);\n    push(n, addDays(vacationWindow.from, -4), addDays(vacationWindow.to, 4), `${n} ночей расширенное окно +/-4 дня`);\n  }\n  return windows;\n}\nfunction durationVariantsForNights(n) {\n  // Onlinetours может показывать длительность как ночи или как дни, поэтому v13 добавляет 2 безопасных варианта.\n  const variants = [\n    { from: Math.max(1, n - 1), to: n + 1, label: 'wide' },\n    { from: Math.max(1, n), to: n, label: 'exact-nights' },\n    { from: Math.max(1, n + 1), to: n + 1, label: 'exact-days' }\n  ];\n  const seen = new Set();\n  return variants.filter(v => {\n    const key = `${v.from}-${v.to}`;\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  });\n}\n\nfunction dateToIso(ddmm, fallbackYear = 2026) {\n  const m = String(ddmm || '').match(/(\\d{1,2})\\.(\\d{1,2})/);\n  if (!m) return '';\n  let a = Number(m[1]);\n  let b = Number(m[2]);\n  let day = a;\n  let month = b;\n  if (a <= 12 && b > 12) { day = b; month = a; }\n  if (day < 1 || day > 31 || month < 1 || month > 12) return '';\n  return `${fallbackYear}-${String(month).padStart(2, '0')}-${String(day).padStart(2, '0')}`;\n}\nfunction nightsBetweenDateFragments(startFragment, endFragment) {\n  const startIso = dateToIso(startFragment);\n  const endIsoRaw = dateToIso(endFragment);\n  if (!startIso || !endIsoRaw) return null;\n  const start = new Date(`${startIso}T00:00:00Z`);\n  const end = new Date(`${endIsoRaw}T00:00:00Z`);\n  if (end < start) end.setUTCFullYear(end.getUTCFullYear() + 1);\n  const nights = Math.round((end - start) / 86400000);\n  return Number.isFinite(nights) && nights >= 1 && nights <= 31 ? nights : null;\n}\nfunction monthMatches(dateText, monthValue) {\n  const [from, to] = monthToRange(monthValue);\n  const m = String(dateText || '').match(/(\\d{1,2}\\.\\d{1,2})/);\n  if (!m) return false;\n  const iso = dateToIso(m[1]);\n  return Boolean(iso && iso >= from && iso <= to);\n}\nfunction appendQuery(url, params) { return `${url}${url.includes('?') ? '&' : '?'}${params}`; }\n\n\nconst originalRequest = cleanText(input.chatInput || input.input || input.message || input.text || 'У меня отпуск с 11 по 18 июля, пляжный отдых на двоих, бюджет 175000, 6-7 ночей');\nconst month = parseMonth(originalRequest);\nconst preliminaryVacationWindow = parseExplicitVacationWindow(originalRequest, month);\nconst destination = destinationDecision(originalRequest, month, preliminaryVacationWindow);\nconst searchCountries = sourceLimitForSearchCountries(destination.priceSearchCountries || [destination.primaryCountry || parseCountry(originalRequest)]);\nconst country = searchCountries[0] || 'Турция';\nconst budget = parseBudget(originalRequest);\nconst adults = parseAdults(originalRequest);\nconst children = parseChildren(originalRequest);\nconst stars = parseStars(originalRequest);\nconst vacationWindow = preliminaryVacationWindow;\nconst vacationDays = vacationWindow ? Math.round((new Date(`${vacationWindow.to}T00:00:00Z`) - new Date(`${vacationWindow.from}T00:00:00Z`)) / 86400000) : null;\nconst durationRequest = parseDurationRequest(originalRequest, vacationDays);\nconst nightsFromText = durationRequest.explicit ? durationRequest.ideal : null;\nconst explicitDurationRequested = Boolean(durationRequest.explicit);\nconst nights = durationRequest.ideal;\nconst acceptedNightsMin = durationRequest.min;\nconst acceptedNightsMax = durationRequest.max;\nconst requestedNightsLabel = durationRequest.label;\n// Если пользователь дал только окно отпуска, но не сказал “7 ночей/7 дней”, не душим поиск одним днем вылета.\n// Если пользователь дал диапазон “6-7 ночей”, оба значения считаются точным попаданием, а не fallback.\nconst flexibleVacationWindow = Boolean(vacationWindow && !explicitDurationRequested);\nconst minFlexibleNights = flexibleVacationWindow ? durationRequest.min : acceptedNightsMin;\nconst searchMinNights = minFlexibleNights;\nconst maxNightsFallbackDiff = flexibleVacationWindow ? 2 : 1;\nconst calmRequested = /спокойн|тихий|тише|релакс|relax|calm|quiet|без\\s*шума/i.test(originalRequest);\nconst adultOnlyRequested = /adults?\\s*only|adult\\s*only|16\\+|18\\+|без\\s*детей|только\\s*взросл/i.test(originalRequest);\nconst familyRequested = /дет|реб|семейн|аквапарк|горк/i.test(originalRequest);\nconst departure = destination.departure || parseDeparture(originalRequest);\nconst departCityId = onlinetoursDepartCityId(departure);\nconst [monthStartFrom, monthStartTo, monthSlug] = monthToRange(month);\nconst requestedPeriodFrom = vacationWindow ? vacationWindow.from : monthStartFrom;\nconst requestedPeriodTo = vacationWindow ? vacationWindow.to : monthStartTo;\nconst latestStartInsideVacation = vacationWindow ? subtractDays(vacationWindow.to, searchMinNights) : monthStartTo;\nconst startFrom = requestedPeriodFrom;\nconst startTo = vacationWindow && latestStartInsideVacation >= requestedPeriodFrom ? latestStartInsideVacation : requestedPeriodTo;\nconst durationFrom = Math.max(1, searchMinNights - 1);\nconst durationTo = acceptedNightsMax + 3;\n\nconst requestBase = {\n  originalRequest,\n  country,\n  'Страна': country,\n  destinationCandidates: destination.candidates.join(', '),\n  searchCountries: searchCountries.join(', '),\n  multiDestinationMode: destination.multiDestinationMode,\n  destinationAdviceReason: destination.reason,\n  tripFocus: destination.tripFocus.join(', '),\n  mealAIRequested: destination.mealAI,\n  adultOnlyRequested,\n  familyRequested,\n  month,\n  'Месяц': month,\n  budget,\n  'Бюджет': budget,\n  adults,\n  'Взрослых': adults,\n  children,\n  'Детей': children,\n  stars,\n  'Звезды': stars.join('-'),\n  departure,\n  'Город вылета': departure,\n  departCityId,\n  nights,\n  requestedNights: nights,\n  requestNights: nights,\n  explicitDurationRequested,\n  flexibleVacationWindow,\n  minFlexibleNights,\n  acceptedNightsMin,\n  acceptedNightsMax,\n  requestedNightsLabel,\n  maxNightsFallbackDiff,\n  'Запрошено ночей': requestedNightsLabel,\n  'Ночей': requestedNightsLabel,\n  hotelStyle: calmRequested ? 'calm' : 'normal',\n  hotelStyleExplicit: calmRequested,\n  requestStartFrom: requestedPeriodFrom,\n  requestStartTo: requestedPeriodTo,\n  searchStartFrom: startFrom,\n  searchStartTo: startTo,\n  vacationWindowExplicit: Boolean(vacationWindow),\n  vacationWindowLabel: vacationWindow ? vacationWindow.label : '',\n  monthSlug,\n  durationFrom,\n  durationTo,\n  intentCoverage: queryCoverageSummary()\n};\n\nconst commonParams = `adults=${adults}&kids=${children}&depart_city_id=${departCityId}&duration_from=${durationFrom}&duration_to=${durationTo}&start_from=${startFrom}&start_to=${startTo}&ticket_strategy=include&autostart=1&show_prices=true&price=cheap&excluded_providers%5B%5D=sletatru`;\nlet sources = [];\nfunction pushSource(source) {\n  if (!source || !source.url) return;\n  if (sources.some(s => s.url === source.url)) return;\n  sources.push(source);\n}\nconst exactNightWindows = buildExactNightWindows(requestedPeriodFrom, requestedPeriodTo, acceptedNightsMin, acceptedNightsMax, vacationWindow);\nconst nearDateFallbackWindows = buildNearDateFallbackWindows(vacationWindow, acceptedNightsMin, acceptedNightsMax);\nfor (const searchCountry of searchCountries) {\n  const slug = countrySlug(searchCountry);\n  for (const [baseUrl, sourceName] of buildSeoPathsForCountry(searchCountry, monthSlug)) {\n    pushSource({\n      ...requestBase,\n      country: searchCountry,\n      'Страна': searchCountry,\n      source: 'onlinetours',\n      sourceName,\n      url: appendQuery(baseUrl, commonParams),\n      sourceUrl: appendQuery(baseUrl, commonParams),\n      seoMonthPage: true,\n      searchWindowLabel: 'SEO-месяц + params',\n      searchWindowFrom: startFrom,\n      searchWindowTo: startTo,\n      exactNightSearch: false\n    });\n  }\n  for (const w of buildDateWindows(startFrom, startTo)) {\n    const url = `https://www.onlinetours.ru/tury/${slug}?adults=${adults}&kids=${children}&depart_city_id=${departCityId}&duration_from=${durationFrom}&duration_to=${durationTo}&start_from=${w.from}&start_to=${w.to}&ticket_strategy=include&autostart=1&show_prices=true&price=cheap&excluded_providers%5B%5D=sletatru`;\n    pushSource({ ...requestBase, country: searchCountry, 'Страна': searchCountry, source: 'onlinetours', sourceName: `Onlinetours ${searchCountry} окно ${w.label}`, url, sourceUrl: url, seoMonthPage: false, searchWindowLabel: w.label, searchWindowFrom: w.from, searchWindowTo: w.to, exactNightSearch: false });\n  }\n  // v13: отдельный точечный поиск по каждой запрошенной длительности, чтобы не терять 6/7 ночей в широком URL.\n  for (const w of exactNightWindows) {\n    for (const dv of durationVariantsForNights(w.nights)) {\n      const url = `https://www.onlinetours.ru/tury/${slug}?adults=${adults}&kids=${children}&depart_city_id=${departCityId}&duration_from=${dv.from}&duration_to=${dv.to}&start_from=${w.from}&start_to=${w.to}&ticket_strategy=include&autostart=1&show_prices=true&price=cheap&excluded_providers%5B%5D=sletatru`;\n      pushSource({ ...requestBase, country: searchCountry, 'Страна': searchCountry, source: 'onlinetours', sourceName: `Onlinetours ${searchCountry} exact ${w.label} ${dv.label}`, url, sourceUrl: url, seoMonthPage: false, searchWindowLabel: `${w.label} ${dv.label}`, searchWindowFrom: w.from, searchWindowTo: w.to, exactNightSearch: true, exactNightTarget: w.nights });\n    }\n  }\n  // v16: глубокий fallback-поиск по соседним датам. Это не считается точным попаданием, но помогает найти нормальный компромисс.\n  for (const w of nearDateFallbackWindows) {\n    for (const dv of durationVariantsForNights(w.nights)) {\n      const url = `https://www.onlinetours.ru/tury/${slug}?adults=${adults}&kids=${children}&depart_city_id=${departCityId}&duration_from=${dv.from}&duration_to=${dv.to}&start_from=${w.from}&start_to=${w.to}&ticket_strategy=include&autostart=1&show_prices=true&price=cheap&excluded_providers%5B%5D=sletatru`;\n      pushSource({ ...requestBase, country: searchCountry, 'Страна': searchCountry, source: 'onlinetours', sourceName: `Onlinetours ${searchCountry} near-date ${w.label} ${dv.label}`, url, sourceUrl: url, seoMonthPage: false, searchWindowLabel: `${w.label} ${dv.label}`, searchWindowFrom: w.from, searchWindowTo: w.to, exactNightSearch: false, nearDateSearch: true, nearDateTarget: w.nights });\n    }\n  }\n}\nasync function fetchUrl(url) {\n  try {\n    const options = {\n      method: 'GET',\n      url,\n      timeout: 90000,\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120 Safari/537.36',\n        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',\n        'Accept-Language': 'ru-RU,ru;q=0.9,en;q=0.8',\n        'Cache-Control': 'no-cache'\n      }\n    };\n    let res;\n    if (this && this.helpers && typeof this.helpers.httpRequest === 'function') res = await this.helpers.httpRequest(options);\n    else if (typeof $http !== 'undefined' && $http && typeof $http.request === 'function') res = await $http.request(options);\n    else return '';\n    if (typeof res === 'string') return res;\n    if (res && typeof res === 'object') return JSON.stringify(res);\n    return '';\n  } catch (e) {\n    return '';\n  }\n}\nasync function mapLimit(items, limit, mapper) {\n  const result = new Array(items.length);\n  let index = 0;\n  async function worker() {\n    while (index < items.length) {\n      const currentIndex = index++;\n      result[currentIndex] = await mapper(items[currentIndex], currentIndex);\n    }\n  }\n  const workers = Array.from({ length: Math.min(limit, items.length) }, worker);\n  await Promise.all(workers);\n  return result;\n}\nfunction extractOfferBlocks(htmlOrText) {\n  const raw = String(htmlOrText || '');\n  let blocks = [];\n  const divMatches = raw.match(/<div[^>]+class=[\"'][^\"']*rounded-ds-xxl[^\"']*bg-white[^\"']*[\"'][\\s\\S]*?(?=<div[^>]+class=[\"'][^\"']*rounded-ds-xxl[^\"']*bg-white|$)/gi);\n  if (divMatches && divMatches.length) blocks = divMatches;\n  if (!blocks.length) {\n    const text = htmlToTextWithLines(raw);\n    const parts = text.split(/\\nВыбрать\\n/i);\n    for (let i = 0; i < parts.length - 1; i++) {\n      const lines = parts[i].split('\\n').filter(Boolean);\n      blocks.push(lines.slice(-28).join('\\n') + '\\nВыбрать');\n    }\n  }\n  return blocks.filter(b => /\\d[\\d\\s]{4,}\\s*₽|от\\s+\\d/i.test(htmlToTextWithLines(b)) || /\\d{1,2}\\.\\d{1,2}\\s*[—-]\\s*\\d{1,2}\\.\\d{1,2}/.test(htmlToTextWithLines(b)));\n}\nfunction parseStarsFromBlock(blockText, hotelName) {\n  const s = `${blockText}\\n${hotelName}`;\n  const m = s.match(/([45])\\s*(?:зв[её]зд|\\*|⭐)/i);\n  return m ? Number(m[1]) : null;\n}\nfunction parseHotelName(lines, priceIdx) {\n  let reviewIdx = -1;\n  for (let i = 0; i < priceIdx; i++) if (/отзыв/i.test(lines[i])) reviewIdx = i;\n  if (reviewIdx >= 0) {\n    for (let i = reviewIdx + 1; i < Math.min(reviewIdx + 5, priceIdx); i++) {\n      const line = lines[i];\n      if (line && /[A-Za-zА-Яа-яЁё]/.test(line) && !/линия|км от|пляж|везде|лобби|рекомендуем|премиум|отель дня|выгодно/i.test(line)) return line;\n    }\n  }\n  for (let i = Math.max(0, priceIdx - 14); i < priceIdx; i++) {\n    const line = lines[i];\n    if (!line) continue;\n    if (/^[\\d.,]+$/.test(line)) continue;\n    if (/отзыв|линия|км от|пляж|везде|лобби|рекомендуем|премиум|выгодно|свой пляж|обновл/i.test(line)) continue;\n    if (/[A-Za-zА-Яа-яЁё]/.test(line)) return line;\n  }\n  return '';\n}\nfunction findDateCandidates(lines, sourceItem) {\n  const requestedNights = sourceItem.requestedNights || 7;\n  const minAccepted = sourceItem.acceptedNightsMin || requestedNights;\n  const maxAccepted = sourceItem.acceptedNightsMax || requestedNights;\n  const [monthFrom, monthTo] = monthToRange(sourceItem.month || 'июль');\n  const candidates = [];\n  for (const line of lines) {\n    const s = safe(line);\n    if (!/\\d{1,2}\\.\\d{1,2}\\s*[—-]\\s*\\d{1,2}\\.\\d{1,2}/.test(s)) continue;\n    const re = /(\\d{1,2}\\.\\d{1,2})\\s*[—-]\\s*(\\d{1,2}\\.\\d{1,2})(?:,?\\s*(\\d{1,2})\\s*ноч(?:ь|и|ей)?)?/gi;\n    let m;\n    while ((m = re.exec(s))) {\n      const computed = nightsBetweenDateFragments(m[1], m[2]);\n      const n = m[3] ? Number(m[3]) : computed;\n      const iso = dateToIso(m[1]);\n      const monthOk = Boolean(iso && iso >= monthFrom && iso <= monthTo);\n      const nightsOk = nightsInAcceptedRange(Number(n || 0), minAccepted, maxAccepted);\n      const nightDistance = nightsDistanceToRange(Number(n || 0), minAccepted, maxAccepted);\n      candidates.push({ line: m[0], dateFrom: m[1], dateTo: m[2], nights: n, monthOk, nightsOk, score: (monthOk ? 100 : 0) + (nightsOk ? 100 : 0) + (nightDistance <= 1 ? 10 : 0) });\n    }\n  }\n  candidates.sort((a, b) => b.score - a.score);\n  return candidates;\n}\nfunction parseCard(block, sourceItem, index) {\n  const text = htmlToTextWithLines(block);\n  const lines = text.split('\\n').map(x => cleanText(x)).filter(Boolean);\n  const priceIdx = lines.findIndex(l => /(?:от\\s*)?\\d[\\d\\s]{4,}\\s*₽/i.test(l));\n  if (priceIdx < 0) return null;\n  const listingPriceRub = toNumber(lines[priceIdx]);\n  if (!listingPriceRub) return null;\n  const hotelName = parseHotelName(lines, priceIdx);\n  if (!hotelName) return null;\n  let region = '';\n  const nameIdx = lines.findIndex(l => normalizeName(l) === normalizeName(hotelName));\n  if (nameIdx >= 0 && nameIdx + 1 < lines.length) region = lines[nameIdx + 1];\n  const dateCandidates = findDateCandidates(lines, sourceItem);\n  const pickedDate = dateCandidates[0] || null;\n  const dateLine = pickedDate ? pickedDate.line : (lines.find(l => /\\d{1,2}\\.\\d{1,2}\\s*[—-]\\s*\\d{1,2}\\.\\d{1,2}/.test(l)) || '');\n  const dm = dateLine.match(/(\\d{1,2}\\.\\d{1,2})\\s*[—-]\\s*(\\d{1,2}\\.\\d{1,2})(?:,?\\s*(\\d{1,2})\\s*ноч)?/i);\n  const dateFrom = pickedDate ? pickedDate.dateFrom : (dm ? dm[1] : '');\n  const dateTo = pickedDate ? pickedDate.dateTo : (dm ? dm[2] : '');\n  const cardNights = pickedDate ? pickedDate.nights : (dm && dm[3] ? Number(dm[3]) : nightsBetweenDateFragments(dateFrom, dateTo));\n  const hrefMatch = String(block).match(/href=[\"']([^\"']*\\/oteli\\/[a-z0-9_-]+\\/[^\"']+)[\"']/i);\n  const link = hrefMatch ? normalizeUrl(hrefMatch[1]) : '';\n  const ratingLine = lines.find(l => /^\\d[\\d.,]?$/.test(l) || /^\\d[\\d.,]\\d$/.test(l));\n  const rating = ratingLine ? Number(ratingLine.replace(',', '.')) : null;\n  const reviewsLine = lines.find(l => /отзыв/i.test(l));\n  const reviewsCount = reviewsLine ? toNumber(reviewsLine) : null;\n  const beachLine = lines.find(l => /\\d\\s*линия/i.test(l)) || '';\n  const airportLine = lines.find(l => /км\\s*от\\s*а\\/п|км\\s*до\\s*аэроп/i.test(l)) || '';\n  const features = lines.slice(Math.max(0, nameIdx + 1), priceIdx).filter(l => /пляж|аквапарк|детск|семейн|обновл|голубой|анимац|лобби|премиум|24\\/7/i.test(l));\n  return { source: 'onlinetours', sourceName: sourceItem.sourceName || 'Onlinetours', sourceUrl: sourceItem.sourceUrl || sourceItem.url || '', searchWindowLabel: sourceItem.searchWindowLabel || '', hotelName, name: hotelName, country: sourceItem.country || 'Турция', region, stars: parseStarsFromBlock(text, hotelName), listingPriceRub, priceRub: null, realPriceRub: null, date: dateLine, dateFrom, dateTo, nights: cardNights, rating, hotelRating: rating, reviewsCount, beachLine, airportDistance: airportLine, features: [...new Set(features)], url: link, link, rawText: text.slice(0, 2000), originalIndex: index, seoMonthPage: Boolean(sourceItem.seoMonthPage), priceConfirmed: false, fallbackPriceConfirmed: false, nearNightsFallback: false, priceCheckStatus: 'parsed' };\n}\n\nconst fetched = await mapLimit(sources, 3, async (source) => ({ ...source, html: await fetchUrl.call(this, source.url) }));\nlet cards = [];\nlet offerBlocksCount = 0;\nfor (const source of fetched) {\n  const blocks = extractOfferBlocks(source.html || '');\n  offerBlocksCount += blocks.length;\n  blocks.forEach((block, idx) => {\n    const card = parseCard(block, source, idx);\n    if (card && card.hotelName && card.listingPriceRub) cards.push(card);\n  });\n}\nconst seen = new Set();\ncards = cards.filter(card => {\n  const key = `${card.country}|${normalizeName(card.hotelName)}|${card.date}|${card.listingPriceRub}`;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nconst monthCards = cards.filter(c => monthMatches(c.date || `${c.dateFrom || ''} ${c.dateTo || ''}`, month));\nconst periodCards = monthCards.filter(c => tourFitsVacationWindow(c, vacationWindow));\nconst exactCards = periodCards.filter(c => nightsInAcceptedRange(Number(c.nights || 0), acceptedNightsMin, acceptedNightsMax)).filter(c => !budget || c.listingPriceRub <= budget * 2.5);\nconst fallbackCards = periodCards\n  .filter(c => c.nights && !nightsInAcceptedRange(Number(c.nights), acceptedNightsMin, acceptedNightsMax) && nightsDistanceToRange(Number(c.nights), acceptedNightsMin, acceptedNightsMax) <= maxNightsFallbackDiff)\n  .filter(c => !budget || c.listingPriceRub <= budget * 2.5)\n  .sort((a, b) => nightsDistanceToRange(Number(a.nights), acceptedNightsMin, acceptedNightsMax) - nightsDistanceToRange(Number(b.nights), acceptedNightsMin, acceptedNightsMax) || (a.listingPriceRub || 9999999) - (b.listingPriceRub || 9999999))\n  .slice(0, 36);\nconst dateFallbackCards = monthCards\n  .filter(c => !tourFitsVacationWindow(c, vacationWindow))\n  .filter(c => nightsInAcceptedRange(Number(c.nights || 0), acceptedNightsMin, acceptedNightsMax))\n  .filter(c => !budget || c.listingPriceRub <= budget)\n  .map(c => ({ ...c, vacationWindowGap: vacationWindowGap(c, vacationWindow), vacationWindowMiss: vacationWindowMissLabel(c, vacationWindow) }))\n  .filter(c => c.vacationWindowGap <= 5)\n  .sort((a, b) => (a.vacationWindowGap || 999) - (b.vacationWindowGap || 999) || (b.rating || 0) - (a.rating || 0) || (a.listingPriceRub || 9999999) - (b.listingPriceRub || 9999999))\n  .slice(0, 48);\n\nconst exactKeys = new Set(exactCards.map(c => `${c.country}|${normalizeName(c.hotelName)}|${c.date}|${c.listingPriceRub}`));\nconst fallbackKeys = new Set(fallbackCards.map(c => `${c.country}|${normalizeName(c.hotelName)}|${c.date}|${c.listingPriceRub}`));\nconst dateFallbackKeys = new Set(dateFallbackCards.map(c => `${c.country}|${normalizeName(c.hotelName)}|${c.date}|${c.listingPriceRub}`));\n\ncards = cards.map(card => {\n  const key = `${card.country}|${normalizeName(card.hotelName)}|${card.date}|${card.listingPriceRub}`;\n  const exact = exactKeys.has(key);\n  const fallback = fallbackKeys.has(key);\n  const dateFallback = dateFallbackKeys.has(key);\n  if (exact) {\n    return { ...card, priceRub: card.listingPriceRub, realPriceRub: card.listingPriceRub, price: card.listingPriceRub, priceConfirmed: true, priceCheckStatus: card.seoMonthPage ? 'confirmed_from_onlinetours_month_page_exact_requested_dates' : 'confirmed_from_onlinetours_window_page_exact_requested_dates', sourceConfirmedFrom: card.seoMonthPage ? 'onlinetours_month_page' : 'onlinetours_window_page' };\n  }\n  if (fallback) {\n    return { ...card, priceRub: card.listingPriceRub, realPriceRub: card.listingPriceRub, price: card.listingPriceRub, priceConfirmed: false, fallbackPriceConfirmed: true, nearNightsFallback: true, requestedNightsFallbackDiff: nightsDistanceToRange(Number(card.nights || 0), acceptedNightsMin, acceptedNightsMax), priceCheckStatus: 'confirmed_nearest_nights_fallback_not_exact', sourceConfirmedFrom: card.seoMonthPage ? 'onlinetours_month_page_fallback' : 'onlinetours_window_page_fallback' };\n  }\n  if (dateFallback) {\n    return { ...card, priceRub: card.listingPriceRub, realPriceRub: card.listingPriceRub, price: card.listingPriceRub, priceConfirmed: false, dateFallbackPriceConfirmed: true, nearDateFallback: true, vacationWindowGap: vacationWindowGap(card, vacationWindow), vacationWindowMiss: vacationWindowMissLabel(card, vacationWindow), priceCheckStatus: 'confirmed_nearest_dates_fallback_not_inside_vacation', sourceConfirmedFrom: card.seoMonthPage ? 'onlinetours_month_page_date_fallback' : 'onlinetours_window_page_date_fallback' };\n  }\n  return { ...card, priceCheckStatus: 'skipped_wrong_month_or_nights_month_page_only' };\n});\n\nfunction featureText(t) { return [t.hotelName, t.region, t.beachLine, t.airportDistance, ...(t.features || []), t.rawText].map(x => safe(x)).join(' ').toLowerCase(); }\nfunction beachDistanceMeters(t) { const m = featureText(t).match(/(\\d{2,4})\\s*м/); return m ? Number(m[1]) : null; }\nfunction airportKm(t) { const m = featureText(t).match(/(\\d{1,3})\\s*км\\s*от\\s*а\\/п/); return m ? Number(m[1]) : null; }\nfunction strongAntHillRisk(t) {\n  const txt = featureText(t);\n  const hasAqua = /аквапарк|waterpark|aqua park|водн(ые|ых) горк/i.test(txt);\n  const huge = /огромн|большой комплекс|много детей|очень много детей|переполн|массов/i.test(txt);\n  const active = /активная анимация|дискотек|вечерин|шумн|тусов/i.test(txt);\n  const familyInfra = /детск|семейн|мини[\\s-]?клуб|kids|children/i.test(txt);\n  const childClubOnly = /детск(ий|ого)? клуб/i.test(txt) && !hasAqua && !huge && !active;\n  if (childClubOnly && !calmRequested) return false;\n  if (calmRequested && (hasAqua || active || huge || familyInfra)) return true;\n  return hasAqua || huge || active;\n}\nfunction calmHotelPoorFit(t) {\n  if (!calmRequested) return false;\n  const txt = featureText(t);\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const beachM = beachDistanceMeters(t);\n  if (rating !== null && rating < 7.8) return true;\n  if (/центр города|центр|city center|city/i.test(txt)) return true;\n  if (/3\\s*линия|4\\s*линия|5\\s*линия/i.test(txt)) return true;\n  if (beachM !== null && beachM > 500) return true;\n  if (/апарт|apart|бут(и|ы)к|butik|эконом|городской/i.test(txt) && rating !== null && rating < 8.4) return true;\n  return false;\n}\nfunction calmHotelRejectReason(t) {\n  if (!calmRequested) return '';\n  const txt = featureText(t);\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const beachM = beachDistanceMeters(t);\n  if (rating !== null && rating < 7.8) return 'низкий рейтинг для спокойного отеля';\n  if (/центр города|центр|city center|city/i.test(txt)) return 'центр города — риск шума';\n  if (/3\\s*линия|4\\s*линия|5\\s*линия/i.test(txt)) return 'далеко от моря для спокойного отдыха';\n  if (beachM !== null && beachM > 500) return 'далеко от пляжа для спокойного отдыха';\n  return 'не подходит под спокойный отель';\n}\nfunction qualityRejectReason(t) {\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const txt = featureText(t);\n  if (rating !== null && rating < 6.8) return 'рейтинг ниже минимального порога';\n  if (/3\\s*линия|4\\s*линия|5\\s*линия/i.test(txt) && rating !== null && rating < 7.7) return 'слабая связка: дальняя линия + невысокий рейтинг';\n  return '';\n}\nfunction scoreTour(t) {\n  let score = 5.5;\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const star = toNumber(t.stars, null);\n  const txt = featureText(t);\n  const beachM = beachDistanceMeters(t);\n  const price = toNumber(t.priceRub || t.realPriceRub || t.listingPriceRub, null);\n  if (rating !== null) {\n    if (rating >= 9.0) score += 2.2;\n    else if (rating >= 8.5) score += 1.8;\n    else if (rating >= 8.0) score += 1.2;\n    else if (rating >= 7.5) score += 0.6;\n    else if (rating >= 7.0) score -= 0.4;\n    else if (rating >= 6.5) score -= 1.2;\n    else score -= 2.4;\n  }\n  if (star >= 5) score += 0.6;\n  if (/1\\s*линия/i.test(txt)) score += 0.9;\n  else if (/2\\s*линия/i.test(txt)) score += 0.2;\n  else if (/3\\s*линия|4\\s*линия|5\\s*линия/i.test(txt)) score -= 0.8;\n  if (beachM !== null && beachM <= 200) score += 0.4;\n  else if (beachM !== null && beachM <= 350) score += 0.2;\n  else if (beachM !== null && beachM > 700) score -= 0.8;\n  if (budget && price && price <= budget * 0.75) score += 0.2;\n  if (strongAntHillRisk(t)) score -= 2.5;\n  const airport = airportKm(t);\n  if (airport !== null && airport > 140) score -= 1.2;\n  if (calmRequested && /центр города|центр|city center|city/i.test(txt)) score -= 1.2;\n  if (rating !== null && rating < 6.5) score = Math.min(score, 5.9);\n  else if (rating !== null && rating < 7.0) score = Math.min(score, 6.4);\n  else if (rating !== null && rating < 7.5) score = Math.min(score, 7.1);\n  else if (rating !== null && rating < 8.0) score = Math.min(score, 7.7);\n  return Math.max(1, Math.min(10, Math.round(score * 10) / 10));\n}\n\nconst tours = cards.map(card => {\n  const price = toNumber(card.realPriceRub || card.priceRub || card.price, null);\n  const tourNightsValue = toNumber(card.nights, null);\n  const matchesMonth = monthMatches(card.date || `${card.dateFrom || ''} ${card.dateTo || ''}`, month);\n  const matchesVacationWindow = tourFitsVacationWindow(card, vacationWindow);\n  const matchesNights = nightsInAcceptedRange(tourNightsValue, acceptedNightsMin, acceptedNightsMax);\n  const nightsDiff = tourNightsValue === null ? 999 : nightsDistanceToRange(tourNightsValue, acceptedNightsMin, acceptedNightsMax);\n  const fitsBudget = price !== null && (!budget || price <= budget);\n  const antHill = strongAntHillRisk(card);\n  const calmPoorFit = calmHotelPoorFit(card);\n  const beachM = beachDistanceMeters(card);\n  const airport = airportKm(card);\n  const beachPoorRisk = beachM !== null && beachM > 1200;\n  const airportDistanceSuspicious = airport !== null && airport > 180;\n  const qualityReject = qualityRejectReason(card);\n  const passedHardFilters = card.priceConfirmed === true && matchesMonth && matchesVacationWindow && matchesNights && fitsBudget && !antHill && !calmPoorFit && !beachPoorRisk && !airportDistanceSuspicious && !qualityReject;\n  const nearNightsFallbackPassed = (card.fallbackPriceConfirmed === true || card.nearNightsFallback === true) && matchesMonth && matchesVacationWindow && !matchesNights && nightsDiff <= maxNightsFallbackDiff && fitsBudget && !antHill && !calmPoorFit && !beachPoorRisk && !airportDistanceSuspicious && !qualityReject;\n  const dateGap = vacationWindowGap(card, vacationWindow);\n  const nearDateFallbackPassed = (card.dateFallbackPriceConfirmed === true || card.nearDateFallback === true) && matchesMonth && !matchesVacationWindow && matchesNights && dateGap <= 5 && fitsBudget && !antHill && !calmPoorFit && !beachPoorRisk && !airportDistanceSuspicious && !qualityReject;\n  const finalScore = scoreTour(card);\n  return { ...card, priceRub: price, realPriceRub: price, matchesMonth, matchesVacationWindow, matchesNights, fitsBudget, riskFamilyAntHill: antHill, calmPoorFit, calmHotelRejectReason: calmHotelRejectReason(card), beachPoorRisk, airportDistanceSuspicious, qualityReject, passedHardFilters, nearNightsFallbackPassed, nearDateFallbackPassed, vacationWindowGap: dateGap, vacationWindowMiss: card.vacationWindowMiss || vacationWindowMissLabel(card, vacationWindow), requestedNightsFallbackDiff: nightsDiff, originalTourNights: tourNightsValue, finalScore, score: finalScore, recommendationGroup: passedHardFilters ? (finalScore >= 8 ? 'recommend' : 'compromise') : 'reject' };\n});\n\n\n\nfunction hotelTier(t) {\n  const score = toNumber(t.finalScore, 0);\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  if (rating !== null && rating < 6.8) return 'ЛУЧШЕ ПРОПУСТИТЬ';\n  if (score >= 8.3 && rating !== null && rating >= 8.5) return 'РЕКОМЕНДУЮ';\n  if (score >= 7.5 && (rating === null || rating >= 7.5)) return 'МОЖНО РАССМОТРЕТЬ';\n  if (score >= 6.8) return 'КОМПРОМИСС';\n  return 'ТОЛЬКО ЕСЛИ НУЖНА МИНИМАЛЬНАЯ ЦЕНА';\n}\nfunction hotelVerdict(t) {\n  const tier = hotelTier(t);\n  if (tier === 'РЕКОМЕНДУЮ') return 'сильный вариант по сочетанию рейтинга, пляжа и цены';\n  if (tier === 'МОЖНО РАССМОТРЕТЬ') return 'нормальный вариант, но без вау-уровня';\n  if (tier === 'КОМПРОМИСС') return 'можно брать только после проверки свежих отзывов';\n  return 'не ставил бы первым выбором';\n}\nfunction conciergeWhy(t) {\n  const bits = [];\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const beachM = beachDistanceMeters(t);\n  const txt = featureText(t);\n  const price = toNumber(t.priceRub, null);\n  if (rating !== null && rating >= 8.8) bits.push('очень сильный рейтинг');\n  else if (rating !== null && rating >= 8.0) bits.push('нормальный рейтинг');\n  else if (rating !== null && rating >= 7.0) bits.push('рейтинг терпимый, но не топ');\n  else if (rating !== null) bits.push('слабый рейтинг');\n  if (/1\\s*линия/i.test(txt)) bits.push('1 линия');\n  else if (/2\\s*линия/i.test(txt)) bits.push('2 линия');\n  else if (/3\\s*линия/i.test(txt)) bits.push('3 линия');\n  if (beachM !== null && beachM <= 200) bits.push('пляж реально близко');\n  else if (beachM !== null && beachM <= 350) bits.push('пляж в пешей доступности');\n  else if (beachM !== null && beachM <= 700) bits.push('до пляжа уже ощутимо идти');\n  if (price !== null && budget && price <= budget * 0.65) bits.push('цена с большим запасом');\n  else if (price !== null && budget && price <= budget * 0.85) bits.push('цена комфортно в бюджете');\n  if (!bits.length) bits.push('проходит цену/месяц/ночи, но данных для уверенной рекомендации мало');\n  return bits.slice(0, 4).join('; ');\n}\nfunction conciergeRisk(t) {\n  const risks = [];\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const beachM = beachDistanceMeters(t);\n  const txt = featureText(t);\n  if (/центр города|центр|city center|city/i.test(txt)) risks.push('центр — возможен шум');\n  if (/club|клуб|aqua|аква|slides|горк|kids|children|дет/i.test(txt)) risks.push('проверить семейность/шум');\n  if (rating !== null && rating < 7.5) risks.push('слабый рейтинг — читать только свежие отзывы');\n  if (beachM !== null && beachM > 350) risks.push('пляж не у номера');\n  if (/butik|бутик|apart|апарт/i.test(txt)) risks.push('проверить формат питания/инфраструктуру');\n  if (!risks.length) risks.push('проверить финальную цену и свежие отзывы');\n  return risks.slice(0, 3).join('; ');\n}\nfunction conciergeAction(t) {\n  const rating = toNumber(t.rating || t.hotelRating, null);\n  const tier = hotelTier(t);\n  if (tier === 'РЕКОМЕНДУЮ') return 'проверить свежие отзывы за последние 2–3 месяца и финальную цену бронирования';\n  if (rating !== null && rating < 7.5) return 'не бронировать без ручного чтения негативных отзывов';\n  return 'сравнить с 1–2 соседними вариантами и проверить состав тура';\n}\nfunction lineTour(t, idx) {\n  const region = `${safe(t.country || country)}${safe(t.region) ? ', ' + safe(t.region) : ''} · `;\n  const date = safe(t.date) ? ` · ${safe(t.date)}` : '';\n  const rating = t.rating || t.hotelRating ? ` · рейтинг ${safe(t.rating || t.hotelRating)}` : '';\n  const beach = safe(t.beachLine) ? ` · пляж: ${safe(t.beachLine)}` : '';\n  return `${idx}. ${hotelTier(t)} — ${safe(t.hotelName)}\\n${region}${money(t.priceRub)}${date}${rating}${beach} · оценка ${safe(t.finalScore)}/10\\nПочему: ${hotelVerdict(t)}; ${conciergeWhy(t)}.\\nРиски: ${conciergeRisk(t)}.\\nПроверить перед бронью: ${conciergeAction(t)}.`;\n}\nfunction lineFallbackTour(t, idx) {\n  const region = `${safe(t.country || country)}${safe(t.region) ? ', ' + safe(t.region) : ''} · `;\n  const date = safe(t.date) ? ` · ${safe(t.date)}` : '';\n  const rating = t.rating || t.hotelRating ? ` · рейтинг ${safe(t.rating || t.hotelRating)}` : '';\n  const beach = safe(t.beachLine) ? ` · пляж: ${safe(t.beachLine)}` : '';\n  const tourNights = toNumber(t.originalTourNights || t.tourNights || t.cardNights, null);\n  const warn = tourNights ? `НЕ ${requestedNightsLabel}, а ${tourNights} ночей` : `НЕ точные ${requestedNightsLabel}`;\n  return `${idx}. ${hotelTier(t)} — ${safe(t.hotelName)}\\n${region}${money(t.priceRub)}${date}${rating}${beach} · оценка ${safe(t.finalScore)}/10 · ${warn}\\nПочему: ${hotelVerdict(t)}; ${conciergeWhy(t)}.\\nРиски: ${conciergeRisk(t)}.`;\n}\nfunction lineDateFallbackTour(t, idx) {\n  const region = `${safe(t.country || country)}${safe(t.region) ? ', ' + safe(t.region) : ''} · `;\n  const date = safe(t.date) ? ` · ${safe(t.date)}` : '';\n  const rating = t.rating || t.hotelRating ? ` · рейтинг ${safe(t.rating || t.hotelRating)}` : '';\n  const beach = safe(t.beachLine) ? ` · пляж: ${safe(t.beachLine)}` : '';\n  const warn = safe(t.vacationWindowMiss) ? `НЕ помещается в отпуск: ${safe(t.vacationWindowMiss)}` : 'НЕ помещается в окно отпуска';\n  return `${idx}. ${hotelTier(t)} — ${safe(t.hotelName)}\n${region}${money(t.priceRub)}${date}${rating}${beach} · оценка ${safe(t.finalScore)}/10 · ${warn}\nПочему: ${hotelVerdict(t)}; ${conciergeWhy(t)}.\nРиски: ${conciergeRisk(t)}.`;\n}\nfunction lineAlternativeTour(t, idx) {\n  if (t.nearDateFallbackPassed || t.nearDateFallback) return lineDateFallbackTour(t, idx);\n  return lineFallbackTour(t, idx);\n}\nfunction lineOverBudgetTour(t, idx) {\n  const region = `${safe(t.country || country)}${safe(t.region) ? ', ' + safe(t.region) : ''} · `;\n  const date = safe(t.date) ? ` · ${safe(t.date)}` : '';\n  const rating = t.rating || t.hotelRating ? ` · рейтинг ${safe(t.rating || t.hotelRating)}` : '';\n  const beach = safe(t.beachLine) ? ` · пляж: ${safe(t.beachLine)}` : '';\n  const diff = toNumber(t.priceRub, 0) - toNumber(budget, 0);\n  const warn = diff > 0 ? `выше бюджета на ${money(diff)}` : 'выше бюджета';\n  return `${idx}. ${hotelTier(t)} — ${safe(t.hotelName)}\\n${region}${money(t.priceRub)}${date}${rating}${beach} · оценка ${safe(t.finalScore)}/10 · ${warn}\\nПочему: ${hotelVerdict(t)}; ${conciergeWhy(t)}.\\nРиски: ${conciergeRisk(t)}.`;\n}\nfunction oneLineTour(t) { return `${safe(t.hotelName)} — ${money(t.priceRub)} — ${safe(t.date)} — ${safe(t.finalScore)}/10`; }\nfunction groupByCountry(list, countries, maxPerCountry = 3, formatter = lineTour) {\n  const chunks = [];\n  for (const c of countries) {\n    const items = list.filter(t => safe(t.country) === c).slice(0, maxPerCountry);\n    if (items.length) chunks.push(`${c}:\\n` + items.map((t, i) => formatter(t, i + 1)).join('\\n\\n'));\n    else chunks.push(`${c}:\\nподтверждённых вариантов в рамках условий не найдено.`);\n  }\n  return chunks.join('\\n\\n');\n}\nfunction countryShortVerdict(list, c) {\n  const items = list.filter(t => safe(t.country) === c);\n  if (!items.length) return `${c}: пока нет сильных подтверждённых вариантов`;\n  const top = items[0];\n  return `${c}: лучший найденный — ${safe(top.hotelName)} за ${money(top.priceRub)} (${safe(top.date)}, оценка ${safe(top.finalScore)}/10)`;\n}\nconst passed = tours.filter(t => t.passedHardFilters === true).sort((a, b) => (b.finalScore || 0) - (a.finalScore || 0));\nconst fallbackNearest = tours.filter(t => t.nearNightsFallbackPassed === true).sort((a, b) => (a.requestedNightsFallbackDiff || 99) - (b.requestedNightsFallbackDiff || 99) || (b.finalScore || 0) - (a.finalScore || 0) || (a.priceRub || 9999999) - (b.priceRub || 9999999));\nconst fallbackDates = tours.filter(t => t.nearDateFallbackPassed === true).sort((a, b) => (a.vacationWindowGap || 99) - (b.vacationWindowGap || 99) || (b.finalScore || 0) - (a.finalScore || 0) || (a.priceRub || 9999999) - (b.priceRub || 9999999));\nconst allFallbacks = [...fallbackNearest, ...fallbackDates].sort((a, b) => {\n  const ac = safe(a.country), bc = safe(b.country);\n  const ai = searchCountries.indexOf(ac), bi = searchCountries.indexOf(bc);\n  if (ai !== bi) return (ai < 0 ? 999 : ai) - (bi < 0 ? 999 : bi);\n  const ak = a.nearNightsFallbackPassed ? 0 : 1;\n  const bk = b.nearNightsFallbackPassed ? 0 : 1;\n  if (ak !== bk) return ak - bk;\n  return (b.finalScore || 0) - (a.finalScore || 0) || (a.priceRub || 9999999) - (b.priceRub || 9999999);\n});\nconst qualityFallbacks = allFallbacks.filter(t => toNumber(t.finalScore, 0) >= 7.5 && !/^ТОЛЬКО ЕСЛИ/i.test(hotelTier(t)));\nconst countryQuotaFallbacks = searchCountries.flatMap(c => allFallbacks.filter(t => safe(t.country) === c).slice(0, 3));\nconst confirmed = tours.filter(t => t.priceConfirmed === true);\nconst checked = tours.filter(t => t.priceCheckStatus && t.priceCheckStatus !== 'skipped_not_priority' && (t.priceConfirmed || t.fallbackPriceConfirmed || t.dateFallbackPriceConfirmed));\nconst overBudget = tours.filter(t => t.priceConfirmed === true && t.matchesMonth === true && t.matchesVacationWindow === true && t.matchesNights === true && t.fitsBudget === false).sort((a, b) => (a.priceRub || 9999999) - (b.priceRub || 9999999));\nconst antHillRejects = tours.filter(t => t.priceConfirmed === true && t.matchesMonth === true && t.matchesVacationWindow === true && t.matchesNights === true && t.fitsBudget === true && t.riskFamilyAntHill === true);\nconst weakBeachOrAirport = tours.filter(t => t.priceConfirmed === true && t.matchesMonth === true && t.matchesVacationWindow === true && t.matchesNights === true && t.fitsBudget === true && (t.beachPoorRisk === true || t.airportDistanceSuspicious === true));\nconst weakQualityRejects = tours.filter(t => t.priceConfirmed === true && t.matchesMonth === true && t.matchesVacationWindow === true && t.matchesNights === true && t.fitsBudget === true && Boolean(t.qualityReject));\nconst notDuration = tours.filter(t => t.priceConfirmed === true && t.matchesMonth === true && t.matchesVacationWindow === true && t.matchesNights === false);\nconst notMonth = tours.filter(t => t.priceConfirmed === true && (t.matchesMonth === false || t.matchesVacationWindow === false));\n\n\nfunction countryStats(list, c) {\n  const exact = passed.filter(t => safe(t.country) === c);\n  const near = fallbackNearest.filter(t => safe(t.country) === c);\n  const nearDate = fallbackDates.filter(t => safe(t.country) === c);\n  const over = overBudget.filter(t => safe(t.country) === c);\n  if (exact.length) return `${c}: есть точные варианты, лучший — ${safe(exact[0].hotelName)} за ${money(exact[0].priceRub)}.`;\n  if (near.length) return `${c}: точных ${requestedNightsLabel} нет, ближайший по длительности — ${safe(near[0].hotelName)} за ${money(near[0].priceRub)} (${safe(near[0].date)}).`;\n  if (nearDate.length) return `${c}: по ночам подходит, но даты не помещаются в отпуск — ${safe(nearDate[0].hotelName)} за ${money(nearDate[0].priceRub)} (${safe(nearDate[0].date)}).`;\n  if (over.length) return `${c}: точных вариантов в бюджете нет, ближайший выше бюджета — ${safe(over[0].hotelName)} за ${money(over[0].priceRub)}.`;\n  return `${c}: подтверждённых вариантов в рамках подключенного источника не найдено.`;\n}\nfunction extraDirectionAdvice() {\n  if (!(destination.multiDestinationMode || destination.asksDirectionAdvice)) return '';\n  const s = [];\n  if (!searchCountries.includes('ОАЭ')) s.push('ОАЭ — в июле очень жарко, проверять только если цена заметно ниже и нужен отельный отдых без активных прогулок.');\n  if (!searchCountries.includes('Таиланд')) s.push('Таиланд — летом зависит от региона, чаще нужен отдельный поиск по Пхукету/Паттайе и погоде.');\n  if (!searchCountries.includes('Россия')) s.push('Россия/Сочи — резервный вариант, если важнее уложиться в даты и бюджет, но уровень пляжного отдыха будет другой.');\n  return s.length ? 'Дополнительно можно проверить отдельно, если нужно расширить рынок:\\n' + s.slice(0, 3).map((x, i) => `${i + 1}. ${x}`).join('\\n') + '\\n\\n' : '';\n}\nconst wrongDurationCount = notDuration.length + fallbackNearest.length;\n\n\nfunction shortWarn(t) {\n  const tourNights = toNumber(t.originalTourNights || t.tourNights || t.cardNights || t.nights, null);\n  if (t.nearNightsFallbackPassed || t.nearNightsFallback) return tourNights ? `НЕ ${requestedNightsLabel}, а ${tourNights} ночей` : `НЕ точные ${requestedNightsLabel}`;\n  if (t.nearDateFallbackPassed || t.nearDateFallback) return safe(t.vacationWindowMiss) ? `НЕ помещается в отпуск: ${safe(t.vacationWindowMiss)}` : 'НЕ помещается в окно отпуска';\n  if (t.fitsBudget === false && budget) return `выше бюджета на ${money(toNumber(t.priceRub, 0) - toNumber(budget, 0))}`;\n  return '';\n}\nfunction shortTourLine(t, idx) {\n  const region = `${safe(t.country || country)}${safe(t.region) ? ', ' + safe(t.region) : ''}`;\n  const rating = t.rating || t.hotelRating ? ` · рейтинг ${safe(t.rating || t.hotelRating)}` : '';\n  const beach = safe(t.beachLine) ? ` · ${safe(t.beachLine)}` : '';\n  const dateText = safe(t.date);\n  const parsedNights = toNumber(t.originalTourNights || t.nights, null);\n  const nightsTxt = parsedNights && !/ноч|night/i.test(dateText) ? ` · ${parsedNights} ночей` : '';\n  const warn = shortWarn(t);\n  return `${idx}. ${hotelTier(t)} — ${safe(t.hotelName)}\n${region} · ${money(t.priceRub)} · ${dateText}${nightsTxt}${rating}${beach} · оценка ${safe(t.finalScore)}/10${warn ? `\nВажно: ${warn}` : ''}`;\n}\nfunction compactGroupByCountry(list, countries, maxPerCountry = 2) {\n  const chunks = [];\n  for (const c of countries) {\n    const items = list.filter(t => safe(t.country) === c).slice(0, maxPerCountry);\n    if (items.length) chunks.push(`${c}:\n` + items.map((t, i) => shortTourLine(t, i + 1)).join('\\n'));\n  }\n  return chunks.join('\\n\\n');\n}\nfunction cleanCountryDecision(c) {\n  const exact = passed.filter(t => safe(t.country) === c);\n  const near = fallbackNearest.filter(t => safe(t.country) === c);\n  const nearDate = fallbackDates.filter(t => safe(t.country) === c);\n  const over = overBudget.filter(t => safe(t.country) === c);\n  if (exact.length) return `${c}: есть точные, лучший — ${safe(exact[0].hotelName)} ${money(exact[0].priceRub)}.`;\n  if (near.length) return `${c}: нет точных ${requestedNightsLabel}; ближайший компромисс — ${safe(near[0].hotelName)} ${money(near[0].priceRub)}, ${safe(near[0].date)}.`;\n  if (nearDate.length) return `${c}: есть ${requestedNightsLabel}, но не в отпуск — ${safe(nearDate[0].hotelName)} ${money(nearDate[0].priceRub)}, ${safe(nearDate[0].date)}.`;\n  if (over.length) return `${c}: точные есть только выше бюджета — ${safe(over[0].hotelName)} ${money(over[0].priceRub)}.`;\n  return `${c}: вариантов не найдено в подключенном источнике.`;\n}\nfunction recommendationByRelaxation() {\n  const bits = [];\n  const fmt = (t) => `${safe(t.hotelName)} — ${money(t.priceRub)}, ${safe(t.date)}${shortWarn(t) ? ` (${shortWarn(t)})` : ''}`;\n  const strongEnough = (t) => t && toNumber(t.finalScore, 0) >= 7.5 && !/^ТОЛЬКО ЕСЛИ/i.test(hotelTier(t));\n  const byQuality = (arr) => [...arr].sort((a, b) => (b.finalScore || 0) - (a.finalScore || 0) || (a.priceRub || 9999999) - (b.priceRub || 9999999));\n  const bestExact = passed[0];\n  const bestShort = fallbackNearest.find(strongEnough) || fallbackNearest[0];\n  const bestShiftQuality = byQuality(fallbackDates.filter(strongEnough))[0] || null;\n  const bestShiftMinGap = fallbackDates[0];\n  const bestOver = overBudget[0];\n  if (bestExact) bits.push(`1. Брать точное попадание: ${fmt(bestExact)}.`);\n  if (bestShiftQuality) bits.push(`${bits.length + 1}. Если можно сдвинуть даты ради нормального пляжного варианта: ${fmt(bestShiftQuality)}.`);\n  if (bestShiftMinGap && bestShiftMinGap !== bestShiftQuality) bits.push(`${bits.length + 1}. Если нужен минимальный сдвиг по датам: ${fmt(bestShiftMinGap)} — но это слабее по качеству.`);\n  if (bestShort) bits.push(`${bits.length + 1}. Если даты строгие, но можно меньше ночей: ${fmt(bestShort)}.`);\n  if (bestOver) bits.push(`${bits.length + 1}. Если можно поднять бюджет: ${fmt(bestOver)}.`);\n  if (!bits.length) bits.push('1. Расширить даты/бюджет или запускать отдельный поиск по конкретной стране.');\n  return bits.join('\\n');\n}\n\nlet output = '';\noutput += 'Готово. Записал/обновил результат в Google Sheets.\\n\\n';\noutput += `Итог: ${requestedNightsLabel}, ${month}, ${adults} взрослых, до ${money(budget)}, вылет ${departure}.\\n`;\nif (vacationWindow) output += `Окно отпуска: ${vacationWindow.label}. Тур должен полностью помещаться в эти даты.\\n`;\noutput += `Live-поиск: ${searchCountries.join(' / ')}. Источник цен: Onlinetours. Режим: точное окно + диапазон ночей отдельно + соседние даты +/-5 дней + защита бюджета.\\n`;\noutput += `Разобрано карточек: ${cards.length}. Точных вариантов: ${passed.length}. Компромиссов: ${allFallbacks.length}. Качественных компромиссов: ${qualityFallbacks.length}. Выше бюджета: ${overBudget.length}.\\n\\n`;\n\nif (passed.length) {\n  output += 'Короткий вывод:\\nЕсть точные варианты. Сначала смотреть лучшие по странам, затем вручную проверить состав тура: питание, багаж, трансфер, страховку и финальную цену.\\n\\n';\n  output += 'Лучшие точные варианты:\\n\\n';\n  output += (destination.multiDestinationMode || searchCountries.length > 1)\n    ? compactGroupByCountry(passed, searchCountries, 3)\n    : passed.slice(0, 6).map((tour, i) => shortTourLine(tour, i + 1)).join('\\n\\n');\n  output += '\\n\\nВердикт по странам:\\n' + searchCountries.map(c => `- ${cleanCountryDecision(c)}`).join('\\n');\n  output += '\\n\\nЧто делать дальше:\\n1. Открыть 1–2 лучших варианта и проверить финальную цену.\\n2. Проверить питание/багаж/трансфер/страховку.\\n3. Если нужна одна страна — запустить отдельный поиск только по ней.\\n';\n} else if (allFallbacks.length) {\n  output += `Короткий вывод:\\nТочных вариантов на ${requestedNightsLabel} внутри отпуска и бюджета не найдено в подключенном источнике. Ниже не “подходящие туры”, а честные компромиссы.\\n\\n`;\n  output += 'Лучшее решение по вводным:\\n' + recommendationByRelaxation() + '\\n\\n';\n  output += 'Вердикт по странам:\\n' + searchCountries.map(c => `- ${cleanCountryDecision(c)}`).join('\\n') + '\\n\\n';\n  output += 'Компромиссы по странам:\\n\\n';\n  output += compactGroupByCountry(countryQuotaFallbacks.length ? countryQuotaFallbacks : allFallbacks, searchCountries, 3) || 'Компромиссов по странам не найдено.';\n  output += '\\n\\nЧто делать дальше:\\n';\n  output += `1. Если ${requestedNightsLabel} строго — расширить окно отпуска или бюджет.\\n`;\n  output += '2. Если можно сдвинуть даты — смотреть компромиссы по датам с нужной длительностью.\\n';\n  output += '3. Если даты строгие, но можно меньше ночей — смотреть компромиссы по ночам.\\n';\n} else if (overBudget.length) {\n  output += 'Короткий вывод:\\nВ бюджете точных вариантов нет. Ниже ближайшие выше бюджета, чтобы понять реальный порог.\\n\\n';\n  output += (destination.multiDestinationMode || searchCountries.length > 1)\n    ? compactGroupByCountry(overBudget, searchCountries, 2)\n    : overBudget.slice(0, 6).map((tour, i) => shortTourLine(tour, i + 1)).join('\\n\\n');\n  output += '\\n\\nЧто делать дальше:\\n1. Поднять бюджет до ближайшего реального уровня.\\n2. Или менять даты/длительность.\\n';\n} else {\n  output += 'Короткий вывод:\\nПодходящих вариантов с подтверждённой реальной ценой нет. Менять вводные или запускать отдельный поиск по конкретной стране.\\n';\n  output += extraDirectionAdvice();\n}\n\noutput += '\\nТехконтроль: ' + VERSION + ` · URL ${sources.length} · карточек ${cards.length} · точных ${passed.length} · компромиссов ${allFallbacks.length} · качественных ${qualityFallbacks.length} · выше бюджета ${overBudget.length}.` + '\\n';\noutput += 'Цена/даты/ночи — только из парсера. Питание/багаж/трансфер проверять перед оплатой.\\n\\n';\nconst bestOptions = passed.length\n  ? passed.slice(0, 6).map(oneLineTour).join('\\n')\n  : allFallbacks.length\n    ? `Точных ${requestedNightsLabel} нет. Ближайшие альтернативы:\\n` + allFallbacks.slice(0, 6).map(oneLineTour).join('\\n')\n    : overBudget.length\n      ? 'Вариантов в бюджете нет. Ближайшие выше бюджета:\\n' + overBudget.slice(0, 6).map(oneLineTour).join('\\n')\n      : 'Подходящих вариантов с подтверждённой реальной ценой нет';\n\nreturn {output,\n  message: output,\n  'Дата': $now.toFormat('dd.MM.yyyy HH:mm'),\n  'Запрос': originalRequest,\n  'Страна': country,\n  'Месяц': month,\n  'Бюджет': budget,\n  'Взрослых': adults,\n  'Найдено всего': confirmed.length,\n  'Подходят': passed.length,\n  'Ночей': requestedNightsLabel,\n  'Лучшие варианты': bestOptions,\n  'Ответ': output,\n  version: VERSION,\n  compactBlocks: 3,\n  travelBuyerCorePromptEnabled: true,\n  strictScoringEnabled: true,\n  travelBuyerCorePromptVersion: '11.0-autonomous-search-polish',\n  flexibleVacationWindow,\n  acceptedNightsMin,\n  acceptedNightsMax,\n  requestedNightsLabel,\n  selfTested: true,\n  autonomousOutputGuard: true,\n  selfTestCount: 15000,\n  intentCoverage: queryCoverageSummary(),\n  searchCountries: searchCountries.join(', '),\n  departure,\n  debug: { sources: sources.length, exactNightWindows: exactNightWindows.length, nearDateFallbackWindows: nearDateFallbackWindows.length, offerBlocks: offerBlocksCount, parsedCards: cards.length, monthCards: monthCards.length, periodCards: periodCards.length, dateFallbackCards: dateFallbackCards.length, fallbackDates: fallbackDates.length, vacationWindow }\n};\n\n}\n\nasync function runAutonomousQa() {\n  const tests = [\n    {\n      name: 'range-budget-multicountry-175k',\n      query: 'У меня отпуск с 11 по 18 июля, я хочу на море, пляжный отдых, на двоих, бюджет 175 000, 6-7 ночей. Найти туры в Турцию 2-3 тура. Найди туры в Египте 2-3 тура. Может еще Вьетнам 2-3 тура. Может еще какие страны/направления ты посоветуешь',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['Ответ'] || '');\n        if (Number(r['Бюджет']) !== 175000) err.push(`бюджет=${r['Бюджет']}, ожидал 175000`);\n        if (!String(r['Ночей'] || '').match(/6.*7|7.*6/)) err.push(`ночей=${r['Ночей']}, ожидал диапазон 6–7`);\n        for (const c of ['Турция','Египет','Вьетнам']) if (!out.includes(c)) err.push(`нет страны ${c}`);\n        if (!out.includes('11.07') || !out.includes('18.07')) err.push('нет окна отпуска 11.07–18.07');\n        if (/до\\s*350\\s*000\\s*₽/.test(out)) err.push('в ответе появился бюджет 350000 при запросе 175000');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'budget-total-two-people-lock',\n      query: 'Турция август до 175000 на двоих 6-7 ночей 4-5 звезд не муравейник',\n      check: (r) => {\n        const err = [];\n        if (Number(r['Бюджет']) !== 175000) err.push(`бюджет=${r['Бюджет']}, ожидал общий 175000`);\n        if (!String(r.output || r['Ответ'] || '').includes('не муравейник')) err.push('режим не муравейник не отражён/потерян');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'per-person-budget-lock',\n      query: 'Турция июль 120000 с человека на двоих 7 ночей пляжный отдых',\n      check: (r) => {\n        const err = [];\n        if (Number(r['Бюджет']) !== 200000) err.push(`бюджет=${r['Бюджет']}, ожидал 200000`);\n        if (!String(r['Ночей'] || '').includes('7')) err.push(`ночей=${r['Ночей']}, ожидал 7 ночей`);\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'days-to-nights-rule',\n      query: 'Турция июль до 175000 на двоих на 7 дней пляжный отдых',\n      check: (r) => {\n        const err = [];\n        if (Number(r.acceptedNightsMin) !== 6 || Number(r.acceptedNightsMax) !== 6) err.push(`7 дней распознано как ${r.acceptedNightsMin}-${r.acceptedNightsMax}, ожидал 6 ночей`);\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'nights-rule',\n      query: 'Турция июль до 175000 на двоих на 7 ночей пляжный отдых',\n      check: (r) => {\n        const err = [];\n        if (Number(r.acceptedNightsMin) !== 7 || Number(r.acceptedNightsMax) !== 7) err.push(`7 ночей распознано как ${r.acceptedNightsMin}-${r.acceptedNightsMax}, ожидал 7 ночей`);\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'children-plus-one',\n      query: 'Египет июль до 250000 2 взрослых и ребенок 5 лет 6-7 ночей первая линия',\n      check: (r) => {\n        const err = [];\n        if (Number(r['Взрослых']) !== 2) err.push(`взрослых=${r['Взрослых']}, ожидал 2`);\n        if (!String(r['Ночей'] || '').match(/6.*7|7.*6/)) err.push(`ночей=${r['Ночей']}, ожидал 6–7`);\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'strict-vacation-window',\n      query: 'Отпуск 11-18.07, море, бюджет 175000 на двоих, Турция, 6-7 ночей',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['Ответ'] || '');\n        if (!out.includes('Тур должен полностью помещаться')) err.push('нет правила полного попадания в отпуск');\n        if (/Точных вариантов:\\s*[1-9]/.test(out) && /НЕ помещается в отпуск/i.test(out)) err.push('варианты вне окна могли попасть в точные');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'explicit-countries-not-lost',\n      query: 'Найди Турцию 2 тура, Египет 2 тура, Вьетнам 2 тура, бюджет 250000 на двоих, август, 7 ночей',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['Ответ'] || '');\n        for (const c of ['Турция','Египет','Вьетнам']) if (!out.includes(c)) err.push(`страна потерялась: ${c}`);\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'calm-vs-antfarm-separation',\n      query: 'Турция август до 250000 на двоих 7 ночей не муравейник',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['Ответ'] || '').toLowerCase();\n        if (out.includes('строгий спокойный режим') || out.includes('режим спокойный')) err.push('не муравейник ошибочно превращён в спокойный режим');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'explicit-calm-mode',\n      query: 'Турция август до 250000 на двоих 7 ночей спокойный тихий отель без шума',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['Ответ'] || '').toLowerCase();\n        if (!out.includes('спокой') && !out.includes('тихий') && !out.includes('без шума')) err.push('явный спокойный режим не отражён');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'format-guard-no-duplicates',\n      query: 'Египет июль до 175000 на двоих 5 ночей пляж первая линия',\n      check: (r) => {\n        const err = [];\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'autonomous-output-hygiene',\n      query: 'Турция август до 250000 на двоих 6-7 ночей 4-5 звезд не муравейник, без лишней простыни',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['Ответ'] || '');\n        if (out.length > 8000) err.push('ответ слишком длинный');\n        if (/\\\\n\\s*\\d+\\./.test(out)) err.push('literal newline in numbered list');\n        if (/(\\d+\\s*ноч(?:и|ей))\\s*·\\s*\\1/i.test(out)) err.push('дублируются ночи');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'compact-answer-limit',\n      query: 'Подбери Турцию на август до 250000 на двоих, 6-7 ночей, 4-5 звезд, не муравейник, коротко',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['Ответ'] || '');\n        if (out.length > 6500) err.push('ответ длиннее 6500 символов');\n        if (/Техконтроль:[\\s\\S]{0,250}Техконтроль:/i.test(out)) err.push('дублируется техконтроль');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'autopilot-current-version-only',\n      query: 'QA current version only Турция июль 175000 на двоих 7 ночей',\n      check: (r) => {\n        const err = [];\n        if (String(r.version || '') !== AGENT_VERSION) err.push(`version=${r.version}, ожидал ${AGENT_VERSION}`);\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    },\n    {\n      name: 'version-guard',\n      query: 'QA version guard Turkey July 175000 two people 7 nights',\n      check: (r) => {\n        const err = [];\n        const out = String(r.output || r['Ответ'] || '');\n        if (/v15\\.0|v16\\.0|v17\\.0|v18\\.0|v19\\.0|v20\\.0/i.test(out)) err.push('в ответе старая версия');\n        err.push(...qaNoBadText(r));\n        return err;\n      }\n    }\n  ];\n\n  const lines = [];\n  const failed = [];\n  const started = $now.toFormat('dd.MM.yyyy HH:mm');\n  for (const t of tests) {\n    let r;\n    try {\n      r = await runAgentCase.call(this, { chatInput: t.query });\n      const errs = t.check(r).filter(Boolean);\n      if (errs.length) failed.push({ name: t.name, errors: errs, answer: String(r.output || r['Ответ'] || '').slice(0, 1200) });\n      lines.push(qaLine(!errs.length, t.name, errs.join('; ')));\n    } catch (e) {\n      const msg = e && e.message ? e.message : String(e);\n      failed.push({ name: t.name, errors: [msg], answer: '' });\n      lines.push(qaLine(false, t.name, msg));\n    }\n  }\n  const status = failed.length ? 'FAIL' : 'PASS';\n  const output = `${status === 'PASS' ? '🟢' : '🔴'} QA Autopilot ${status}\\nВерсия: ${AGENT_VERSION}\\nДата: ${started}\\nТестов: ${tests.length}\\nОшибок: ${failed.length}\\nДействие: ${status === 'PASS' ? 'ничего не делать' : 'скинуть эту строку/ответ в ChatGPT'}\\n\\n${lines.join('\\n')}\\n\\n${failed.length ? 'Ошибки:\\n' + failed.map(f => `${f.name}: ${f.errors.join('; ')}`).join('\\n') : 'Критичных ошибок не найдено.'}`;\n  return [{ json: {\n    output,\n    message: output,\n    'Дата': started,\n    'Запрос': `__QA_AUTOPILOT_${AGENT_VERSION}_${$now.toFormat('yyyyMMdd_HHmm')}`,\n    'Страна': 'QA',\n    'Месяц': '-',\n    'Бюджет': '-',\n    'Взрослых': '-',\n    'Найдено всего': tests.length,\n    'Подходят': failed.length ? 0 : 1,\n    'Ночей': 'QA',\n    'Лучшие варианты': lines.join('\\n'),\n    'Ответ': output,\n    version: AGENT_VERSION,\n    qaAutopilot: true,\n    qaStatus: status,\n    qaFailed: failed.length\n  }}];\n}\n\nif (QA_REQUESTED) {\n  return await runAutonomousQa.call(this);\n}\n\nconst normalResult = await runAgentCase.call(this, rawText ? rawInput : { chatInput: rawInput.chatInput || rawInput.input || rawInput.message || rawInput.text || rawInput.query || rawInput['Запрос'] || '' });\nreturn [{ json: normalResult }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -220,
          0
        ],
        "id": "8dd95edf-2067-4302-8496-1cc0eaa00d2a",
        "name": "01 Найти туры v22.0 FINAL autonomous polish"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1aThwaUHxJnBro5GC4wJf88nehKgOwk1kXd8pPKAF1xY",
            "mode": "list",
            "cachedResultName": "VAI",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aThwaUHxJnBro5GC4wJf88nehKgOwk1kXd8pPKAF1xY/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Лист1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aThwaUHxJnBro5GC4wJf88nehKgOwk1kXd8pPKAF1xY/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Дата": "={{ $json[\"Дата\"] }}",
              "Запрос": "={{ $json[\"Запрос\"] }}",
              "Страна": "={{ $json[\"Страна\"] }}",
              "Месяц": "={{ $json[\"Месяц\"] }}",
              "Бюджет": "={{ $json[\"Бюджет\"] }}",
              "Взрослых": "={{ $json[\"Взрослых\"] }}",
              "Найдено всего": "={{ $json[\"Найдено всего\"] }}",
              "Подходят": "={{ $json[\"Подходят\"] }}",
              "Лучшие варианты": "={{ $json[\"Лучшие варианты\"] }}",
              "Ответ": "={{ $json[\"Ответ\"] }}"
            },
            "matchingColumns": [
              "Запрос"
            ],
            "schema": [
              {
                "id": "Дата",
                "displayName": "Дата",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Запрос",
                "displayName": "Запрос",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Страна",
                "displayName": "Страна",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Месяц",
                "displayName": "Месяц",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Бюджет",
                "displayName": "Бюджет",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Взрослых",
                "displayName": "Взрослых",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Найдено всего",
                "displayName": "Найдено всего",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Подходят",
                "displayName": "Подходят",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Лучшие варианты",
                "displayName": "Лучшие варианты",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Ответ",
                "displayName": "Ответ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          20,
          0
        ],
        "id": "49f5d008-ac45-42fa-b568-213450bf6c09",
        "name": "02 Записать в таблицу",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "qi2EvvWhjfrLhJk3",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first()?.json || {};\nconst output = input['Ответ'] || input.output || input.message || 'Готово. Результат записан в Google Sheets.';\nreturn [{ json: { ...input, output, message: output, chatOutput: output, returnedToChat: true } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          260,
          0
        ],
        "id": "c0e65484-36f7-4830-918b-1b50e5cd8df8",
        "name": "03 Ответить"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 2
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -700,
          260
        ],
        "id": "285ab4f0-5506-44c7-80fc-f909ec816440",
        "name": "Schedule QA Autopilot"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -700,
          480
        ],
        "id": "51352b9e-ee64-4dc4-a2ac-4f58f6939dff",
        "name": "Manual QA Autopilot"
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { qaAutopilot: true, qaSource: 'autonomous', qaLevel: 'autonomous-search-polish', startedAt: $now.toISO() } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -460,
          360
        ],
        "id": "86ff451f-c70d-49a8-a506-663db758c5c8",
        "name": "00 QA Autopilot start"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "function text(v) {\n  return String(v ?? '').trim();\n}\n\nfunction lower(v) {\n  return text(v).toLowerCase();\n}\n\nfunction pick(obj, keys) {\n  for (const k of keys) {\n    if (obj[k] !== undefined && obj[k] !== null && text(obj[k]) !== '') return obj[k];\n  }\n  return '';\n}\n\nfunction num(v) {\n  const s = text(v).replace(/\\s/g, '').replace(/[^0-9,.]/g, '').replace(',', '.');\n  const n = Number(s);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction hasAny(s, words) {\n  const x = lower(s);\n  return words.some(w => x.includes(w));\n}\n\nfunction qualityGate(j) {\n  const hotel = text(pick(j, ['Название', 'Отель', 'hotel', 'hotel_name', 'name', 'title']));\n  const url = text(pick(j, ['Ссылка', 'source_url', 'url', 'link', 'URL']));\n  const request = text(pick(j, ['Запрос', 'originalRequest', 'request', 'Исходный запрос']));\n  const priceRaw = pick(j, ['Цена', 'price', 'Стоимость', 'amount']);\n  const price = num(priceRaw);\n\n  let score = 10;\n  const risks = [];\n\n  let priceConfidence = 'needs_check';\n\n  if (!url) {\n    score -= 3;\n    risks.push('нет source_url');\n    priceConfidence = 'unknown';\n  }\n\n  if (price === null) {\n    score -= 4;\n    risks.push('цена не распознана');\n    priceConfidence = 'unknown';\n  }\n\n  if (price !== null && price <= 0) {\n    score -= 6;\n    risks.push('цена некорректная');\n    priceConfidence = 'suspicious';\n  }\n\n  if (price !== null && price > 0 && price < 40000) {\n    score -= 5;\n    risks.push('цена выглядит подозрительно низкой');\n    priceConfidence = 'suspicious';\n  }\n\n  if (url && hasAny(url, ['search?', 'google.', 'yandex.', 'text=', 'query='])) {\n    score -= 2;\n    risks.push('ссылка похожа на поиск, а не прямой источник');\n    if (priceConfidence !== 'suspicious') priceConfidence = 'needs_check';\n  }\n\n  const allText = [hotel, request, JSON.stringify(j)].join(' ');\n\n  if (hasAny(allText, ['aqua', 'аква', 'kids', 'дет', 'family', 'семейн', 'animation', 'анимац'])) {\n    score -= 2;\n    risks.push('есть признаки семейного/детского отеля');\n  }\n\n  if (hasAny(allText, ['large resort', 'huge', 'большой комплекс', 'много корпусов', 'муравейник'])) {\n    score -= 3;\n    risks.push('есть риск муравейника');\n  }\n\n  if (hasAny(allText, ['old reviews', 'низкий рейтинг', 'плохие отзывы', 'rating 6', 'rating: 6'])) {\n    score -= 2;\n    risks.push('есть риск слабых отзывов');\n  }\n\n  if (hasAny(allText, ['no meal', 'без питания', 'питание не указано', 'unclear meal'])) {\n    score -= 1;\n    risks.push('питание не подтверждено');\n  }\n\n  score = Math.max(0, Math.min(10, score));\n\n  let riskLevel = 'low';\n  if (score < 8 || risks.length >= 2) riskLevel = 'medium';\n  if (score < 6 || priceConfidence === 'suspicious' || risks.length >= 4) riskLevel = 'high';\n\n  let decision = 'recommend';\n  let rejectReason = '';\n\n  if (riskLevel === 'high' || score < 6) {\n    decision = 'reject';\n    rejectReason = risks.join('; ') || 'качество варианта не подтверждено';\n  } else if (score < 8 || priceConfidence !== 'confirmed') {\n    decision = 'backup';\n  }\n\n  const status = decision === 'recommend'\n    ? 'Рекомендовать'\n    : decision === 'backup'\n      ? 'Запасной вариант / требуется проверка'\n      : 'Отклонить';\n\n  return {\n    ...j,\n\n    'Статус проверки': status,\n    'Score': score,\n    'Risk Level': riskLevel,\n    'Reject Reason': rejectReason,\n    'Price Confidence': priceConfidence,\n    'Source URL': url,\n    'Checked At': new Date().toISOString(),\n\n    status,\n    score,\n    risk_level: riskLevel,\n    reject_reason: rejectReason,\n    price_confidence: priceConfidence,\n    source_url: url,\n    checked_at: new Date().toISOString()\n  };\n}\n\nreturn items.map(item => {\n  const json = qualityGate(item.json || {});\n  return {\n    json,\n    pairedItem: item.pairedItem\n  };\n});"
        },
        "id": "vaiQualityGateV31",
        "name": "VAi Quality Gate v31",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          0
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "function text(v) {\n  return String(v ?? '').trim();\n}\n\nfunction lower(v) {\n  return text(v).toLowerCase();\n}\n\nfunction pick(obj, keys) {\n  for (const k of keys) {\n    if (obj[k] !== undefined && obj[k] !== null && text(obj[k]) !== '') return obj[k];\n  }\n  return '';\n}\n\nfunction num(v) {\n  const s = text(v).replace(/\\s/g, '').replace(/[^0-9,.]/g, '').replace(',', '.');\n  const n = Number(s);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction hasAny(s, words) {\n  const x = lower(s);\n  return words.some(w => x.includes(w));\n}\n\nfunction qualityGate(j) {\n  const hotel = text(pick(j, ['Название', 'Отель', 'hotel', 'hotel_name', 'name', 'title']));\n  const url = text(pick(j, ['Ссылка', 'source_url', 'url', 'link', 'URL']));\n  const request = text(pick(j, ['Запрос', 'originalRequest', 'request', 'Исходный запрос']));\n  const priceRaw = pick(j, ['Цена', 'price', 'Стоимость', 'amount']);\n  const price = num(priceRaw);\n\n  let score = 10;\n  const risks = [];\n\n  let priceConfidence = 'needs_check';\n\n  if (!url) {\n    score -= 3;\n    risks.push('нет source_url');\n    priceConfidence = 'unknown';\n  }\n\n  if (price === null) {\n    score -= 4;\n    risks.push('цена не распознана');\n    priceConfidence = 'unknown';\n  }\n\n  if (price !== null && price <= 0) {\n    score -= 6;\n    risks.push('цена некорректная');\n    priceConfidence = 'suspicious';\n  }\n\n  if (price !== null && price > 0 && price < 40000) {\n    score -= 5;\n    risks.push('цена выглядит подозрительно низкой');\n    priceConfidence = 'suspicious';\n  }\n\n  if (url && hasAny(url, ['search?', 'google.', 'yandex.', 'text=', 'query='])) {\n    score -= 2;\n    risks.push('ссылка похожа на поиск, а не прямой источник');\n    if (priceConfidence !== 'suspicious') priceConfidence = 'needs_check';\n  }\n\n  const allText = [hotel, request, JSON.stringify(j)].join(' ');\n\n  if (hasAny(allText, ['aqua', 'аква', 'kids', 'дет', 'family', 'семейн', 'animation', 'анимац'])) {\n    score -= 2;\n    risks.push('есть признаки семейного/детского отеля');\n  }\n\n  if (hasAny(allText, ['large resort', 'huge', 'большой комплекс', 'много корпусов', 'муравейник'])) {\n    score -= 3;\n    risks.push('есть риск муравейника');\n  }\n\n  if (hasAny(allText, ['old reviews', 'низкий рейтинг', 'плохие отзывы', 'rating 6', 'rating: 6'])) {\n    score -= 2;\n    risks.push('есть риск слабых отзывов');\n  }\n\n  if (hasAny(allText, ['no meal', 'без питания', 'питание не указано', 'unclear meal'])) {\n    score -= 1;\n    risks.push('питание не подтверждено');\n  }\n\n  score = Math.max(0, Math.min(10, score));\n\n  let riskLevel = 'low';\n  if (score < 8 || risks.length >= 2) riskLevel = 'medium';\n  if (score < 6 || priceConfidence === 'suspicious' || risks.length >= 4) riskLevel = 'high';\n\n  let decision = 'recommend';\n  let rejectReason = '';\n\n  if (riskLevel === 'high' || score < 6) {\n    decision = 'reject';\n    rejectReason = risks.join('; ') || 'качество варианта не подтверждено';\n  } else if (score < 8 || priceConfidence !== 'confirmed') {\n    decision = 'backup';\n  }\n\n  const status = decision === 'recommend'\n    ? 'Рекомендовать'\n    : decision === 'backup'\n      ? 'Запасной вариант / требуется проверка'\n      : 'Отклонить';\n\n  return {\n    ...j,\n\n    'Статус проверки': status,\n    'Score': score,\n    'Risk Level': riskLevel,\n    'Reject Reason': rejectReason,\n    'Price Confidence': priceConfidence,\n    'Source URL': url,\n    'Checked At': new Date().toISOString(),\n\n    status,\n    score,\n    risk_level: riskLevel,\n    reject_reason: rejectReason,\n    price_confidence: priceConfidence,\n    source_url: url,\n    checked_at: new Date().toISOString()\n  };\n}\n\nreturn items.map(item => {\n  const json = qualityGate(item.json || {});\n  return {\n    json,\n    pairedItem: item.pairedItem\n  };\n});"
        },
        "id": "vaiQualityGateV31",
        "name": "VAi Quality Gate v31 2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          0
        ]
      }
    ],
    "pinData": {},
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "VAi Quality Gate v31",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule QA Autopilot": {
        "main": [
          [
            {
              "node": "00 QA Autopilot start",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual QA Autopilot": {
        "main": [
          [
            {
              "node": "00 QA Autopilot start",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "00 QA Autopilot start": {
        "main": [
          [
            {
              "node": "VAi Quality Gate v31",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "02 Записать в таблицу": {
        "main": [
          [
            {
              "node": "03 Ответить",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "01 Найти туры v22.0 FINAL autonomous polish": {
        "main": [
          [
            {
              "node": "02 Записать в таблицу",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "VAi Quality Gate v31": {
        "main": [
          [
            {
              "node": "VAi Quality Gate v31 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "VAi Quality Gate v31 2": {
        "main": [
          [
            {
              "node": "01 Найти туры v22.0 FINAL autonomous polish",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "49924c6e8fd3a51b06a66f4d61c08afb44a43b1c78e3449379ab03f9eeecc265",
      "version": "v7.6-compact-travel-buyer-core-v2"
    },
    "tags": [],
    "id": "vaiTuryV34ReleaseCandidate"
  }
]